<div class="spinner-container" *ngIf="!(allImagesLoaded | async)" (click)="close()">
    <ion-spinner name="circles" color="light"></ion-spinner>
</div>
<ion-header *ngIf="isMd()" [ngStyle]="{'display' : (allImagesLoaded | async) ? 'block' : 'none'}">
    <div class="grabber"></div>
    <ion-toolbar color="light">
        <ion-buttons slot="start">
            <ion-button (click)="close()">
                <ion-icon name="close-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-buttons>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button>
                <ion-icon name="ellipsis-horizontal"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-grid [ngStyle]="{'display' : (allImagesLoaded | async) ? 'block' : 'none', 'overflow-y': 'scroll', 'background-color': 'gray', 'background-image': 'url(' + backgroundImage + ')'}">
    <ion-button *ngIf="!isMd()" fill="clear" class="close" size="large" shape="round" (click)="close()">
        <ion-icon name="close"></ion-icon>
    </ion-button>
    <ion-row *ngIf="isMd() && title">
        <ion-col class="up-title">
            <ion-label class="title">{{title}}</ion-label>
        </ion-col>
    </ion-row>
    <ion-row *ngIf="isMd() && subtitle">
        <ion-col class="up-title">
            <ion-label [class]="(title) ? 'subtitle' : 'title'">{{subtitle}}</ion-label>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col [sizeXs]="10" [sizeMd]="5" class="product-medias" >
            <ion-row>
                <ion-col class="current-media">
                    <ion-slides [options]="slidesOptions" [pager]="true" #slider>
                        <ion-slide *ngFor="let slide of slides; index as index" [ngClass]="(slide.media.type === 1) ? 'center' : ''" style="max-height: 350px">
                            <img *ngIf="slide.media.type === 'picture'" (load)="mediaLoaded(index)" [src]="slide.src | safe:'resourceUrl'" [alt]="'min' + index"/>
                            <div *ngIf="slide.media.type === 'video'" class="iframe-container">
                                <video #video controls [autoplay]="!isMobile()" oncanplay="this.muted=true" loop (loadeddata)="mediaLoaded(index, video)">
                                    <source [src]="slide.src | safe:'resourceUrl'"/>
                                </video>
                            </div>
                        </ion-slide>
                    </ion-slides>
                    <div class="swiper-button-next" #nextButton [ngStyle]="{'display': (slides.length > 1) ? 'block' : 'none' }" (click)="nextMedia()"></div>
                    <div class="swiper-button-prev" #prevButton [ngStyle]="{'display': (slides.length > 1) ? 'block' : 'none' }" (click)="prevMedia()"></div>
                    <div class="swiper-pagination" [ngStyle]="{'display': (slides.length > 1) ? 'block' : 'none' }"></div>
                </ion-col>
            </ion-row>
        </ion-col>
        <ion-col [sizeXs]="2" [sizeMd]="1" style="adding: 0">
            <ion-row *ngFor="let slide of slides; index as index"
                     [ngClass]="(index === (currentMedia | async)) ? 'current' : ''"
                     class="miniature">
                <img *ngIf="slide.media.type === 'picture'" [src]="slide.src | safe:'resourceUrl'" [alt]="'min' + index" (click)="slideTo(index)"/>
                <ion-icon *ngIf="slide.media.type === 'video'" name="play-circle" class="play-button" (click)="slideTo(index)"></ion-icon>
            </ion-row>
        </ion-col>
        <ion-col [sizeXs]="12" [sizeMd]="6" class="product-description">
            <ion-row style="padding-left: 0">
                <ion-col class="up-portion">
                    <ion-row style="padding-left: 14px;" *ngIf="!isMd() && title">
                        <ion-label class="title">{{title}}</ion-label>
                    </ion-row>
                    <ion-row style="padding-right: 0">
                        <div class="spacer s66" ></div>
                    </ion-row>
                    <ion-row style="padding-left: 14px;" *ngIf="!isMd() && subtitle">
                        <ion-label [class]="title ? 'subtitle' : 'title'">{{subtitle}}</ion-label>
                    </ion-row>
                    <ion-row>
                        <div class="spacer s33" ></div>
                    </ion-row>
                </ion-col>
            </ion-row>
            <ion-row style="padding-left: 14px; height: 60%">
                <ion-text [ngStyle]="{'overflow-y': (isMd()) ? 'visible' : 'auto'}" style="white-space: pre-wrap; padding-top: 10px; word-wrap: break-word">
                    {{description}}
                </ion-text>
            </ion-row>
            <ion-row style="padding-top: 14px">
                <ion-col style="width: 49%">
                    <ion-row *ngIf="!showroomEnv.hideWishlist">
                        <app-quantity-button
                                [ean]="ean"
                                [price]="price"
                                [inventoryQuantity]="product.inventory_quantity"
                        ></app-quantity-button>
                    </ion-row>
                    <ion-row>
                        <ion-label class="price" *ngIf="customerEnv.showPrice !== false">{{price | currency:customerEnv.currency}}</ion-label>
                    </ion-row>
                </ion-col>
                <ion-col class="border-top" style="width: 50%">
                    <ion-button size="large" style="flex-flow: column;">
                        En parler avec un
                        <br />
                        conseiller
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col [sizeXs]="12" [sizeMd]="6">
            <ion-row>
                <ion-label style="padding: 12px; font-size: 1.5em">Détails</ion-label>
                <ion-button (click)="toggleDetailsContent()" fill="clear" color="light">
                    <ion-icon name="chevron-down-outline" [name]="(isDetailsExpanded | async) ? 'chevron-up-outline' : 'chevron-down-outline'"></ion-icon>
                </ion-button>

            </ion-row>
            <ion-row>
                <div class="expandable" [ngClass]="(isDetailsExpanded | async) ? 'expanded' : 'not-expanded'">
                    <ion-text [ngStyle]="{'overflow-y': (isMd()) ? 'visible' : 'auto'}" style="white-space: pre-wrap; padding-top: 10px; word-wrap: break-word">
                        {{description}}
                    </ion-text>
                </div>
            </ion-row>
            <ion-row>
                <ion-label style="padding: 12px; font-size: 1.5em">Caractéristiques</ion-label>
                <ion-button (click)="toggleCaracteristiquesContent()" fill="clear" color="light">
                    <ion-icon name="chevron-down-outline" [name]="(isCaracteristiquesExpanded | async) ? 'chevron-up-outline' : 'chevron-down-outline'"></ion-icon>
                </ion-button>
            </ion-row>
            <ion-row>
                <div class="expandable" [ngClass]="(isCaracteristiquesExpanded | async) ? 'expanded' : 'not-expanded'">
                    <ion-text [ngStyle]="{'overflow-y': (isMd()) ? 'visible' : 'auto'}" style="white-space: pre-wrap; padding-top: 10px; word-wrap: break-word">
                        {{details}}
                    </ion-text>
                </div>
            </ion-row>
            <ion-row>
                <ion-label style="padding: 12px; font-size: 1.5em">Fiche technique</ion-label>
                <ion-button (click)="toggleFicheTechniqueContent()" fill="clear" color="light">
                    <ion-icon name="chevron-down-outline" [name]="(isFicheTechniqueExpanded | async) ? 'chevron-up-outline' : 'chevron-down-outline'"></ion-icon>
                </ion-button>
            </ion-row>
            <ion-row>
                <div class="expandable" [ngClass]="(isFicheTechniqueExpanded | async) ? 'expanded' : 'not-expanded'">
                    <ion-text [ngStyle]="{'overflow-y': (isMd()) ? 'visible' : 'auto'}" style="white-space: pre-wrap; padding-top: 10px; word-wrap: break-word">
                        {{description}}
                    </ion-text>
                </div>
            </ion-row>
        </ion-col>
        <ion-col>

        </ion-col>
    </ion-row>
</ion-grid>
