<div class="spinner-container" *ngIf="!(allMediasLoaded | async)">
    <ion-spinner color="light"></ion-spinner>
</div>

<ion-item style="--background: transparent" lines="none" *ngIf="(allMediasLoaded | async)" #toolbar>
    <ion-buttons slot="end" style="--background: transparent">
        <ion-button fill="solid" color="light" (click)="close()">
            <ion-icon name="close-outline"></ion-icon>
        </ion-button>
    </ion-buttons>
</ion-item>

<div *ngIf="(allMediasLoaded | async)" #mainContainer class="main-container"
     fxLayout="row" fxLayoutAlign="space-between stretch" fxLayoutGap="10px">
    <div *ngFor="let line of lines; index as index" class="line" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" fxFlex="30">
        <div *ngFor="let feature of getFeaturesByLine(index)"
             class="feature" fxFlexAlign="center space-between" [fxFlex]="50"
             [fxFlex.lt-sm]="'none'">

            <app-cci-favorite-feature #features *ngIf="isFeatureWishlist(feature); else defaultFeatureComponent"
                                      [ean]="ean"
                                      (itemClicked)="featuresFnMap.get(feature)()"
            ></app-cci-favorite-feature>

            <ng-template #defaultFeatureComponent>
                <app-cci-feature *ngIf="getFeatureItem(feature)"
                        [item]="getFeatureItem(feature)"
                        (itemClicked)="featuresFnMap.get(feature)()"
                ></app-cci-feature>
            </ng-template>

        </div>
    </div>
</div>
