<form *ngIf="formGroup" [formGroup]="formGroup">
  <ion-item>
    <ion-label style="font-weight: bold; font-style: italic">{{'Main information' | translate}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-grid>
      <ion-row>
        <ion-item style="width: 100%">
          <ion-label position="floating">Ean</ion-label>
          <ion-input [formControl]="formGroup.controls.ean" (ionBlur)="onEanChanged()"></ion-input>
          <ion-button class="scan-btn" *ngIf="hasScanner && !isUpdating" (click)="scanProduct()">SCAN</ion-button>
          <ion-text *ngIf="warningEan" color="danger"> {{warningEan | translate}}</ion-text>
        </ion-item>
      </ion-row>

      <ion-row>
        <ion-item style="width: 100%">
          <ion-label position="floating">Code</ion-label>
          <ion-input formControlName="code" (ionChange)="onProductChange()"></ion-input>
        </ion-item>
      </ion-row>

      <ion-row *ngIf="hasPersonalEditor">
        <ion-item style="width: 80%">
          <ion-label position="floating">Owner</ion-label>
          <ion-select [value]="owner" (ionChange)="onOwnerChange($event)" formControlName="user" interface="popover">
            <ion-select-option *ngFor="let user of users" [value]="owner">{{user.firstname}} {{user.lastname}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-row>

      <ion-row>
        <ion-item style="width: 80%">
          <ion-label position="floating">{{'Price' | translate}}</ion-label>
          <ion-input formControlName="price" (ionChange)="onProductChange()"></ion-input>
        </ion-item>
        <ion-item style="width: 20%" lines="none">
          <ion-label position="floating">Currency</ion-label>
          <ion-select (ionChange)="onCurrencyChange($event)" formControlName="currency" interface="popover">
            <ion-select-option *ngFor="let currency of customerService.handledCurrencies" [value]="currency">{{currency}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-row>
    </ion-grid>
  </ion-item>

  <ion-item>
    <ion-label style="font-weight: bold; font-style: italic">{{'Additional information' | translate}}</ion-label>
    <ion-item lines="none">
      <ion-label position="floating">Language</ion-label>
      <ion-select (ionChange)="onLanguageChange($event)" formControlName="language" interface="popover">
        <ion-select-option *ngFor="let lng of translateService.langs" [value]="lng">{{lng}}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-item>

  <ion-item>
    <ion-grid>
      <ion-row>
        <ion-item style="width: 100%">
          <ion-label position="floating">{{'Label' | translate}}<ion-spinner *ngIf="loadingLang" class="label-spinner"></ion-spinner></ion-label>
          <ion-input formControlName="label" (ionChange)="onProductChange()"></ion-input>
        </ion-item>
      </ion-row>

      <ion-row>
        <ion-item style="width: 100%" lines="none">
          <ion-label position="floating">Description<ion-spinner *ngIf="loadingLang" class="label-spinner"></ion-spinner></ion-label>
          <ion-textarea (ionChange)="onProductChange()" formControlName="description"></ion-textarea>
        </ion-item>
      </ion-row>

      <ion-row>
        <ion-item style="width: 100%" lines="none">
          <ion-label position="floating">Details<ion-spinner *ngIf="loadingLang" class="label-spinner"></ion-spinner></ion-label>
          <ion-textarea (ionChange)="onProductChange()" formControlName="details"></ion-textarea>
        </ion-item>
      </ion-row>
    </ion-grid>
  </ion-item>

</form>

