<ion-card>
  <ion-card-header>
    <ion-card-title>{{'Video presentation' | translate}}</ion-card-title>
  </ion-card-header>
  <ion-card-content [formGroup]="form">
    <ion-item>
      <ion-label position="floating">URL</ion-label>
      <ion-input formControlName="presentationVideoUrl" (ionChange)="onChangePresentationVideoUrl()"></ion-input>
    </ion-item>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-buttons style="width: 100%">
              <ion-button (click)="fileInputImage.click()" color="primary" fill="solid" style="width: 100%">
                <div *ngIf="!(isUploading | async); else spinner">
                  <ion-label>{{'Upload new video' | translate}}</ion-label>
                </div>
                <ng-template #spinner>
                  <ion-spinner color="light"></ion-spinner>
                </ng-template>
              </ion-button>
              <input #fileInputImage type="file" accept=".mp4" [uploader]="uploader"
                     ng2FileSelect style="display:none;" (change)="upload()"/>
            </ion-buttons>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-item>
      <ion-label>{{'Auto play' | translate}}</ion-label>
      <ion-checkbox formControlName="presentationVideoAutoStart"></ion-checkbox>
    </ion-item>
    <div *ngIf="form.valid" class="iframe-container">
      <iframe #iframe [src]="form.controls.presentationVideoUrl.value | safe: 'resourceUrl'"
              sandbox="allow-presentation allow-scripts allow-same-origin"
              allowfullscreen
      ></iframe>
    </div>
    <ion-grid>
      <ion-row>
        <ion-col style="text-align: center">
          <ion-button [disabled]="form.invalid" (click)="validForm()">{{'Confirm' | translate}}</ion-button>
        </ion-col>
        <ion-col style="text-align: center">
          <ion-button color="danger" (click)="dismiss()">{{'Dismiss' | translate}}</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>
