ion-toolbar {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  --background: transparent;
  pointer-events: none;

  ion-buttons {
    background: transparent;

    ion-button {
      background-color: rgba(255, 255, 255, 0);
      --ripple-color: rgba(0, 0, 0, 0);
      --background-hover: rgba(0, 0, 0, 0);
      color: #ffffff;
      transition: all .05s ease-in;

      &:active:enabled {
        transform: scale(0.9);
      }

      ion-icon {
        pointer-events: all;
      }
    }
  }
}

@media (max-width: 320px) {
  ion-toolbar {
    padding: 0;
  }
}

@media (min-width: 320px) and (max-width: 576px) {
  ion-toolbar {
    padding: 0;
  }
}

@media (min-width: 576px ) {
  ion-toolbar {
    padding: 0 2%;
  }
}

@media (min-width: 992px ) {
  ion-toolbar {
    padding: 0 4%;
  }
}

.ion-justify-content-center {
  justify-content: center !important;
}



ion-content {
  --background: transparent;
  box-shadow: none;

  ion-slides.main {
    transform: translateY(-50%);
    pointer-events: none;
    text-align: center;
    padding: 20px 0;
    margin: 0 10%;
    top: 50%;

    ion-slide {
      pointer-events: all;
      margin: auto 0;
    }

    ion-card {
      height: 100%;
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
      background-color: white;
      position: relative;
      border: none;
      margin: 7px;
      padding: 0;

      &:hover {
        cursor: pointer;
      }

      ion-card-content {
        padding: 0;
        margin: 0;
        height: 100%;
        position: relative;
      }
    }
  }

  .nav {
    position: relative;
    z-index: 100;
    width: 100%;

    &.next {
      font-size: calc(12px + 1em);
      position: absolute;
      float: right;
    }

    &.prev {
      position: absolute;
      float: left;
    }
  }
}

.prev {
  font-size: calc(12px + 1em);
}

.next {
  font-size: calc(12px + 1em);
}

.spinner-container {
  background-color: transparent;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 2;

  ion-spinner {
    transform: translateY(-50%) scale(1.5);
    display: block;
    margin: auto;
    top: 50%;
  }
}

ion-grid {
  top: 50%;
  position: relative;
  transform: translateY(-50%);
}

.close {
  --background: rgba(255, 255, 255, 0);
  --ripple-color: transparent;
  --background-hover: transparent;
  --color: white;
  right: 0;
  position: absolute;
  z-index: 99;
  margin-right: 4%;

  ion-icon {
    color: white;
    transition: all .1s ease-in-out;
    transform: scale(1.5);
  }

  &:hover ion-icon {
    transform: scale(1.6);
  }
}


@media (max-width: 320px) {
  .close {
    margin-right: 0;
  }
}

@media (min-width: 320px) and (max-width: 576px) {
  .close {
    margin-right: 0;
  }
}

@media (min-width: 576px ) {
  .close {
    margin-right: 2%;
  }
}

@media (min-width: 992px ) {
  .close {
    margin-right: 4%;
  }
}
