<ion-content>
  <div class="spinner-container" *ngIf="!(productsFullyLoaded | async) && !isPicture">
    <ion-spinner name="circles" color="light"></ion-spinner>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button [ngStyle]="{'display': isPicture || (productsFullyLoaded | async) ? 'block' : 'none'}"
                    fill="clear" class="close" shape="round" (click)="close()">
          <ion-icon name="close"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-slides class="main" pager [options]="carouselOpts" #slides
                    [ngStyle]="{'display': isPicture || (productsFullyLoaded | async) ? 'block' : 'none'}">
          <ion-slide *ngFor="let item of items; index as index" style="margin: auto 0;">
            <app-image-cluster *ngIf="poi.type.indexOf('image') !== -1" [image]="item"></app-image-cluster>
            <ion-card *ngIf="poi.type.indexOf('image') === -1">
              <ion-card-content>
                <app-product-viewer
                        [data]="item"
                        [indexInCluster]="index"
                        [viewOnClick]="currentViewOnClick"
                        [clusterType]="poi.type"
                        (fullyLoaded$)="productIsLoaded(index, $event)"
                        (productFail)="productIsLoaded(index, false, $event)"
                ></app-product-viewer>
              </ion-card-content>
            </ion-card>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-toolbar *ngIf="!isMobile()" [ngStyle]="{'display': isPicture || (productsFullyLoaded | async) ? 'block' : 'none'}">
  <ion-buttons slot="start">
    <ion-button class="prev" (click)="prev()" [disabled]="isBegin">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-buttons slot="end">
    <ion-button class="next" (click)="next()" [disabled]="isEnd">
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>
