<ion-grid [formGroup]="pdfFormGroup">
    <ion-row>
        <ion-col size="2">
            <ion-item>
                <ion-label position="floating">{{'Language' | translate}}</ion-label>
                <ion-select (ionChange)="onLanguageChange($event)" formControlName="language" interface="popover">
                    <ion-select-option *ngFor="let lng of localLanguageList" [value]="lng">{{lng}}</ion-select-option>
                </ion-select>
            </ion-item>
        </ion-col>
        <ion-col style="text-align: center" *ngIf="(isLoading | async)">
            <ion-spinner color="dark"></ion-spinner>
        </ion-col>
        <ion-col *ngIf="!(isLoading | async)">
            <ion-item style="--inner-padding-end: 0">

                <ion-buttons slot="start">
                    <ion-button (click)="fileInputVideo.click()" color="primary" fill="clear" [color]="(pdfFormGroup.valid) ? 'primary' : 'danger'">
                        <ion-icon name="cloud-upload-outline" style="margin-right: 10px"></ion-icon>
                        <ion-label>{{(pdfFormGroup.valid) ?  ('Update PDF file' | translate) : ('Upload new PDF file' | translate)}}</ion-label>
                    </ion-button>
                </ion-buttons>
                <ion-buttons slot="end">
                    <ion-button *ngIf="pdfFormGroup.valid" (click)="download()" color="primary" fill="clear">
                        <ion-icon name="cloud-download-outline"></ion-icon>
                    </ion-button>
                    <ion-button (click)="delete()" color="danger" fill="clear">
                        <ion-icon name="trash-sharp"></ion-icon>
                    </ion-button>
                </ion-buttons>

                <input #fileInputVideo type="file" accept=".pdf" ng2FileSelect [uploader]="uploader"
                       style="display:none;" (change)="uploadPdf()"/>

            </ion-item>
        </ion-col>
    </ion-row>
</ion-grid>
