<ion-card>
  <ion-card-header>
    <ion-card-title>{{message | translate}}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col style="text-align: center">
          <ion-button (click)="confirm()" color="success">{{'Confirm' | translate}}</ion-button>
        </ion-col>
        <ion-col style="text-align: center">
          <ion-button (click)="dismiss()" color="danger">{{'Dismiss' | translate}}</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>
