<ion-list *ngIf="isReady">
  <ion-list-header style="padding-left: 0">
    <ion-label>
      {{'Image' | translate}}{{(maxNbImages > 1) ? 's (Max:' + maxNbImages + ')' : ''}}
    </ion-label>
  </ion-list-header>

  <ion-item *ngIf="!hasImages()">
    <ion-label>
      {{'No image linked to this POI at the moment' | translate}}
    </ion-label>
  </ion-item>

  <ion-grid>
    <ion-row>
      <ion-col [sizeMd]="3" [sizeSm]="6" [sizeXs]="12" *ngFor="let image of images; let i = index" style="height: 260px">
        <app-image-row-preview
                style="height: 100%; width: 100%"
                [image]="image"
                (deleteEvent)="deleteImage(i)"></app-image-row-preview>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-button (click)="fileInputImage.click()" fill="clear" shape="round" [disabled]="!canUpload()">
    <ion-icon slot="icon-only" name="add"></ion-icon>
  </ion-button>
  <input #fileInputImage type="file" accept=".png,.jpg" [uploader]="uploader"
         ng2FileSelect style="display:none;" (change)="uploadMedia()"/>
</ion-list>
