.uploader-card {
  padding-top: 16px;

  ion-button:not(.rotate-icon) {
    width: 100%;
  }
  ion-img::part(image) {
    height: 8vw;
    display: block;
  }
}

.rotate-icon {
  width: 32px;
}

.rotate-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.spinner-container {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);

  ion-spinner {
    display: block;
    margin: auto;
  }
}

.iframe-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  margin: 0 auto;

  video {
    display: block;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
  }
}