<ion-card class="uploader-card">
  <div class="iframe-container" *ngIf="video; else displayVideoName">
    <video controls [autoplay]="!isMobile" oncanplay="this.muted=true" loop>
      <source [src]="video.url | safe:'resourceUrl'"/>
    </video>
  </div>
  <ion-card-header>
    <ion-card-subtitle style="text-align: center">{{('Video' | translate) + ' ' + index}}</ion-card-subtitle>
    <ng-template #displayVideoName>
      <ion-card-subtitle style="text-align: center">{{video.name}}</ion-card-subtitle>
    </ng-template>
    <ion-card-title>
      <ion-buttons *ngIf="video" (click)="deleteVideo()">
        <ion-button color="danger" fill="clear">
          {{'Delete' | translate | titlecase}}
        </ion-button>
      </ion-buttons>
    </ion-card-title>
  </ion-card-header>
</ion-card>
