@use "src/assets/webfont/zwicon.css";

.main-container {
  background-color: transparent;
  width: 100%;
  height: calc(100% - 48px);
  pointer-events: all;
  flex-direction: column-reverse !important;
  padding: 0 10px;
  overflow-y: auto;
}

.line {
  background-color: transparent;
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
}

.feature {
  background-color: transparent;
  width: 100%;
  height: 100%;
  position: relative;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
