@use '../../../../../../../theme/custom';

.swiper-button-next {
  position: absolute;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23373DF5'%2F%3E%3C%2Fsvg%3E") !important;
}

.swiper-button-prev {
  position: absolute;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23373DF5'%2F%3E%3C%2Fsvg%3E") !important;
}

.miniature {
  min-height: 70px;

  .play-button {
    top: 50%;
    display: block;
    width: 100%;
    left: 0;
    height: 50%;
    color: black;
    position: absolute;
    transform: translateY(-50%);
    opacity: .5;
    transition: opacity .2s ease-in-out;

    &:hover {
      cursor: pointer;
    }
  }

  &.current {
    box-shadow: 0 -1px 0 #000000;

    & > img {
      opacity: 1;
    }

    & > ion-icon {
      opacity: 1;
    }
  }

  &:not(.current):hover {
    cursor: pointer;
  }

  img {
    display: block;
    margin: auto;
    height: 70px;
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
  }
}
