<ion-slides *ngIf="slides" [options]="miniaturesSlidesOpts" #slider>
  <ion-slide *ngFor="let slide of slides; index as index"
             (click)="slideTo(index)"
             [ngClass]="index === (currentIndex | async) ? 'current' : ''"
             class="miniature">
    <img *ngIf="slide.media.type === 'picture'" [src]="slide.src | safe:'resourceUrl'" [alt]="'min' + index" (click)="slideTo(index)"/>
    <ion-icon *ngIf="slide.media.type === 'video'" name="play-circle" class="play-button" (click)="slideTo(index)"></ion-icon>
  </ion-slide>
</ion-slides>
<div class="swiper-button-next" (click)="slideNext()"></div>
<div class="swiper-button-prev" (click)="slidePrev()"></div>
