<form [formGroup]="formGroup">
  <ion-list>
    <ion-item style="text-align: center" *ngIf="displaySearchProductButton">
      <ion-button color="primary" fill="solid" (click)="openProductFinder()" style="width: 100%">
        <ion-icon name="search" style="margin-right: 5px"></ion-icon>
        <ion-label>Search product</ion-label>
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-label position="floating" appInputError [label]="'Ean'" [control]="eanControl" [errors]="eanControl.errors"></ion-label>
      <ion-input [disabled]="updateProduct" formControlName="ean" (ionChange)="isFormValid.emit(formGroup.valid)" (ionBlur)="eanChanged()">
        <ion-button class="scan-btn" *ngIf="!updateProduct && isBarcodeScannerEnabled" (click)="scanProduct()">SCAN</ion-button>
      </ion-input>
      <div *ngIf="!updateProduct" class="uploader-error-msg">{{warningEan | translate}}</div>
    </ion-item>
    <ion-item>
      <ion-label position="floating" appInputError [label]="'Code'" [control]="codeControl" [errors]="codeControl.errors"></ion-label>
      <ion-input formControlName="code" (ionChange)="isFormValid.emit(formGroup.valid)"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" appInputError [label]="'Language'" [control]="languageControl" [errors]="languageControl.errors"></ion-label>
      <ion-select (ionChange)="onLanguageChange($event)" formControlName="language" interface="popover">
        <ion-select-option *ngFor="let lng of translateService.langs" [value]="lng">{{lng}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating" appInputError [label]="'Label'" [control]="labelControl" [errors]="labelControl.errors"></ion-label>
      <ion-input formControlName="label" (ionChange)="isFormValid.emit(formGroup.valid)"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" appInputError [label]="'Description'" [control]="descriptionControl" [errors]="descriptionControl.errors"></ion-label>
      <ion-textarea [autoGrow]="true"  formControlName="description" (ionChange)="isFormValid.emit(formGroup.valid)"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position="floating" appInputError [label]="'Details'" [control]="detailsControl" [errors]="detailsControl.errors"></ion-label>
      <ion-textarea [autoGrow]="true"  formControlName="details" (ionChange)="isFormValid.emit(formGroup.valid)"></ion-textarea>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item>
      <ion-label position="floating" appInputError [label]="'Price'" [control]="priceControl" [errors]="priceControl.errors"></ion-label>
      <ion-input formControlName="price" (wheel)="$event.preventDefault()" (ionChange)="isFormValid.emit(formGroup.valid)" type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col style="padding-left: 0">
            <ion-label>Images ({{nbImagesMax}} Max)</ion-label>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="(imageUploaderErrorMessage | async)">
          <ion-col>
            <ion-label class="uploader-error-msg">{{(imageUploaderErrorMessage | async)}}</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col *ngFor="let image of images; index as i" sizeMd="3" sizeLg="3" sizeXs="6">
            <app-image-previsualization [image]="image" [index]="i + 1" (deleteEvent)="deleteMedia($event)"></app-image-previsualization>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col style="padding-left: 10px">
            <ion-buttons>
              <ion-button [disabled]="images.length >= nbImagesMax" style="width: 100%" color="primary" fill="solid" expand="fill" (click)="fileInputImage.click()">
                <ion-icon name="add"></ion-icon>
              </ion-button>
              <input #fileInputImage type="file" accept=".png,.jpg" [uploader]="uploader"
                     ng2FileSelect style="display:none;" (change)="uploadNewImage()"/>
            </ion-buttons>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col style="padding-left: 0">
            <ion-label>{{'Videos' | translate}} ({{nbVideosMax}} Max)</ion-label>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="(videoUploaderErrorMessage | async);">
          <ion-col>
            <ion-label class="uploader-error-msg">{{(videoUploaderErrorMessage | async)}}</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col *ngFor="let video of videos; index as i" size="12">
            <app-video-previsualization [video]="video" [index]="i + 1" (deleteEvent)="deleteMedia($event)" [isMobile]="isMobile()"></app-video-previsualization>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col style="padding-left: 10px">
            <ion-buttons>
              <ion-button [disabled]="videos.length >= nbVideosMax" style="width: 100%" color="primary" fill="solid" expand="fill" (click)="fileInputVideo.click()">
                <ion-icon *ngIf="!(videoIsLoading | async); else videoSpinner" name="add"></ion-icon>
                <ng-template #videoSpinner>
                  <ion-spinner color="light"></ion-spinner>
                </ng-template>
              </ion-button>
              <input #fileInputVideo type="file" accept=".mp4,.mov" [uploader]="uploader"
                     ng2FileSelect style="display:none;" (change)="uploadNewVideo(0)"/>
            </ion-buttons>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item>
      <ion-label position="floating" appInputError [label]="'Twitter'" [control]="twitterControl" [errors]="twitterControl.errors"></ion-label>
      <ion-input formControlName="twitterUrl" (ionChange)="isFormValid.emit(formGroup.valid)"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" appInputError [label]="'Facebook'" [control]="facebookControl" [errors]="facebookControl.errors"></ion-label>
      <ion-input formControlName="facebookUrl" (ionChange)="isFormValid.emit(formGroup.valid)"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" appInputError [label]="'Instagram'" [control]="instagramControl" [errors]="instagramControl.errors"></ion-label>
      <ion-input formControlName="instagramUrl" (ionChange)="isFormValid.emit(formGroup.valid)"></ion-input>
    </ion-item>
  </ion-list>
</form>
