@use 'src/theme/custom';

form {
  width: 100%;

  ion-list {
    width: 100%;

    ion-item {
      width: 100%;
    }
  }
}

ion-button.add-url-button {
  width: 100%;
  --background: rgb(39, 68, 125) !important;

  ion-icon {
    margin: 0 auto;
    color: white;
  }
}

.add-container {
  border: none;
}

ion-textarea {
  min-height: 100px;
}

.uploader-error-msg {
  color: custom.$danger;
  text-align: center;
}

.spinner-container {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);

  ion-spinner {
    display: block;
    margin: auto;
  }
}

.warning-card {
  width: 100%;
  ion-card-content {
    text-align: center;
  }
}

.warning {
  color: white;
  --background: custom.$warning;
  background-color: custom.$warning;
}

.normal {
  color: white;
  --background: custom.$rvr-darkblue;
  background-color: custom.$rvr-darkblue;
}

.error {
  color: white;
  --background: custom.$danger;
  background-color: custom.$danger;
}

.barcode-scanner-modal {
  width: 100%;
  height: 100%;
  max-height: 100vh;
  max-width: 100vh;
}

.scan-btn {
  position: absolute;
  right: 0;
  bottom: 50%;
  transform: translateY(50%);
}
