@use "~src/theme/custom";

ion-button {
  margin: 0 auto;
}

ion-header {
  background-color: custom.$rvr-darkblue;

  ion-toolbar {
    --background: transparent;
    ion-title {
      color: white;
    }
  }
}
ion-select::part(text) {
  white-space: break-spaces;
}

ion-list {
  width: 100%;
}

ion-slide {
  div {
    width: 100%;
  }
}

.home-slide {
  overflow:hidden;
}

ion-footer {
  --background: white;
  ion-toolbar {
    --background: white;
  }
}

.error-message {
  color: custom.$danger !important;
}
