<ion-header>
  <ion-item lines="none">
    <ion-title>{{('Editor' | translate | titlecase)}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="movePoi()">
        <ion-icon name="move"></ion-icon>
      </ion-button>
      <ion-button (click)="removePoi()">
        <ion-icon name="trash" color="danger"></ion-icon>
      </ion-button>
      <ion-button (click)="cancel()">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item>
</ion-header>
<ion-content>
  <ion-slides [options]="sliderOpts" #slider> <!--PICK POI TYPE STEP-->
    <ion-slide class="home-slide" [scrollTop]="0">
      <ion-list [formGroup]="form">
        <ion-item>
          <ion-label position="floating">{{'Action marker description' | translate}}</ion-label>
          <ion-input formControlName="tip"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>{{'Action marker type' | translate}}</ion-label>
          <ion-select formControlName="type" (ionChange)="typeChanged(typeSelector?.value)" #typeSelector interface="alert">
            <ion-select-option *ngFor="let type of actionMarkerTypes | keyvalue: originalOrder" [value]="type.key">{{type?.value.toString() | translate}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item *ngIf="selectedType?.value === 'product' && !isShapePoi(poi)">
          <ion-label>{{'POI Image' | translate}}</ion-label>
          <ion-select formControlName="poiImage" (ionChange)="poiImageChanged(productImageSelector?.value)" #productImageSelector interface="alert">
            <ion-select-option *ngFor="let poiImage of poiImages | keyvalue: originalOrder" [value]="poiImage.key">{{poiImage?.value.toString() | translate}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-row lines="none" class="center" *ngIf="!isShapePoi(poi)">
          <app-poi-color-picker class="center" (colorSelected)="assignColorToSprite($event)" [current]="poi.sprite?.data?.color"></app-poi-color-picker>
        </ion-row>
        <ion-item style="height:100px" *ngIf="!isShapePoi(poi)">
          <ion-label>{{'Points of interest size' | translate}}</ion-label>
          <ion-range style="width:50%; height:100%" min="5" max="100" [pin]="true" [value]="poiSize" (ionChange)="poiSizeChanged($event.detail.value)"></ion-range>
        </ion-item>
      </ion-list>
    </ion-slide>
    <ion-slide >
      <ng-template appDynamicForm></ng-template>
    </ion-slide>
  </ion-slides>
</ion-content>
<ion-footer> <!--FOOTER-->
  <ion-toolbar color="light" *ngIf="(currentSliderPage | async) === 0">
    <ion-row>
      <ion-col>
        <ion-buttons>
          <ion-button fill="solid" color="danger" (click)="cancel()">
            <ion-label>{{'Cancel' | translate}}</ion-label>
          </ion-button>
        </ion-buttons>
      </ion-col>
      <ion-col>
        <ion-buttons>
          <ion-button fill="solid" color="success" [disabled]="this.tipControl.invalid" (click)="next()">
            <ion-label>{{'Next' | translate}}</ion-label>
          </ion-button>
        </ion-buttons>
      </ion-col>
    </ion-row>
  </ion-toolbar> <!--ACTIONS-->
  <ion-toolbar color="light" *ngIf="(currentSliderPage | async) === 1">
    <ion-row>
      <ion-col>
        <ion-buttons>
          <ion-button fill="solid" color="primary" (click)="back()" *ngIf="!userEnv.isPersonalShopper()">
            <ion-label>{{'Back' | translate}}</ion-label>
          </ion-button>
          <ion-button fill="solid" color="danger" (click)="cancel()" *ngIf="userEnv.isPersonalShopper()">
            <ion-label>{{'Cancel' | translate}}</ion-label>
          </ion-button>
        </ion-buttons>
      </ion-col>
      <ion-col>
        <ion-buttons>
          <ion-button fill="solid" color="success" [disabled]="!formIsValid()" (click)="confirm()">
            <ion-label>{{'Confirm' | translate}}</ion-label>
          </ion-button>
        </ion-buttons>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
