@use '~src/theme/custom';

form {
  width: 100%;

  ion-list {
    width: 100%;

    ion-item {
      width: 100%;
    }
  }
}

ion-button.add-product-button {
  width: 100%;
  --background: rgb(39, 68, 125) !important;

  ion-icon {
    margin: 0 auto;
    color: white;
  }
}

.add-container {
  border: none;
}

app-product-row {
  width: 100%;
}

.no-pointer-event {
  pointer-events: none;
}