<form [formGroup]="formGroup" (change)="isFormValid.emit(formGroup.valid);">
  <ion-item [formGroup]="formGroup">
    <ion-label position="floating" appInputError [label]="'Cluster name'" [control]="clusterNameControl"
               [errors]="clusterNameControl.errors"></ion-label>
    <ion-input formControlName="name" [inputmode]="'text'"></ion-input>
  </ion-item>
  <ion-list>
    <ion-list-header>{{'Product list' | translate}}</ion-list-header>
    <ion-reorder-group (ionItemReorder)="reorderItems($event)" disabled="false">
        <app-product-row *ngFor="let formGroup of productsFormArray.controls; let i = index;"
                [product]="clusterData.products[i]"
                [index]="i"
                [expandedRow]="expandedRow"
                [formGroup]="formGroup"
                (deleteEvent)="deleteItem($event)"
                (fieldUpdated)="updateControlsValidity($event)"
        ></app-product-row>
    </ion-reorder-group>
  </ion-list>
  <ion-item class="add-container" lines="none">
    <ion-buttons slot="end">
      <ion-button color="primary" fill="clear" (click)="addProduct()">
        <ion-icon name="add" style="margin-right: 5px"></ion-icon>
        <ion-label>{{'Create product' | translate}}</ion-label>
      </ion-button>
      <ion-button *ngIf="isApi" color="primary" fill="clear" (click)="openProductFinder('product')">
        <ion-icon name="search" style="margin-right: 5px"></ion-icon>
        <ion-label>{{'Search existing' | translate}}</ion-label>
      </ion-button>
    </ion-buttons>
  </ion-item>
  <ion-item *ngIf="isApi" class="add-container" lines="none">
    <ion-buttons slot="end">
      <ion-button color="primary" fill="clear" (click)="openProductFinder('collection')">
        <ion-icon name="search" style="margin-right: 5px"></ion-icon>
        <ion-label>{{'Search existing by collections' | translate}}</ion-label>
      </ion-button>
    </ion-buttons>
  </ion-item>
  <ion-item *ngIf="isApi" class="add-container" lines="none">
    <ion-buttons slot="end">
      <ion-button color="primary" fill="clear" (click)="openProductFinder('salesCatalog')">
        <ion-icon name="search" style="margin-right: 5px"></ion-icon>
        <ion-label>{{'Search existing by sales catalogs' | translate}}</ion-label>
      </ion-button>
    </ion-buttons>
  </ion-item>
</form>
