ion-card {
  margin: 0;
  max-height: 10rem;
  min-height: 10rem;
  box-shadow: none !important;
  outline: 1px solid whitesmoke;

  &:hover {
    background: whitesmoke;
    cursor: pointer;
  }

  ion-img {
    width: 8rem;
    height: 8rem;
    margin-left: auto;
    margin-right: auto;
  }

  ion-card-header {
    padding: 0;
    ion-item {
      --background: whitesmoke;
    }
    background: whitesmoke;
  }
}
