<ion-card #card (click)="downloadProductInShowroom.emit(this.product)">
  <ion-img *ngIf= "product.product_thumbnailUrl" [src]="product.product_thumbnailUrl"></ion-img>
  <ion-img *ngIf= "!product.product_thumbnailUrl && product.medias?.length > 0" [src]="product.medias[0].url"></ion-img>
  <ion-img *ngIf= "!product.product_thumbnailUrl && product.medias?.length === 0" src="assets/icon/nophoto.jpg"></ion-img>
  <ion-card-header>
    <ion-item lines="none">
      <ion-card-subtitle>{{product.code}}</ion-card-subtitle>
    </ion-item>
  </ion-card-header>
</ion-card>
