<div class="config-border" *ngIf=" getSelections()">
  <div fxLayout="row" fxLayoutAlign="end center">
    <ion-icon name="cube"></ion-icon>
  </div>
    <app-selection *ngFor="let selection of selections"
                   [currentConfig]="currentConfig"
                   (configToSave)="saveConfiguration($event)"
                   [selectionItem]="selection">
    </app-selection>
</div>


