<div @fade class="app-mode interaction-page" [ngStyle]="{'background-image': homePageImg ? 'url(' + homePageImg + ')' : undefined,
                    'background-color' : !homePageImg ? 'var(--ion-home-page-color)' : undefined,
                    'background-size': 'cover'}">
    <div class="page-centered-element">
        <ion-card class="content" @fade *ngIf="step === 1 || step === 2">
            <ion-card-title class="welcome-title">{{'Welcome' | translate | uppercase}}</ion-card-title>
            <ion-card-subtitle class="welcome-customer">{{title}}</ion-card-subtitle>

            <div class="welcome-select-container" @fade *ngIf="step === 1">
                <ion-item class="welcome-select">
                    <ion-label style="color: white">{{'Please select your language' | translate}}</ion-label>
                    <ion-select [value]="currentLanguage" style="color: white" (ionChange)="changeLanguage($event.detail.value)">
                        <ion-select-option *ngFor="let lng of languagesList">{{lng}}</ion-select-option>
                    </ion-select>
                </ion-item>
            </div>

            <div class="welcome-select-container" @fade *ngIf="step === 2">
                <ion-grid>
                    <ion-row>
                        <ion-col class="pop-up-information-size">
                            <img class="image-size" src="{{gotoImg}}" alt="cluster-logo"/>
                            <ion-text class="pop-up-text">{{'Move using footsteps' | translate}}</ion-text>
                        </ion-col>
                        <ion-col class="pop-up-information-size border-left">
                            <img class="image-size" src="{{customClusterImg}}" alt="cluster-logo"/>
                            <ion-text class="pop-up-text">{{'Click to display products' | translate}}</ion-text>
                        </ion-col>
                        <ion-col class="pop-up-information-size border-left">
                            <ion-icon class="icon-size" name="menu"></ion-icon>
                            <ion-text class="pop-up-text">{{'Use the shortcuts to go faster' | translate}}</ion-text>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </div>

            <div #nextBtn style="margin: 32px; background-color: rgba(0, 0, 0, 0)">
                <ion-button fill="solid" (click)="nextStep()" *ngIf="step === 1">
                    {{'Next' | translate}}
                </ion-button>
                <ion-button fill="solid" (click)="nextStep()" *ngIf="step === 2">
                    {{'Enter' | translate}}
                </ion-button>
            </div>

            <ion-grid style="max-width: 250px">
                <ion-row>
                    <ion-col class="center-items">
                        <ion-button [ngClass]="(step === 1) ? '' : 'inactive'"
                                color="primary"
                                size="small"
                                (click)="goToFirstStep()"
                                class="welcome-pagination-dot">1</ion-button>
                    </ion-col>

                    <ion-col>
                        <span class="welcome-pagination-divider"></span>
                    </ion-col>

                    <ion-col class="center-items">
                        <ion-button [ngClass]="(step === 2) ? '' : 'inactive'"
                                    color="primary"
                                    size="small"
                                    (click)="goToSecondStep()"
                                    class="welcome-pagination-dot">2</ion-button>
                    </ion-col>
                </ion-row>
            </ion-grid>

        </ion-card>
    </div>
</div>
