ion-item {
  --background: white;

  ion-label {
    transition: transform .2s ease;
  }

  &:hover {
    cursor: pointer;

    ion-label {
      transform: translateX(8px);
    }
  }
}

ion-row, ion-col {
  max-height: 150px;
}

ion-img {
  &::part(image) {
    height: 100%;
    width: 100%;
    max-height: 150px;
    display: block; margin: auto;
  }
}
