<ion-item>
  <ion-grid>
    <ion-row *ngIf="!isProductUrl">
      <ion-col>
        <ion-img style="display: block" [src]="photo"></ion-img>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label position="floating">EAN</ion-label>
          <ion-input [disabled]="true" [value]="product.product_ean"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="isProductUrl">
      <ion-col>
        <img style="height: 120px" [src]="product.imgUrl1">
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label position="floating">EAN</ion-label>
          <ion-input [disabled]="true" [value]="product.ean"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Name</ion-label>
          <ion-input [disabled]="true" [value]="product.code"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-item>
