<div>
  <ion-button color="light" class="border-left"
              (click)="showPoiSubMenu($event)">
    <ion-icon name="add-circle" style="color: white"></ion-icon>
  </ion-button>
  <ion-button appHelpPopover color="light"
              (click)="addPortal()">
    <ion-icon name="navigate-circle" style="color: white"></ion-icon>
  </ion-button>
  <ion-button color="light" (click)="openSelectObject($event)"
              [ngClass]="{'activated' : !(engineIsLoading$ | async) && (shellIsValid$ | async)}">
    <i class="material-icons" style="color: white">chair</i>
  </ion-button>
  <ion-button color="light" (click)="openSelectLight($event)"
              [ngClass]="{'activated' : !(engineIsLoading$ | async) && (shellIsValid$ | async)}">
    <i class="material-icons" style="color: white">highlight</i>
  </ion-button>
  <app-poi *ngIf="objectName === 'Poi' && isReady"
           [showroom]="showroom"
           [objectId]="objectId"
           [object]="object"
           (onExitOrPlacement)="onObjectPlacement.emit(false); isReady = false">
  </app-poi>
  <app-shape-poi *ngIf="objectName === 'ShapePoi' && isReady"
                 [showroom]="showroom"
                 [objectId]="objectId"
                 [object]="object"
                 (onExitOrPlacement)="onObjectPlacement.emit(false); isReady = false">
  </app-shape-poi>
  <app-portal *ngIf="objectName === 'Portal' && isReady"
           [showroom]="showroom"
           [objectId]="objectId"
           [object]="object"
           (onExitOrPlacement)="onObjectPlacement.emit(false); isReady = false">
  </app-portal>
  <app-product *ngIf="objectName === 'PRODUCT' && isReady"
               [showroom]="showroom"
               [data]="data"
               [objectId]="objectId"
               [object]="object"
               [objectName]="objectName"
               (onExitOrPlacement)="onObjectPlacement.emit(false); isReady = false">
  </app-product>
  <app-fixtures *ngIf="objectName === 'FIXTURE' && isReady"
                [showroom]="showroom"
                [data]="data"
                [objectId]="objectId"
                [object]="object"
                [objectName]="objectName"
                (onExitOrPlacement)="onObjectPlacement.emit(false); isReady = false">
  </app-fixtures>
  <app-smart-objects *ngIf="objectName === 'SMART_OBJECT' && isReady"
                     [showroom]="showroom"
                     [data]="data"
                     [objectId]="objectId"
                     [object]="object"
                     [objectName]="objectName"
                     (onExitOrPlacement)="onObjectPlacement.emit(false); isReady = false">
  </app-smart-objects>
  <app-point-light *ngIf="objectName === 'PointLight' && isReady"
                     [showroom]="showroom"
                     [objectId]="objectId"
                     [object]="object"
                     (onExitOrPlacement)="onObjectPlacement.emit(false); isReady = false">
  </app-point-light>
  <app-spot-light *ngIf="objectName === 'SpotLight' && isReady"
                     [showroom]="showroom"
                     [objectId]="objectId"
                     [object]="object"
                     (onExitOrPlacement)="onObjectPlacement.emit(false); isReady = false">
  </app-spot-light>
</div>
