<app-side-menu *ngIf="displayMenu()"
               (menuToggleEvent)="isMenuOpen = !isMenuOpen;"
               [toggleMenu]="toggleBurgerMenu"
               [logoUrl]="showroom.settings.sprites.logo?.light"
               [firebase]="firebase"
               [itemList]="showroom.menu"
               [showroom]="showroom"
               [title]="showroom.settings.menuTitle"
               [presentationVideoAutoStart]="showroom.settings.presentationVideoAutoStart"
               [presentationVideoUrl]="showroom.settings.presentationVideoUrl"
></app-side-menu>
<app-wishlist #wishListMenu
              [closeEvent]="closeWishList"
              [openEvent]="openWishList"
></app-wishlist>

<div class="ion-page">
    <ion-header class="overlay">
        <ion-toolbar [hidden]="hideToolbar" class="toolbar-size">
            <ion-buttons slot="start" style="margin-left: 15px">
                <ion-button id="main-content" (click)="toggleBurgerMenu.emit()"
                            *ngIf="!userEnv.isPersonalShopper() && (displayMenu() || displayLinkMenu())">
                    <ion-icon [name]="isMenuOpen ? 'close-outline' : 'menu-outline'" class="side-menu"></ion-icon>
                    <span  class="side-menu">Menu</span>
                </ion-button>
                <app-add-product-client-mode slot="start" style="margin-left: 15px" *appClientEditorOnly  [showroom]="showroom">
                </app-add-product-client-mode>
                <app-object-importer *appEditorViewOnly [showroom]="showroom" [engineIsLoading$]="engineIsLoading$"
                                     [shellIsValid$]="shellIsValid$"
                                     (onObjectPlacement)="isReady = $event; hasToCloseObjectImporter = false"
                                    [hasToCloseObjectImporter]="hasToCloseObjectImporter"></app-object-importer>
            </ion-buttons>

            <ion-title class="center">
                <img class="small-logo-size margin" *ngIf="logoUrl" [src]="logoUrl" alt="cluster-logo"/>
            </ion-title>

            <ion-button slot="end" *appClientEditorOnly (click)="openShareModal()"  shape="round" >
                <ion-icon *ngIf="!copyShowroom" name="add-outline" style="color: white"></ion-icon>
                <ion-icon *ngIf="copyShowroom"  name="pencil-outline" style="color: white"></ion-icon>
            </ion-button>

            <ion-buttons slot="end" style="margin-right: 15px">
                <ion-button *appEditorViewOnly appHelpPopover [helpMessage]="'Save your products configuration'"
                            color="light" (click)="saveProductConfigurations()">
                    <ion-icon name="save-outline" style="color: white"></ion-icon>
                </ion-button>

                <ion-chip (click)="openWishList.emit()" [hidden]="userEnv.isPersonalShopper() || showroomEnv.hideWishlist || editorService.editorView.value">
                    <ion-icon name="basket" style="color: black"></ion-icon>
                    <ion-label style="color: black">{{wishListHandler.total | currency:customerEnv.currency}}</ion-label>
                </ion-chip>
                <ion-segment *ngIf="userEnv.loginType === 'platform'" [value]="!editorService.editorView.value ?  0 : !editorService.editorMeshView.value ? 1 : 2"
                             [mode]="getMode()" appHelpPopover [helpMessage]="'Switch between client view and editor mode'"
                             (ionChange)="switchView($event)">
                    <ion-segment-button [ngClass]="!(editorService.editorView.value) ? 'active' : 'not-active'"
                                        [value]="0">{{'Client' | translate}}</ion-segment-button>
                    <ion-segment-button [ngClass]="(editorService.editorView.value && !editorService.editorMeshView.value) ? 'active' : 'not-active'"
                                        [value]="1">{{'Editor' | translate}}</ion-segment-button>
                    <ion-segment-button *ngIf="showroomEnv.fixturesManager" [ngClass]="(editorService.editorView.value && editorService.editorMeshView.value) ? 'active' : 'not-active'"
                                        [value]="2">{{'Editor mesh' | translate}}</ion-segment-button>
                </ion-segment>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <app-engine *ngIf="showroom" #engine [showroom]="showroom" (isLoading)="engineIsLoading$.next($event)"
                    (isObjLoading)="objIsLoading$.next($event)"
                    (shellIsValid)="shellIsValid$.next($event)"></app-engine>
        <app-jitsi-b2-b></app-jitsi-b2-b>
        <app-rgpd-module></app-rgpd-module>

        <app-link-menu class="interaction-item mp-menu" *ngIf="displayLinkMenu()"
                       [toggleMenu]="toggleBurgerMenu"
                       [firebase]="firebase"
                       [itemList]="showroom.menuLink"
                       [showroom]="showroom"
        ></app-link-menu>

        <app-object-precision *ngIf="isEditingObject()"></app-object-precision>

        <div class="left-ui" style="z-index: 1 !important;">
            <app-zoom-bar *ngIf="!hideZoom"></app-zoom-bar>
        </div>

        <ion-buttons class="bottom-action-buttons" *ngIf="isReady">
            <ion-button fill="clear" shape="round" class="close-btn" (click)="hasToCloseObjectImporter = true">
                <ion-icon name="close-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-content>
    <ion-footer class="ion-no-border">
        <div class="interaction-item mp-ui">
            <app-map *ngIf="showroom" [showroomSettings]="showroom.settings"></app-map>
        </div>
        <ion-fab horizontal="end" vertical="bottom">
            <ion-fab-button (click)=initMenu()>
                <ion-icon color="secondary" name="settings-outline"></ion-icon>
            </ion-fab-button>
            <ion-fab-list side="top">
                <ion-fab-button (click)="$event.stopPropagation(); toggleMute()">
                    <ion-icon name="" [name]="isMuted() ? 'volume-mute-outline' : 'volume-high-outline'"></ion-icon>
                </ion-fab-button>
                <ion-fab-button (click)="$event.stopPropagation(); toggleGyroscope()">
                    <ion-img  *ngIf="isGyroscopeOn()" src="assets/icon/giroscope.svg"></ion-img>
                    <ion-img  *ngIf="!isGyroscopeOn()" src="assets/icon/giroscope-off.svg"></ion-img>
                </ion-fab-button>
                <ion-fab-button (click)="$event.stopPropagation(); openMenu($event)">
                    <ion-text>{{translateService.currentLang}}</ion-text>
                </ion-fab-button>
                <ion-fab-button [hidden]="!openLanguageMenu || translateService.currentLang === 'fr'" (click)="$event.stopPropagation(); changeLanguage('fr')">
                    <ion-text>{{'fr'}}</ion-text>
                </ion-fab-button>
                <ion-fab-button [hidden]="!openLanguageMenu || translateService.currentLang === 'en'" (click)="$event.stopPropagation(); changeLanguage('en')">
                    <ion-text>{{'en'}}</ion-text>
                </ion-fab-button>
                <ion-fab-button [hidden]="!openLanguageMenu || translateService.currentLang === 'es'" (click)="$event.stopPropagation(); changeLanguage('es')">
                    <ion-text>{{'es'}}</ion-text>
                </ion-fab-button>
            </ion-fab-list>
        </ion-fab>
    </ion-footer>
</div>

<app-introduction-pop-up-viewer *ngIf="isWelcomeOpen"
                                (enterClicked)="onEnterClicked()"
                                [data]="welcomePageInfos"
                                [showroom]="showroom"
                                @fade></app-introduction-pop-up-viewer>
<app-loading *ngIf="meshLoading()" [percent]="sceneHandler.meshIsLoading" @fade></app-loading>
<app-loading *ngIf="objectsLoading()" [percent]="sceneHandler.objectsAreLoading" @fade></app-loading>

