@use "~src/theme/custom";

.loader-container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
}

.left-ui {
  position: absolute;
  width: 50px;
  height: 200px;
  bottom: 50px;
  left: 18px;
  place-content: unset !important;
  transition: opacity .2s ease;
}

.overlay {
  box-shadow: none;
  position: absolute;
  height: 60px;

  ion-title {
    color: var(--ion-color-primary-contrast);
  }

  ion-menu-button {
    color: var(--ion-color-primary-contrast);
  }
}

.side-menu {
  color: var(--ion-color-primary-contrast);
}

#main-content {
  pointer-events: all !important;
}

ion-segment {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

ion-toolbar {
  ion-button {
    color: white;
  }
}

.activated ion-icon {
  color: var(--ion-color-primary);
}

.lng-select {
  color: white;
}

ion-chip {
  --background: white;
}

ion-segment-button.active {
  --color-hover: black;
  --color: black;
  color: black;
  transition: none;

  &:hover::part(native) {
    transition: none;
    opacity: 1;
    color: black;
  }

  &::part(native) {
    transition: none;
    color: black;
  }
}

ion-segment-button.not-active {
  --color: white;
  color: white;
  --color-hover: white;
  transition: none;

  &:hover::part(native) {
    transition: none;
    opacity: 1;
    color: white;
  }

  &::part(native) {
    transition: none;
    color: white;
  }
}

ion-footer {
  position: absolute;
  bottom: 0;
}
