<ion-header>
  <ion-item lines="none">
    <ion-title>Fixtures</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item>
</ion-header>
<ion-content>
  <div fxLayout="row" fxLayoutAlign="none">
    <div fxFlex="20" class="scroll">
      <ion-list>
        <ion-item lines="none">
          <ion-searchbar #searchbar debounce="3000" [placeholder]="('Search' | translate)"></ion-searchbar>
        </ion-item>
      </ion-list>
    </div>
    <div fxFlex="80" class="scroll">
      <ion-grid>
        <ion-row *ngIf="(fixtures | async).length > 0">
          <ion-col sizeXl="3" *ngFor="let fixture of (fixtures | async)">
            <app-fixture-card
                    [fixture]="fixture"
                    (downloadFixtureInShowroom)="fixturePlacement($event)"
            ></app-fixture-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>
