ion-grid {
  --ion-grid-padding: 0;
  background: white;
  padding: 10px 20px 0;

  ion-row {
    max-height: 100%;
  }
}

ion-menu {
  margin-top: 50px;
}

ion-content {
  &::part(scroll) {
    overflow-y: hidden;
  }
}

div {
  max-height: 100% !important;
}

.scroll {
  overflow-y: auto;
}

.no-scroll {
  overflow: hidden;
}
