<form [formGroup]="formGroup" (change)="isFormValid.emit(formGroup.valid)">
  <ion-item>
    <ion-label position="floating" appInputError [label]="'Code / EAN'" [control]="eanControl" [errors]="eanControl.errors"></ion-label>
    <ion-input formControlName="ean"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating" appInputError [label]="'URL'" [control]="urlControl" [errors]="urlControl.errors"></ion-label>
    <ion-input formControlName="url" [inputmode]="'url'"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>{{'Open URL in a new tab' | translate}}</ion-label>
    <ion-checkbox formControlName="openInNewTab"></ion-checkbox>
  </ion-item>
</form>
