<ion-item *ngIf="isReady">
  <ion-label>{{'Link to' | translate}}...</ion-label>
  <ion-select class="sweep-options" [disabled]="showroomSweeps.length <= 0" [value]="selected | async" (ionChange)="changeSweep($event.detail.value)" [placeholder]="'Select one' | translate">
    <ion-select-option *ngFor="let sweep of showroomSweeps" [value]="sweep.id">
      <div *ngIf="sweep.depth > 0">
        <ion-label *ngFor="let number of generateArray(sweep.depth - 1)">
          {{'&nbsp;&nbsp;'}}
        </ion-label>
        <ion-label>
          {{'┕╸'}}
        </ion-label>
      </div>
      <ion-label>
        {{sweep.title | translate}}
      </ion-label>
    </ion-select-option>
  </ion-select>
</ion-item>
