<ion-header>
    <div class="grabber"></div>
    <ion-toolbar color="light">
        <ion-buttons slot="start">
            <ion-button (click)="close()">
                <ion-icon name="close-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content style="width:100%; height: 100%">
    <iframe *ngIf="paymentSrc" [src]="paymentSrc | safe:'resourceUrl'" style="width:100%; height: 100%"
            sandbox="allow-presentation allow-scripts allow-same-origin allow-forms"
            allow="camera; microphone; accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
    </iframe>
</ion-content>
