<div fxLayout="column" fxLayoutAlign="space-between none" class="container parent" fxLayoutGap="25px"
     (click)="itemClicked.emit()"
     [ngStyle]="{'background-color': item.backgroundColor}">
    <div fxFlex="50" class="logos-container" fxLayout="row" fxLayoutAlign="center end">
        <div>
            <i class="material-icons sub-icon" [ngStyle]="{'color': item.color}">{{item.subIcon1}}</i>
        </div>
        <div>
            <i class="material-icons main-icon" [ngStyle]="{'color': item.color}">{{item.mainIcon}}</i>
        </div>
        <div>
            <i class="material-icons sub-icon" [ngStyle]="{'color': item.color}">{{item.subIcon2}}</i>
        </div>
    </div>
    <div fxFlex="50">
        <div fxLayout="column" fxLayoutAlign="none" class="container">
            <div>
                <ion-label class="title catamaran" [ngStyle]="{'color': item.color}">
                    {{item.title | translate | titlecase}}
                </ion-label>
            </div>
            <div style="padding: 0 1em">
                <ion-label class="subtitle catamaran" [ngStyle]="{'color': item.subtitleColor}">{{item.subtitle | translate | titlecase}}</ion-label>
            </div>
        </div>
    </div>
</div>
