.catamaran {
  font-family: 'Catamaran', sans-serif !important;
}

.parent {
  pointer-events: all;
  padding: 1em 0;

  background: radial-gradient(circle, rgb(255, 255, 255, .1) 0%, transparent 48%, transparent 89%);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);

  &:hover {
    cursor: pointer;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }
}

.container {
  height: 100%;
  width: 100%;
  text-align: center;
  border-radius: .5em;
}

.logos-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-icon {
  font-size: 4rem !important;
  transition: font-size 0.2s ease-in-out;
}

.title {
  font-size: 25px;
  font-weight: bold;
  transition: font-size 0.2s ease-in-out;
}

.sub-icon {
  transition: font-size 0.2s ease-in-out;
}

.subtitle {
}

@media (max-width: 600px ) {
  .main-icon {
    font-size: 3rem !important;
  }

  .title {
    font-size: 18px;
  }
}
