<ion-list>
  <ion-item button class="dropdown-icon-menu-button" (click)="selectObjectType('FIXTURE')">
    <ion-label>
      <ion-icon class="dropdown-icon-menu-icon" name="tv-outline"></ion-icon>
      {{'Fixtures' | translate}}
    </ion-label>
  </ion-item>
  <ion-item button class="dropdown-icon-menu-button" (click)="selectObjectType('PRODUCT')">
    <ion-label>
      <ion-icon class="dropdown-icon-menu-icon" name="cube-outline"></ion-icon>
      {{'Products' | translate}}
    </ion-label>
  </ion-item>
  <ion-item button class="dropdown-icon-menu-button" (click)="selectObjectType('SMART_OBJECT')">
    <ion-label>
      <ion-icon class="dropdown-icon-menu-icon" name="file-tray-stacked-outline"></ion-icon>
      {{'Smart Objects' | translate}}
    </ion-label>
  </ion-item>
</ion-list>
