<ion-header>
    <div class="grabber"></div>
    <ion-toolbar color="light">
        <ion-buttons slot="start">
            <ion-button (click)="close()">
                <ion-icon name="close-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div style="height:90vh" #content [innerHTML]="script"></div>
<!--    <script>-->
<!--        window._sarbacaneSettings = {-->
<!--            key: "spk-38c672d3-5ff5-4d84-8012-480b8c0c1a87",-->
<!--        };-->
<!--    </script>-->
<!--    <script src="https://chat.sarbacane.com/chat_loader.js" async="true"></script>-->
</ion-content>
