<div class="container" [ngStyle]="{'backgroundImage': 'url(' + backgroundImageUrl + ')'}">
    <ion-card>
        <ion-card-header class="title-container">
            <ion-card-title class="title">{{'To log in' | translate}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-item lines="none" *ngIf="errorMessage | async">
                <ion-label color="danger" style="text-align: center; white-space: pre-wrap">{{errorMessage | async}}</ion-label>
            </ion-item>
            <ion-slides #authSlides [options]="{ allowTouchMove: false, autoHeight: true }">
                <ion-slide>
                    <ion-list>
                        <app-login-module
                                (error)="error($event)"
                        ></app-login-module>
                        <ion-item lines="none" *ngIf="registrationEnabled">
                            <ion-button fill="clear" class="full-width" (click)="authSlides.slideNext()">
                                {{'register' | translate | titlecase}}
                            </ion-button>
                        </ion-item>
                    </ion-list>
                </ion-slide>
                <ion-slide *ngIf="registrationEnabled">
                    <ion-list>
                        <app-register-module
                                (error)="error($event)"
                                (success)="onLoginSuccess($event)"
                        ></app-register-module>
                        <ion-item lines="none">
                            <ion-button fill="clear" class="full-width" (click)="authSlides.slidePrev()">
                                {{'Back' | translate}}
                            </ion-button>
                        </ion-item>
                    </ion-list>
                </ion-slide>
            </ion-slides>
        </ion-card-content>
    </ion-card>
</div>
