ion-card {
  margin: auto;
  top: 50%;
  transform: translateY(-50%);
  width: 20vw;
  min-width: 400px;
  padding: 2em 1em;
  box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
}

.container {
  width: 100%;
  height: 100%;
  background-color: whitesmoke;
}

.new-pwd-btn {
  margin: auto;
}

ion-slide >:first-child {
  width: 100%;
}

ion-button, ion-label {
  font-family: sans-serif;
}

.title-container {
  .title {
    letter-spacing: 1px;
    font-size: 35px;
    text-align: center;
    color: #27447d;
  }
}

.full-width {
  width: 100%;
  height: 100%;
}
