<ion-card class="big-margin-top" style="height: 250px; width: 300px; margin-left:auto">
  <ion-card-content>
    <ion-list *ngIf="this.mode !== 'edit'">
      <ion-title class="precision-window-title">{{'Adjust' | translate}} {{getTitle() | translate}}</ion-title>
      <ion-item>
        <ion-label style="color: red" class="precision-input-label" position="fixed">x</ion-label>
        <ion-input *ngIf="values"
          (ionChange)="valueChanged()"
          type="number"
          step="0.005"
          class="precision-input"
          (ngModelChange)="values.x = $event"
          [ngModel]="values.x | number: '1.4-4'">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label style="color: limegreen" class="precision-input-label" position="fixed">y</ion-label>
        <ion-input *ngIf="values"
          (ionChange)="valueChanged()"
          type="number"
          step="0.005"
          class="precision-input"
          (ngModelChange)="values.y = $event"
          [ngModel]="values.y | number: '1.4-4'">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label style="color: blue" class="precision-input-label" position="fixed">z</ion-label>
        <ion-input *ngIf="values"
          (ionChange)="valueChanged()"
          type="number"
          step="0.005"
          class="precision-input"
          (ngModelChange)="values.z = $event"
          [ngModel]="values.z | number: '1.4-4'">
        </ion-input>
      </ion-item>
      <ion-button
              *ngIf="mode === 'rotate' || mode === 'scale'"
              size="small"
              color="danger"
              (click)="resetToDefault()">
        {{'Reset to default' | translate}}
      </ion-button>
    </ion-list>

    <ion-list *ngIf="this.mode === 'edit'">
      <ion-title class="precision-window-title">{{'Configuration' | translate}}</ion-title>
      <ion-item>
        <ion-label style="color: red" class="precision-input-label" position="fixed">{{'Color' | translate}}</ion-label>

        <input style="height: 0; width: 0; right: 0; opacity: 0; bottom: 0" matInput
               [(ngModel)]="color" (ngModelChange)="valueChanged()" [ngxMatColorPicker]="picker">
        <ngx-mat-color-toggle matSuffix [for]="picker"></ngx-mat-color-toggle>
        <ngx-mat-color-picker #picker [color]="color" [touchUi]="false"></ngx-mat-color-picker>
      </ion-item>
      <ion-item>
        <ion-label style="color: limegreen" class="precision-input-label" position="fixed">{{'Intensity' | translate}}</ion-label>
        <ion-input *ngIf="values"
                   (ionChange)="valueChanged()"
                   type="number"
                   step="0.1"
                   class="precision-input"
                   (ngModelChange)="values.intensity = $event"
                   [ngModel]="values.intensity">
        </ion-input>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>
