<ion-row>
  <ion-col *ngFor="let sprite of sprites | keyvalue">
    <div *ngIf="sprite.value === currentSprite" class="sprite-picker-button-selected">
      <img style="width: 25px; height: 25px" [src]="sprite.value.toString()">
    </div>
    <div *ngIf="sprite.value !== currentSprite" class="sprite-picker-button" (click)="selectSprite(sprite.key)">
      <img style="width: 25px; height: 25px" [src]="sprite.value.toString()">
    </div>
  </ion-col>
</ion-row>
