<ion-list>
  <ion-item button class="dropdown-icon-menu-button" (click)="selectObjectType('POINT_LIGHT')">
    <ion-label>
      <ion-icon class="dropdown-icon-menu-icon" name="sunny-outline"></ion-icon>
      {{'Simple light' | translate}}
    </ion-label>
  </ion-item>
  <ion-item button class="dropdown-icon-menu-button" (click)="selectObjectType('SPOT_LIGHT')">
    <ion-label>
      <ion-icon class="dropdown-icon-menu-icon" name="flashlight-outline"></ion-icon>
      {{'Spot' | translate}}
    </ion-label>
  </ion-item>
<!--  <ion-item button class="dropdown-icon-menu-button" (click)="selectObjectType(undefined)">-->
<!--    <ion-label>-->
<!--      <ion-icon class="dropdown-icon-menu-icon" name="file-tray-stacked-outline"></ion-icon>-->
<!--      {{'Ambient light' | translate}}-->
<!--    </ion-label>-->
<!--  </ion-item>-->
</ion-list>
