<ion-card class="rgpd-popup" *ngIf="enabled && opened">
  <p>
    {{'By using this website you agree for the collect of anonymous data to provide you the best experience all across our showrooms!' | translate}}
  </p>
  <ion-button (click)="closePopup()" size="small" fill="none" class="rgpd-popup-close">
    <ion-icon name="close"></ion-icon>
  </ion-button>
</ion-card>
