.rgpd-popup {
  position: absolute;
  left: 0;
  bottom: 0;
  max-width: 300px;
  & p {
    margin: 24px;
  }
}

.rgpd-popup-close {
  position: absolute;
  top: 0;
  right: 0;
  height: 14px;
  margin: 5px 5px 0 0;
}