<ion-header>
    <div class="grabber"></div>
    <ion-toolbar color="light">
        <ion-buttons slot="start">
            <ion-button (click)="close()">
                <ion-icon name="close-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-buttons>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button (click)="downloadPdf()">
                <ion-icon name="cloud-download-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <pdf-viewer
            *ngIf="!hasFailed"
            style="height: 100%; width: 100%"
            [ngStyle]="{opacity: (isReady) ? 1 : 0}"
            (after-load-complete)="hasLoaded()"
            (error)="onError()"
            [fit-to-page]="true"
            [original-size]="false"
            [render-text]="false"
            [autoresize]="true"
            [src]="pdfSrc">
    </pdf-viewer>
</ion-content>
<!--<div *ngIf="!isMd()" style="background-color: white; width: 100%; height: 100%">-->
<!--    <embed type="application/pdf" [attr.src]="pdfSrc" width="100%" height="100%" />-->
<!--</div>-->
<!--<div *ngIf="isMd()" style="background-color: white; width: 100%; height: 100%">-->
<!--    <p>You can <a [href]="pdfSrc">click here to download the PDF file</a>.</p>-->
<!--</div>-->
