<ion-card *ngIf="isReady && media && !isDeleting" style="width: 100%; height: 100%; margin: 0">
  <div class="image-row-preview-image">
    <img *ngIf="media.url" [src]="media.url" style="object-fit: contain">
  </div>

  <div class="image-row-preview-label">
    <span>
      {{media.fileName}}
    </span>
  </div>

  <div class="image-row-preview-delete-btn">
    <ion-button fill="clear" color="danger" (click)="deleteImage()">{{'Delete' | translate}}</ion-button>
  </div>

</ion-card>

<ion-card class="spinner-container" *ngIf="!isReady || isDeleting">
  <ion-spinner></ion-spinner>
</ion-card>

<ion-card class="spinner-container" *ngIf="!media && isReady">
  <p>{{'Something went wrong...' | translate}}</p>
</ion-card>
