ion-item-option {
  ion-icon {
    color: white;
  }
}

.expandable {
  background-color: #f5f5f5;
  transition: all 1s ease-in-out;
  overflow: hidden;
  padding: 0 20px;

  & ion-item {
    width: 100%;
    --background: transparent;
    padding: 0 20px;

    ion-input {
      --background: transparent !important;
    }
  }
}

.expanded {
}

.not-expanded {
  max-height: 1px;
}

ion-item-options {
  max-height: 48px;
}

.name-input {
  width: 100%;
}

ion-icon {
  transform: scale(1.2);
}
