<ion-item [lines]="'none'">
  <ion-item [formGroup]="formGroup" class="name-input">
    <ion-input formControlName="name" placeholder="{{'undefined name' | translate}}" (ionChange)="updateValueAndValidity('code')"></ion-input>
  </ion-item>
  <ion-buttons slot="end">
    <ion-button (click)="delete()" color="danger">
      <ion-icon name="trash-sharp"></ion-icon>
    </ion-button>
    <ion-button (click)="toggleContent()">
      <ion-icon name="chevron-down-outline" [name]="(expandedRow | async) === index ? 'chevron-up-outline' : 'chevron-down-outline'"></ion-icon>
    </ion-button>
    <ion-reorder></ion-reorder>
  </ion-buttons>
</ion-item>
<div class="expandable" [ngClass]="(expandedRow | async) === index ? 'expanded' : 'not-expanded'" [formGroup]="formGroup">
  <ion-item>
    <ion-label position="floating" appInputError [label]="'Code / EAN'" [control]="formGroup.controls.ean"
               [errors]="formGroup.controls.ean.errors"></ion-label>
    <ion-input formControlName="ean" (ionChange)="updateValueAndValidity('ean')"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Image 1</ion-label>
    <ion-input formControlName="imgUrl1" type="url" [inputmode]="'url'" (ionChange)="updateValueAndValidity('imgUrl1')"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Image 2</ion-label>
    <ion-input formControlName="imgUrl2" type="url" [inputmode]="'url'" (ionChange)="updateValueAndValidity('imgUrl2')"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating" appInputError [label]="'Product'" [control]="formGroup.controls.productUrl"
               [errors]="formGroup.controls.productUrl.errors"></ion-label>
    <ion-input formControlName="productUrl" type="url" [inputmode]="'url'" (ionChange)="updateValueAndValidity('productUrl')"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>{{'Open URL in a new tab' | translate}}</ion-label>
    <ion-checkbox formControlName="openInNewTab" (ionChange)="updateValueAndValidity('openInNewTab')"></ion-checkbox>
  </ion-item>
</div>
