<ion-reorder-group (ionItemReorder)="reorderItems($event)" disabled="false">
  <div *ngFor="let item of itemList; index as index; trackBy: trackByTitle">
    <ion-item-sliding *ngIf="item.title && item.title.length > 0 && !item.hidden" (click)="onItemClicked(item)">
      <ion-item>
        <ion-label appHelpPopover [helpMessage]="item.title"
                   [ngStyle]="{'white-space': userEnv.authorization && (isEditorActivated() | async) ? '' : 'normal'}">
          <h2 *ngIf="item.level2" style="padding-left: 20px">{{item.title}}</h2>
          <h2 *ngIf="!item.level2">{{item.title}}</h2>
        </ion-label>
        <ion-buttons *ngIf="!item.level2 && itemList[index + 1] && itemList[index + 1].level2" style="margin-left: 0" slot="end">
          <ion-button (click)="toggleLevel2(item, $event)">
            <ion-icon *ngIf="item.expanded" name="chevron-up-outline"></ion-icon>
            <ion-icon *ngIf="!item.expanded" name="chevron-down-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-buttons slot="end" style="margin-left: 0" *appEditorViewOnly>
          <ion-button *ngIf="this.currentNode.id === item.nodeId"
                      color="light"
                      (click)="this.onUpdateCamera($event, item)"
                      appHelpPopover [helpMessage]="'Set target for menu link' | translate">
            <ion-icon name="aperture-outline"></ion-icon>
          </ion-button>
          <ion-button *ngIf="this.currentNode.id === item.nodeId"
                      color="light"
                      (click)="openMenuItemCreationModal(item, $event)"
                      appHelpPopover [helpMessage]="'Edit' | translate">
            <ion-icon name="pencil"></ion-icon>
          </ion-button>
          <ion-button color="light" class="trash-button"
                      appHelpPopover [helpMessage]="'Delete' | translate"
                      (click)="onDeleteItem(item.id, $event)">
            <ion-icon name="trash"></ion-icon>
          </ion-button>
          <ion-reorder appHelpPopover [helpMessage]="'Hold and move to change the list order' | translate"></ion-reorder>
        </ion-buttons>
      </ion-item>
    </ion-item-sliding>
  </div>
</ion-reorder-group>
