ion-col {
  --ion-grid-column-padding: 0;
}

.hidden {
  opacity: 0;
}

.image-container {
  height: 100%;
  width: 100%;
  overflow: hidden;

  &:hover img {
    transform: scale(1.1);
  }

  & img {
    background-color: whitesmoke;
    width: 100%;
    object-fit: cover;
    height: 100%;
    max-height: 30vh;

    display: block;
    -webkit-transition: opacity .1s ease-in-out, transform .1s ease-in-out;
    -moz-transition: opacity .1s ease-in-out, transform .1s ease-in-out;
    -o-transition: opacity .1s ease-in-out, transform .1s ease-in-out;
    transition: opacity .1s ease-in-out, transform .1s ease-in-out;
    transform: translateZ(0);
    backface-visibility: hidden;

    &:active {
      pointer-events: none;
    }

    &.first {
      top: 0;
      left: 0;
    }
  }
}

.label-container {
  z-index: 100;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: rgba(250, 250, 250, .5);

  ion-label {
    color: black;
  }
}

.spinner-container {
  background-color: whitesmoke;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 101;

  .spinner {
    top: 50%;
    transform: translateY(-50%);
  }
}
