<div class="spinner-container" *ngIf="!(fullyLoaded$ | async)">
  <ion-spinner class="spinner" name="bubbles"></ion-spinner>
</div>
<div (click)="openProductUrl()" *ngIf="(productData | async)" style="height: 100%">
  <div class="image-container" *ngIf="(productData | async).imagesUrls && (productData | async).imagesUrls[1] && (productData | async).imagesUrls[1].length > 0 && (picture2Valid | async)">
    <img #img2 class="second"
         [src]="getImgByIndexWithVersion(1) | safe: 'url'"
         (load)="img2Loaded.next(true)"
         (mouseover)="displayPhoto2($event)"
         (mouseout)="hidePhoto2($event)"
         [ngStyle]="{'max-height': (isProductAsUrls | async) ? 'initial' : '30vh'}"
         alt="second photo"/>
  </div>
  <div class="image-container" *ngIf="(productData | async).imagesUrls && (productData | async).imagesUrls[0] && (productData | async).imagesUrls[0].length > 0 && (picture1Valid | async)">
    <img #img1 class="first"
         [ngStyle]="{
          'position': (productData | async).imagesUrls[1] && (productData | async).imagesUrls[1].length > 0 && (picture2Valid | async)? 'absolute' : '',
          'max-height': (isProductAsUrls | async) ? 'initial' : '30vh'
         }"
         [src]="getImgByIndexWithVersion(0) | safe: 'url'"
         (load)="img1Loaded.next(true)"
         alt="first photo"/>
  </div>
  <div class="image-container" [ngStyle]="{'display': (!(picture1Valid | async) && ! (picture2Valid | async) && !(videoValid | async)) ? 'block' : 'none'}">
    <img src="assets/ui/nophoto.jpg"
         [ngStyle]="{'max-height': (isProductAsUrls | async) ? 'initial' : '30vh'}"
         alt="no-photo-placeholder">
  </div>
</div>
<div class="label-container">
  <ion-label>{{(productData | async)?.name}}</ion-label>
  <ion-img></ion-img>
</div>
