<ion-item *ngIf="errorMessage | async">
  <ion-label class="error-message">{{(errorMessage | async) | translate}}</ion-label>
</ion-item>
<ion-item lines="none">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button color="primary" style="width: 100%; height: 35px" (click)="openProductFinder()">
          <ion-icon name="search" style="margin-right: 5px;"></ion-icon>
          <ion-label>{{'Import product' | translate}}</ion-label>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="primary" style="width: 100%; height: 35px" (click)="openProductCreator()">
          <ion-icon name="add" style="margin-right: 5px;"></ion-icon>
          <ion-label>{{'Create product' | translate}}</ion-label>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-item>
<form [formGroup]="formGroup" (change)="isFormValid.emit(formGroup.valid)">
  <ion-item>
    <ion-label position="floating" appInputError [label]="'Template'" [control]="templateControl" [errors]="templateControl.errors"></ion-label>
    <ion-select (ionChange)="onTemplateChange($event)" formControlName="template" interface="popover">
      <ion-select-option *ngFor="let temp of templateList; index as index" [value]="index">{{temp}}</ion-select-option>
    </ion-select>
  </ion-item>
</form>
<ion-item *ngIf="(product | async)">
  <ion-label>{{(product | async).code}}</ion-label>
  <ion-buttons slot="end">
    <ion-button (click)="openProductCreator(productEan, true)">
      <ion-icon name="pencil"></ion-icon>
    </ion-button>
    <ion-button color="danger" (click)="deleteProduct()">
      <ion-icon name="trash-sharp"></ion-icon>
    </ion-button>
    <ion-button (click)="toggleContent()">
      <ion-icon name="chevron-down-outline" [name]="(isExpanded | async) ? 'chevron-up-outline' : 'chevron-down-outline'"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-item>
<div *ngIf="(product | async)" class="expandable" [ngClass]="(isExpanded | async) ? 'expanded' : 'not-expanded'">
  <ion-item>
    <ion-label position="floating">EAN</ion-label>
    <ion-input [disabled]="true" [value]="(product | async).product_ean"></ion-input>
  </ion-item>
</div>
