ion-item {
  width: 100%;
}

.not-expanded {
  max-height: 0px;
}

.expandable {
  background-color: #f5f5f5;
  transition: all 1s ease-in-out;
  overflow: hidden;
  padding: 0 20px;

  & ion-item {
    width: 100%;
    --background: transparent;
    padding: 0 20px;

    ion-input {
      --background: transparent !important;
    }
  }
}

ion-icon {
  transform: scale(1.2);
}
