<ion-header>
  <ion-item lines="none">
    <ion-title>{{'Customize fixture' | translate}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="moveFixture()">
        <ion-icon name="move"></ion-icon>
      </ion-button>
      <ion-button (click)="removeFixture()">
        <ion-icon name="trash" color="danger"></ion-icon>
      </ion-button>
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item>
</ion-header>
<ion-content>
  <div fxLayout="row" fxLayoutAlign=" none" style="height: 100%">
    <div fxFlex="30" class="attributes-list">
      <ion-list>
        <ion-list-header>
          <ion-item lines="none" style="width: 100%">
            {{'Attribute list' | translate}}
            <ion-buttons slot="end">
              <ion-button (click)="openAttributeFormModal()">
                <ion-icon name="add-outline"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-item>
        </ion-list-header>
        <ion-item lines="none" *ngFor="let attribute of attributes">
          <ion-card style="width: 100%;">
            <ion-card-header>
              <ion-card-title>
                <ion-item lines="none">
                  <ion-icon [name]="getIconNameFromAttributeType(attribute.type)" style="margin-right: 10px"></ion-icon>
                  <ion-label>{{attribute.type}}</ion-label>
                  <ion-buttons slot="end">
                    <ion-button (click)="openAttributeEditorModal(attribute)">
                      <ion-icon name="settings-outline"></ion-icon>
                    </ion-button>
                    <ion-button color="danger" (click)="deleteAttribute(attribute.id)">
                      <ion-icon name="trash-outline"></ion-icon>
                    </ion-button>
                  </ion-buttons>
                </ion-item>
              </ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-item>
      </ion-list>
    </div>
    <div fxFlex="70" style="overflow: hidden">
      <app-visualizer *ngIf="isReady" [ngStyle]="{'display':  'block' }" [canvasHeight]="100" [glbUrl]="glbUrl"
                      [objectType]="type"
                      [refreshEvent]="refreshVisualizer"
                      [attributes]="attributes"
                      [objectId]="fixture.userData.fixtureId"></app-visualizer>"
        <div *ngIf="!isReady" class="spinner-container">
        <ion-spinner></ion-spinner>
      </div>
    </div>
  </div>
</ion-content>
