<div class="zoom-bar" #zoomBar fxLayout="column" fxLayoutAlign="space-between none">
  <div class="zoom-bar-icon" (click)="increaseZoomLevel()">
    <ion-img slot="end" src="assets/zoom_in.svg"></ion-img>
  </div>
  <div>
    <mat-slider vertical class="zoom-bar-slider" step="0.05" [value]="zoomLevel" [min]="minValue"
                [max]="maxValue" (input)="setZoomLevel($event.value)">
    </mat-slider>
  </div>
  <div class="zoom-bar-icon" (click)="decreaseZoomLevel()">
    <ion-img slot="start" src="assets/zoom_out.svg"></ion-img>
  </div>
</div>
