.zoom-bar {
  opacity: 0.7;
  transition: opacity .2s ease;
}

.zoom-bar-icon {
  width: 24px;
  margin: auto;
  margin-top: 0 !important;
  margin-bottom: 0 !important;

  ion-img {
    filter: brightness(0) invert(1) drop-shadow(0px 0px 2px rgb(36, 36, 36));
  }
}

.zoom-bar-icon:hover {
  cursor: pointer;
}
