<form [formGroup]="formGroup">
  <ion-item lines="none">
    <ion-label position="floating">{{'username' | translate | titlecase}}</ion-label>
    <ion-input formControlName="username"></ion-input>
  </ion-item>
  <ion-item lines="none">
    <ion-label position="floating">{{'password' | translate | titlecase}}</ion-label>
    <ion-input formControlName="password" type="password"></ion-input>
  </ion-item>
  <ion-item lines="none" class="login-button-container">
      <ion-button (click)="login()" fill="solid" color="primary">
        {{'connection' | translate | titlecase}}
      </ion-button>
  </ion-item>
</form>
