<div class="spinner-container" *ngIf="!(allMediasLoaded | async)">
  <ion-spinner color="light"></ion-spinner>
</div>
<div *ngIf="(allMediasLoaded | async)" fxLayout="row" fxLayoutAlign="center none" fxLayoutGap="15px" class="main-container"
     [fxLayout.lt-md]="'column'" [fxLayoutAlign.lt-md]="'stretch'">
  <div class="side left-side" fxLayout="column" fxLayoutAlign="none" fxFlex="50" fxLayoutGap="5px" *ngIf="(allMediasLoaded | async)"
       [fxLayoutAlign.lt-md]="'space-around none'" [fxFlex.lt-md]="'none'">
    <div class="box title" fxFlex="none" *ngIf="platform.width() < 960">
      <ion-grid>
        <ion-row>
          <ion-col size="8" class="title-container">
            <ion-label class="catamaran">{{title}}</ion-label>
          </ion-col>
          <ion-col *ngIf="logoUrl" style="text-align: right">
            <img [src]="logoUrl" alt="product-logo"/>
          </ion-col>
          <ion-col size="1">
            <ion-button fill="clear" color="dark" class="close-button" (click)="close()">
              <ion-icon name="close-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div class="box desc-title" fxFlex="48px" *ngIf="platform.width() >= 960">
      <ion-item class="label-container" lines="none">
        <ion-label class="catamaran">{{'Premium offer description' | translate}}</ion-label>
      </ion-item>
    </div>
    <div class="box desc-txt" [fxFlex]="'calc(25% - 48px)'" *ngIf="details && platform.width() >= 960" [fxFlex.lt-md]="'none'">
      <ion-text class="catamaran">{{description}}</ion-text>
    </div>
    <div class="box player" fxFlex="50">
      <app-medias-viewer
              [slides]="slides"
              [currentIndex]="currentMediaIndex"
      ></app-medias-viewer>
    </div>
    <div class="box miniatures" fxFlex="15" [fxFlex.lt-md]="'none'">
      <app-miniatures
              [slides]="slides"
              [currentIndex]="currentMediaIndex"
      ></app-miniatures>
    </div>
  </div>
  <div class="side right-side" fxLayout="column" fxLayoutAlign="space-between none" fxFlex="50" fxLayoutGap="5px"  *ngIf="(allMediasLoaded | async)"
       [fxLayoutAlign.lt-md]="'space-around none'" [fxFlex.lt-md]="'none'">
    <div class="box title" fxFlex="10" [fxFlex.lt-md]="'none'" *ngIf="platform.width() >= 960">
      <ion-grid>
        <ion-row>
          <ion-col size="8" class="title-container">
            <ion-label class="catamaran">{{title}}</ion-label>
          </ion-col>
          <ion-col *ngIf="logoUrl" style="text-align: right">
            <img [src]="logoUrl" alt="product-logo"/>
          </ion-col>
          <ion-col size="1">
            <ion-button fill="clear" color="dark" class="close-button" (click)="close()">
              <ion-icon name="close-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col style="text-align: right">
            <img class="rotate" src="assets/ui/premium.png" alt="premium"/>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div class="box txt" fxFlex="25" *ngIf="presentation" [fxFlex.lt-md]="'none'"></div>
    <div class="box actions" fxFlex="10" fxLayout="row" fxLayoutAlign=" start" fxLayoutGap="15px" [fxFlex.lt-md]="'none'">
      <ion-button (click)="onClickWishlistButton()">
        <i class="material-icons" [ngStyle]="{'color': (inWishList | async) ? 'red' : 'white'}">
          {{(inWishList | async) ? 'favorite' : 'favorite_border'}}
        </i>
        <ion-label class="catamaran">{{(inWishList | async) ? ('remove from favorites' | translate): ('add to favorites' | translate)}}</ion-label>
      </ion-button>
      <ion-button class="catamaran" (click)="contact()">{{'Ask for information' | translate}}</ion-button>
    </div>
    <div class="box social-networks" fxFlex="15" [fxFlex.lt-md]="'none'">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-label class="catamaran">{{'You can also follow us on:' | translate}}</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div fxLayout="row" fxLayoutAlign=" start" fxLayoutGap="35px" class="social-networks-grids" [fxFlex.lt-md]="'none'">
              <button (click)="reachUrlInNewTab(facebookUrl)" class="social-networks-grids-button" [ngStyle]="{'display': (facebookUrl) ? 'block' : 'none'}">
                <ion-icon color="light" name="logo-facebook"></ion-icon>
              </button>
              <button (click)="reachUrlInNewTab(instagramUrl)" class="social-networks-grids-button" [ngStyle]="{'display': (instagramUrl) ? 'block' : 'none'}">
                <ion-icon color="light" name="logo-instagram"></ion-icon>
              </button>
              <button (click)="reachUrlInNewTab(linkedinUrl)" class="social-networks-grids-button" [ngStyle]="{'display': (linkedinUrl) ? 'block' : 'none'}">
                <ion-icon color="light" name="logo-linkedin"></ion-icon>
              </button>
              <button (click)="reachUrlInNewTab(twitterUrl)" class="social-networks-grids-button" [ngStyle]="{'display': (twitterUrl) ? 'block' : 'none'}">
                <ion-icon color="light" name="logo-twitter"></ion-icon>
              </button>
              <button (click)="reachUrlInNewTab(youtubeUrl)" class="social-networks-grids-button" [ngStyle]="{'display': (youtubeUrl) ? 'block' : 'none'}">
                <ion-icon color="light" name="logo-youtube"></ion-icon>
              </button>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div class="box info-sup-title" fxFlex="48px">
      <ion-item class="label-container" lines="none">
        <ion-label class="catamaran">{{'Additional information' | translate}}</ion-label>
      </ion-item>
    </div>
    <div class="box desc-txt" [fxFlex]="'calc(20% - 48px)'" [fxFlex.lt-md]="'none'">
      <ion-text class="catamaran">{{details}}</ion-text>
    </div>
    <div class="box pdfs" [fxFlex]="'calc(15% - 48px)'" [fxFlex.lt-md]="'none'" *ngIf="!screenWidthLowerThanMedium()">
      <ion-chip color="dark" *ngIf="pricePdfUrl" (click)="reachUrlInNewTab(pricePdfUrl)">
        <i class="material-icons" style="color: black">picture_as_pdf</i>
        <ion-label class="catamaran">{{'Pricing conditions' | translate}}</ion-label>
        <ion-icon name="cloud-download-outline"></ion-icon>
      </ion-chip>
      <ion-chip color="dark" *ngIf="pdfUrl" (click)="reachUrlInNewTab(pdfUrl)">
        <i class="material-icons" style="color: black">picture_as_pdf</i>
        <ion-label class="catamaran">{{'Additional document' | translate}}</ion-label>
        <ion-icon name="cloud-download-outline"></ion-icon>
      </ion-chip>
    </div>
    <!-- ONLY DISPLAY WHEN WIDTH SIZE LOWER THAN MEDIUM -->
    <div class="box desc-title" fxFlex="48px" *ngIf="screenWidthLowerThanMedium()">
      <ion-item class="label-container" lines="none">
        <ion-label class="catamaran">{{'Additional information' | translate}}</ion-label>
      </ion-item>
    </div>
    <div class="box desc-txt" [fxFlex]="'calc(15% - 48px)'" *ngIf="details && screenWidthLowerThanMedium()" [fxFlex.lt-md]="'none'">
      <ion-text class="catamaran">{{details}}</ion-text>
    </div>
    <div class="box pdfs" [fxFlex]="'calc(15% - 48px)'" [fxFlex.lt-md]="'none'" *ngIf="screenWidthLowerThanMedium()">
      <ion-chip color="dark" *ngIf="pricePdfUrl" (click)="reachUrlInNewTab(pricePdfUrl)">
        <i class="material-icons" style="color: black">picture_as_pdf</i>
        <ion-label class="catamaran">{{'Pricing conditions' | translate}}</ion-label>
        <ion-icon name="cloud-download-outline"></ion-icon>
      </ion-chip>
      <ion-chip color="dark" *ngIf="pdfUrl" (click)="reachUrlInNewTab(pdfUrl)">
        <i class="material-icons" style="color: black">picture_as_pdf</i>
        <ion-label class="catamaran">{{'Additional document' | translate}}</ion-label>
        <ion-icon name="cloud-download-outline"></ion-icon>
      </ion-chip>
    </div>
  </div>
</div>
