<ion-menu side="end" #menu contentId="wish-list-main" *ngIf="!showroomEnv.hideWishlist" swipeGesture="{{swipeGesture}}"
          (ionDidOpen)="onMenuDidOpen()"
          (ionDidClose)=onMenuDidClose()>
  <ion-content id="wish-list-main" scroll-y="true">
    <ion-list>
      <ion-list-header style="padding: 0">
        <ion-item style="width: 100%">
          <ion-icon name="basket" style="color: black; margin-right: 10px;"></ion-icon>
          <ion-title style="padding: 0">Wishlist</ion-title>
          <ion-buttons slot="end">
            <ion-button class="close" (click)="closeMenu()">
              <ion-icon name="close" ></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>
      </ion-list-header>
      <ion-item *ngFor="let product of (products | async); index as i" class="product-line"
                [lines]="(i === wishListHandler.length - 1) ? 'none' : 'inset'">
        <app-product-line [product]="product" style="width: 100%"></app-product-line>
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-item class="total" lines="none">
    <div *ngIf="wishListHandler.total > 0">
      <ion-label class="text">{{'Total'}}</ion-label>
      <ion-label class="value">{{(wishListHandler.total | currency:customerEnv.currency)}}</ion-label>
    </div>
    <div slot="end">
      <div *ngIf="loading">
        <ion-spinner color="dark"></ion-spinner>
      </div>
      <ion-buttons slot="end">
        <ion-button *ngIf="!success && !loading" color="primary" fill="solid" (click)="sendWishList()">
          <ion-icon color="secondary" style="margin-right: 5px; transform: scale(1)" name="send"></ion-icon>
          <ion-label color="secondary">{{'Send my wishlist' | translate}}</ion-label>
        </ion-button>
        <ion-button *ngIf="success && !loading" color="primary" fill="solid">
          <ion-icon color="secondary" style="margin-right: 5px; transform: scale(1)" name="checkmark-outline"></ion-icon>
          <ion-label color="secondary">{{'Successfully sent' | translate}}</ion-label>
        </ion-button>
      </ion-buttons>
    </div>
  </ion-item>
</ion-menu>
