@use '~src/theme/custom';

@media (max-width: 768px) {
  ion-menu {
    --min-width: 100%
  }
}

ion-menu {
  --width: 50%;

  ion-content {
    pointer-events: all;
  }
}

ion-button {
  text-transform: none;
  --ripple-color: transparent;
}

.total {
  border-top: 1px solid #c8c8c8;
  .value {
    text-align: right
  }
}

ion-button.close {
  color: custom.$danger;
  --ripple-color: transparent;

  &:hover {
    --background: transparent;
  }

  &:hover ion-icon {
    transform: rotate(90deg);
  }

  ion-icon {
    transition: transform .08s ease-in-out;
  }
}

ion-icon {
  transform: scale(1.3);
}
