<ion-list lines="none" style="border-radius: 4px">
  <ion-item style="justify-content: center" *ngIf="(isLoading | async)">
    <ion-spinner style="margin: auto"></ion-spinner>
  </ion-item>
  <ion-grid *ngIf="!(isLoading | async)">
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-buttons style="width: 100%">
            <ion-button (click)="fileInputImage.click()" color="primary" fill="solid" style="width: 100%">
              <div *ngIf="!(isUploading | async); else spinner">
                <ion-label>{{'Upload new video' | translate}}</ion-label>
              </div>
              <ng-template #spinner>
                <ion-spinner color="light"></ion-spinner>
              </ng-template>
            </ion-button>
            <input #fileInputImage type="file" accept=".mp4" [uploader]="uploader"
                   ng2FileSelect style="display:none;" (change)="upload()"/>
          </ion-buttons>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item [formGroup]="formGroup">
          <ion-label>{{'Select a video' | translate}}</ion-label>
          <ion-select #ionSelect formControlName="videoId" *ngIf="videos.length > 0" [value]="videoId" (ionChange)="onUrlChanged($event)" cancelText="{{'Cancel' | translate}}">
            <ion-select-option *ngFor="let video of videos" value="{{video.id}}">{{video.fileName}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item [formGroup]="formGroup">
          <ion-label>{{'Mute video ?' | translate}}</ion-label>
          <ion-checkbox formControlName="isMuted" (ionChange)="isMutedControlChanged($event)"></ion-checkbox>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-list>
