<ion-list lines="none" style="border-radius: 4px">
  <ion-item style="justify-content: center" *ngIf="(isLoading | async)">
    <ion-spinner style="margin: auto"></ion-spinner>
  </ion-item>
  <ion-grid *ngIf="!(isLoading | async)">
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-buttons style="width: 100%">
            <ion-button (click)="fileInputImage.click()" color="primary" fill="solid" style="width: 100%">
              <div *ngIf="!(isUploading | async); else spinner">
                <ion-label>{{'Upload new picture' | translate}}</ion-label>
              </div>
              <ng-template #spinner>
                <ion-spinner color="light"></ion-spinner>
              </ng-template>
            </ion-button>
            <input #fileInputImage type="file" accept=".png,.jpg" [uploader]="uploader"
                   ng2FileSelect style="display:none;" (change)="upload()"/>
          </ion-buttons>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item [formGroup]="formGroup">
          <ion-label>{{'Select a picture' | translate}}</ion-label>
          <ion-select #ionSelect formControlName="pictureId" *ngIf="pictures.length > 0" [value]="pictureId" (ionChange)="onUrlChanged($event)" cancelText="{{'Cancel' | translate}}">
            <ion-select-option *ngFor="let picture of pictures" value="{{picture.id}}">{{picture.fileName}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-list>
