<ion-grid [formGroup]="videoFormGroup">
    <ion-row>
        <ion-col size="2">
            <ion-item>
                <ion-label position="floating">{{'Language' | translate}}</ion-label>
                <ion-select (ionChange)="onLanguageChange($event)" formControlName="language" interface="popover">
                    <ion-select-option *ngFor="let lng of localLanguageList" [value]="lng">{{lng}}</ion-select-option>
                </ion-select>
            </ion-item>
        </ion-col>
        <ion-col>
            <ion-item style="--inner-padding-end: 0">
                <ion-item style="width: 100%;">
                    <ion-input formControlName="url" [inputmode]="'url'" (ionChange)="onUrlChanged($event)" placeholder="{{'Video URL' | translate}}"></ion-input>
                </ion-item>
                <ion-buttons slot="end">
                    <ion-button (click)="delete()" color="danger" fill="clear">
                        <ion-icon name="trash-sharp"></ion-icon>
                    </ion-button>
                </ion-buttons>
            </ion-item>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col style="padding-right: 0">
            <ion-item>
                <ion-label style="display: contents">{{'Open URL in a new tab' | translate}}</ion-label>
                <ion-checkbox formControlName="openInNewTab" (ionChange)="fieldUpdated.emit('openInNewTab')" color="primary" slot="end">></ion-checkbox>
            </ion-item>
        </ion-col>
    </ion-row>
</ion-grid>
