ion-img {
  height: 100%;
  width: 100%;

  &::part(image) {
    display: block;
    margin: auto;
    max-height: 130px;
  }
}

.remove-product {
  &::part(native) {
    padding-inline-end: 0 !important;
  }
}

ion-grid {
  ion-row {
    ion-col {

      align-self: center;

      &.actions {
        text-align: right;
        padding-right: 0;
      }

      &.price {
        text-align: right;

        .value {
          pointer-events: none;

          &:hover {
            cursor: default;
          }
        }
      }

      &.title {
        display: block;
        margin: auto;

        ion-label {
          font-weight: bold;
        }
      }
    }
  }
}

canvas {
  width: 100%;
  margin: auto;
}
