<ion-grid *ngIf="product">
  <ion-row>
    <ion-col size="2">
      <ion-img [ngStyle]="{'display' : !(photoIsVideoThumbnail | async) && !(noMedia | async) ? 'block' : 'none'}" [src]="(photoUrl | async)"></ion-img>
      <canvas [ngStyle]="{'display' : (photoIsVideoThumbnail | async) && !(noMedia | async) ? 'block' : 'none'}" #canvas></canvas>
      <img [ngStyle]="{'display' : (noMedia | async) ? 'block' : 'none'}" src="assets/ui/nophoto.jpg" alt="no-photo">
    </ion-col>
    <ion-col style="padding-left: 0">
      <ion-grid style="padding-left: 0">
        <ion-row>
          <ion-col class="title">
            <ion-label>{{(product$ | async)?.code | titlecase}}</ion-label>
          </ion-col>
          <ion-col style="text-align: right">
            <ion-button fill="clear" color="light" class="remove-product" (click)="removeProduct()">
              <ion-icon name="close" style="color: black"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="price" style="padding-left: 0; text-align: left">
            <ion-chip (click)="decrementProductQuantity()">
              <ion-icon style="display: block; margin: auto" name="remove"></ion-icon>
            </ion-chip>
            <ion-chip class="value">
              {{'x' + product.quantity}}
            </ion-chip>
            <ion-chip (click)="incrementProductQuantity()">
              <ion-icon style="display: block; margin: auto" name="add"></ion-icon>
            </ion-chip>
          </ion-col>
          <ion-col style="padding-left: 0; text-align: right; display: block; margin: auto;" [sizeXs]="3">
            <ion-label>{{((product.price * product.quantity) | currency:customerEnv.currency)}}</ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-col>
  </ion-row>
</ion-grid>
