<div class="error">
  <ion-card>
    <ion-card-content>
      <ion-card-title>Error</ion-card-title>
      <ion-card-subtitle>{{message}}</ion-card-subtitle>
    </ion-card-content>
  </ion-card>
</div>
