.item {
  display: block;
  margin: auto;
}

ion-grid {
  padding: 0;
  border: 1px #d4d4d4 solid;
  border-radius: .7em;

  &:hover {
    background-color: rgba(var(--ion-color-medium-rgb), .05);
  }

  ion-row {
    margin: 0;
    padding: 0;
  }

  ion-col {
    margin: auto;
    padding: 0px;

    ion-button {
      padding: 0;
      margin: 0;
    }
  }
}

.price-container {
  ion-button {
    --ripple-color: transparent;
  }
}

ion-button {
  width: 100%;
  --ripple-color: transparent;
  --background-hover: transparent;
  --min-height: 35px
}

.price {
  --color: var(--ion-color-primary) !important;
  padding: 0 15px !important;
}

.add-to-wishlist {
  --border-radius: 0 1em 1em 0
}

.remove-col {
  ion-button {
    --min-width: 46px;
    --border-radius: 1em 0 0 1em
  }
}

.add-col {
  ion-button {
    --min-width: 46px;
  }
}
