<ion-grid *ngIf="!isInventoryEnabled || inventoryQuantity ">
  <ion-row class="price-container">
    <ion-col style="min-width: 138px" [ngStyle]="{'border-bottom': (isBreakpoints()) ? '1px solid rgb(212, 212, 212)' : 'none'}">
      <ion-row>
        <ion-col class="remove-col" style="min-width: 46px">
          <ion-button fill="clear" size="default" (click)="remove()">
            <ion-icon name="remove" class="item"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col class="price-col" style="min-width: 46px">
          <ion-label class="item price" style="text-align: center">{{quantity | async}}</ion-label>
        </ion-col>
        <ion-col class="add-col" style="min-width: 46px">
          <ion-button *ngIf="!isInventoryEnabled || hasQuantity()" fill="clear" size="default" (click)="add()">
            <ion-icon name="add" class="item"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-col>
    <ion-col>
      <ion-button class="item add-to-wishlist" fill="clear" (click)="onClickWishlistButton()" [disabled]="(quantity | async) === 0">
        <ion-icon style="margin-right: 5px" [name]="(inWishList | async) ? 'heart' : 'heart-outline'"></ion-icon>
        <ion-label>{{(inWishList | async) ? ('Remove from wishlist' | translate): ('Add to wishlist' | translate)}}</ion-label>
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="isInventoryEnabled && hasLowQuantity()">
    <ion-label>{{'Inventory quantity : ' | translate}} {{inventoryQuantity}}</ion-label>
  </ion-row>
</ion-grid>
<ion-grid *ngIf="isInventoryEnabled && !inventoryQuantity">
  <ion-row class="price-container" style="min-width: 138px">
    <ion-label style="min-width: 138px" class="medium-text-size red-color">{{'Sold out' | translate}}</ion-label>
  </ion-row>
</ion-grid>
