<ion-header>
    <ion-toolbar color="light">
        <ion-title>{{'contact' | translate | titlecase}}</ion-title>
        <ion-buttons slot="end">
            <ion-button fill="clear" color="dark" (click)="close()">
                <ion-icon name="close-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-slides #slides [options]="{ allowTouchMove: false, autoHeight: true }">
        <ion-slide *ngIf="!noUserForm">
            <ion-list [formGroup]="userFormGroup">
                <div *ngFor="let item of userControls">
                    <ion-item *ngIf="item.type === 'localisation'" (click)="openCountryPicker()" class="country-picker">
                        <ion-label>{{(item.title | translate | titlecase)}}</ion-label>
                        <ion-label style="text-align: right; padding-right: 10px">{{this.countryControl.value.name}}</ion-label>
                        <flag-icon [country]="countryControl.value.alpha2"></flag-icon>
                    </ion-item>

                    <ion-item *ngIf="item.type === 'text'" [className]="item.type" [lines]="(item.type === 'text-area') ? 'none': ''">
                        <ion-label position="floating">{{item.title | translate | titlecase}}</ion-label>
                        <ion-input [formControlName]="item.key"></ion-input>
                    </ion-item>
                </div>
            </ion-list>
        </ion-slide>
        <ion-slide>
            <ion-list [formGroup]="mailFormGroup">
                <ion-item>
                    <ion-label position="floating">{{'object' | translate | titlecase}}</ion-label>
                    <ion-input formControlName="object"></ion-input>
                </ion-item>
                <ion-item lines="none">
                    <ion-label position="floating">{{'Describe in a few lines your need' | translate | titlecase}}</ion-label>
                    <ion-textarea formControlName="content" autoGrow="true"></ion-textarea>
                </ion-item>
            </ion-list>
        </ion-slide>
    </ion-slides>
</ion-content>
<ion-footer>
    <ion-toolbar color="light">
        <ion-grid *ngIf="!noUserForm && currentIndex === 0">
            <ion-row>
                <ion-label class="rgpd-message">
                    {{cciRGPD | translate}}
                </ion-label>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-button color="danger" (click)="close()">
                        {{'Cancel' | translate | titlecase}}
                    </ion-button>
                </ion-col>
                <ion-col>
                    <ion-button color="success" (click)="goToMailForm()" [disabled]="userFormGroup.invalid">
                        {{'Next' | translate | titlecase}}
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
        <ion-grid *ngIf="!noUserForm && currentIndex === 1">
            <ion-row>
                <ion-col>
                    <ion-button color="danger" (click)="slidePrev()">
                        {{'Back' | translate | titlecase}}
                    </ion-button>
                </ion-col>
                <ion-col>
                    <ion-button color="success" (click)="confirm()" [disabled]="mailFormGroup.invalid">
                        {{'Confirm' | translate | titlecase}}
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
        <ion-grid *ngIf="noUserForm">
            <ion-row>
                <ion-col>
                    <ion-button color="danger" (click)="close()">
                        {{'Cancel' | translate | titlecase}}
                    </ion-button>
                </ion-col>
                <ion-col>
                    <ion-button color="success" (click)="confirm()" [disabled]="mailFormGroup.invalid">
                        {{'Confirm' | translate | titlecase}}
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-footer>
