ion-header {
  position: static;
}
ion-list {
  height: 100%;
  overflow-y: auto;
}

ion-footer ion-col {
  text-align: center;
}

.country-picker {
  &:hover {
    --background: whitesmoke;
    cursor: pointer;
  }
}

ion-slide >:first-child {
  width: 100%;
}
