<!--<ion-card>-->
<!--    <ion-grid>-->
<!--        <ion-row>-->
<!--            <ion-col>-->
<!--                <ion-header translucent>-->
<!--                    <ion-toolbar color="primary">-->
<!--                        <ion-title>-->
<!--                            Scanner-->
<!--                        </ion-title>-->
<!--                        <ion-buttons slot="end">-->
<!--                            <ion-select (ionChange)="changeCamera($event.detail.value)"-->
<!--                                        placeholder="Camera"-->
<!--                                        [value]="currentDevice.deviceId"-->
<!--                                        *ngIf="camerasList.length > 1 && currentDevice">-->
<!--                                <ion-select-option *ngFor="let cam of camerasList" [value]="cam.deviceId">{{cam.label}}</ion-select-option>-->
<!--                            </ion-select>-->
<!--&lt;!&ndash;                            <ion-button *ngIf="isTorchCompatible" (click)="toggleTorch()">&ndash;&gt;-->
<!--&lt;!&ndash;                                <ion-icon [name]="(torchLid) ? 'flash' : 'flash-off'"></ion-icon>&ndash;&gt;-->
<!--&lt;!&ndash;                            </ion-button>&ndash;&gt;-->
<!--                        </ion-buttons>-->
<!--                    </ion-toolbar>-->
<!--                </ion-header>-->
<!--            </ion-col>-->
<!--        </ion-row>-->
<!--        <ion-row>-->
<!--            <ion-col>-->
<!--                <zxing-scanner-->
<!--                        #scanner-->
<!--                        *ngIf="error === null"-->
<!--                        [formats]="formats"-->
<!--                        [(device)]="currentDevice"-->
<!--                        [torch]="torchLid"-->
<!--                        (torchCompatible)="torchCompatibleFound($event)"-->
<!--                        (camerasFound)="camerasFound($event)"-->
<!--                        (camerasNotFound)="camerasNotFound()"-->
<!--                        (scanSuccess)="scanSuccessHandler($event)"-->
<!--                        (scanError)="scanErrorHandler($event)"-->
<!--                ></zxing-scanner>-->
<!--                <div *ngIf="loading && error === null" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%)">-->
<!--                    <ion-spinner name="circles"></ion-spinner>-->
<!--                </div>-->
<!--                <div *ngIf="error !== null">-->
<!--                    {{error}}-->
<!--                </div>-->
<!--            </ion-col>-->
<!--        </ion-row>-->
<!--        <ion-button color="danger" style="width: 100%; padding-right: 5px" (click)="closeModal()">-->
<!--            {{'Cancel' | translate}}-->
<!--        </ion-button>-->
<!--    </ion-grid>-->
<!--</ion-card>-->
