ion-item {
  ion-label {
    transition: transform .2s ease;
  }

  &:hover {
    cursor: pointer;

    ion-label {
      transform: translateX(8px);
    }
  }
}

ion-content {
  height: 20vw;
}

ion-searchbar {
  margin-bottom: 10px;
}

ion-footer {
  margin-top: 20px;
  --background: transparent;

  ion-button {
    margin: auto;
  }
}

ion-header {
  ion-icon {

  }
}

ion-toolbar {
  --background: transparent;
}

.no-product-container {
  height: 100%;
  text-align: center;

  ion-label {
  }
}

.spinner-container {
  pointer-events: none;
  background-color: white;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 101;

  ion-spinner {
    top: 50%;
    display: block;
    margin: auto;
    transform: translateY(-50%);
  }
}

.not-expanded {
  max-height: 0;
}

.expandable {
  background-color: white;
  transition: all 1s ease-in-out;
  overflow: hidden;
  padding: 0 20px;

  & ion-item {
    width: 100%;
    --background: transparent;
    padding: 0 20px;

    ion-input {
      --background: transparent !important;
    }
  }
}

ion-img {
  &::part(image) {
    height: 100%;
    width: 100%;
    display: block; margin: auto;
  }
}
