<ion-list style="width: 100%; height: 100%">
  <ion-list-header style="padding: 0">
    <ion-label style="text-align: start; padding-left: 16px">
      <ion-icon name="settings-outline"></ion-icon>
      {{'Settings' | translate}}
    </ion-label>
  </ion-list-header>

  <ion-item style="text-align: center">
    <ion-label>
      Audio
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>{{'Input' | translate}}</ion-label>
    <ion-select (ionChange)="changeAudioInput($event)" [value]="(jitsiService.audioInputDevice | async)" okText="Select" cancelText="Cancel">
      <ion-select-option *ngFor="let device of (jitsiService.audioInputDevices | async)" [value]="device.deviceId">{{device.label}}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>{{'Output' | translate}}</ion-label>
    <ion-select (ionChange)="changeAudioOutput($event)" [value]="(jitsiService.audioOutputDevice | async)" okText="Select" cancelText="Cancel">
      <ion-select-option *ngFor="let device of (jitsiService.audioOutputDevices | async)" [value]="device.deviceId">{{device.label}}</ion-select-option>
    </ion-select>
  </ion-item>


  <ion-item style="text-align: center">
    <ion-label>
      Video
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>{{'Input' | translate}}</ion-label>
    <ion-select (ionChange)="changeVideoInput($event)" [value]="(jitsiService.videoInputDevice | async)" okText="Select" cancelText="Cancel">
      <ion-select-option *ngFor="let device of (jitsiService.videoInputDevices | async)" [value]="device.deviceId">{{device.label}}</ion-select-option>
    </ion-select>
  </ion-item>

</ion-list>
<ion-button (click)="close()">{{'Close' | translate}}</ion-button>