<ion-card>
  <ion-card-header>
    <ion-card-title>{{'Editor Settings' | translate}}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-list *ngIf="(shellIsValid$ | async); else invalidShell" lines="none">
      <ion-item >
        <ion-label>{{'Display 3D scan' | translate}}</ion-label>
        <ion-checkbox [ngModel]="displayShellValue" (ionChange)="displayShellChanged($event.detail.checked)"></ion-checkbox>
      </ion-item>
    </ion-list>

    <ng-template #invalidShell>
      <ion-list lines="none">
        <ion-item style="text-align: center">
          <ion-label>{{'No settings' | translate}}</ion-label>
        </ion-item>
      </ion-list>
    </ng-template>
  </ion-card-content>
</ion-card>
