<ion-header>
  <ion-item lines="none">
    <ion-title>{{('Editor' | translate | titlecase)}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="movePortal()">
        <ion-icon name="move"></ion-icon>
      </ion-button>
      <ion-button (click)="removePortal()">
        <ion-icon name="trash" color="danger"></ion-icon>
      </ion-button>
      <ion-button (click)="cancel()">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item>
</ion-header>
<ion-content>
  <ion-list *ngIf="portal">
    <ion-item>
      <ion-label>{{'Link to' | translate}}...</ion-label>
      <ion-select [value]="portal.sweepId" (ionChange)="changeSweep($event.detail.value)" [placeholder]="'Select one' | translate">
        <ion-select-option *ngFor="let sweep of sweepsList" [value]="sweep.id">{{sweep.title | translate}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>{{'Image rotation' | translate}}</ion-label>
      <ion-range [value]="portal.rotation" min="0°" max="360" [pin]="true" (ionChange)="rotationChange($event.detail.value)" color="secondary">
        <ion-label slot="start">0°</ion-label>
        <ion-label slot="end">360°</ion-label>
      </ion-range>
    </ion-item>

    <ion-item style="height: 20vh">
      <ion-label>{{'Image preview' | translate}}</ion-label>
      <img style="height: 20vh" src="/assets/ui/portal.png" alt="arrow" [ngStyle]="{'transform': 'rotate(' + portal.rotation + 'deg)'}">
    </ion-item>

  </ion-list>
</ion-content>
<ion-footer style="position: absolute; bottom: 0"> <!--FOOTER-->
  <ion-toolbar color="light">
    <ion-row>
      <ion-col>
        <ion-buttons>
          <ion-button fill="solid" color="danger" (click)="cancel()">
            <ion-label>{{'Cancel' | translate}}</ion-label>
          </ion-button>
        </ion-buttons>
      </ion-col>
      <ion-col>
        <ion-buttons>
          <ion-button fill="solid" color="success" (click)="confirm()">
            <ion-label>{{'Confirm' | translate}}</ion-label>
          </ion-button>
        </ion-buttons>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
