<ion-list>
  <ion-item button class="dropdown-icon-menu-button" (click)="onSelection('poi')">
    <ion-label>
      <ion-icon class="dropdown-icon-menu-icon" name="invert-mode-outline"></ion-icon>
      {{'2D interactive point' | translate}}
    </ion-label>
  </ion-item>
  <ion-item button class="dropdown-icon-menu-button" (click)="onSelection('shape-poi')">
    <ion-label>
      <ion-icon class="dropdown-icon-menu-icon" name="cube-outline"></ion-icon>
      {{'3D interactive point' | translate}}
    </ion-label>
  </ion-item>
</ion-list>
