ion-card {
  margin: 0;
  box-shadow: none !important;
  outline: 1px solid whitesmoke;

  &:hover {
    background: whitesmoke;
    cursor: pointer;
  }

  ion-img {
    width: 100%;
    height: 100%;
  }

  ion-card-header {
    padding: 0;
    ion-item {
      --background: whitesmoke;
    }
    background: whitesmoke;
  }
}
