<ion-card #card (click)="downloadFixtureInShowroom.emit(this.fixture)">
  <ion-img [src]="fixture.thumbnailUrl" alt="fixture-image"></ion-img>
  <ion-card-header>
    <ion-item lines="none">
      <ion-card-subtitle>{{fixture.name}}</ion-card-subtitle>
      <ion-buttons slot="end">
        <ion-button>
          <i class="material-icons" style="color: black">download</i>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-card-header>
</ion-card>
