<ion-header>
  <ion-item lines="none">
    <ion-title>{{'Products'|translate}}</ion-title>
    <ion-item>
      <ion-icon *ngIf="currentFolder" (click)="returnFolder()" name="arrow-back-outline"></ion-icon>
      <ion-title>{{path}}</ion-title>
    </ion-item>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item>
</ion-header>
<ion-content>
  <div fxLayout="row" fxLayoutAlign="none">
    <div fxFlex="100">
      <ion-searchbar #searchbar debounce="3000" [placeholder]="('Search' | translate)"></ion-searchbar>

      <ion-spinner class="no-scroll" *ngIf="isLoading || isLoading===undefined" name="crescent"
                   style="height: 100%; width: 100%"></ion-spinner>

      <ion-grid class="scroll" *ngIf="!isLoading && currentItems.length > 0">
        <ion-row>
          <ion-col size="3" *ngFor="let item of currentItems">
            <app-folder-card *ngIf="!item.product_ean" [folder]="item"
                             (openFolder)="openFolder($event)"></app-folder-card>
            <app-product-card *ngIf="item.product_ean" [product]="item"
                              (downloadProductInShowroom)="productPlacement($event)"></app-product-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>
