<ion-card>
    <ion-card-header>
        <ion-item lines="none" style="width: 100%">
            <ion-label>{{'New attribute' | translate}}</ion-label>
            <ion-buttons slot="end">
                <ion-button (click)="close()">
                    <ion-icon name="close"></ion-icon>
                </ion-button>
            </ion-buttons>
        </ion-item>
    </ion-card-header>
    <ion-card-content>
        <mat-horizontal-stepper linear #stepper>
            <mat-step [stepControl]="typeFormGroup" [editable]="isEditable">
                <form [formGroup]="typeFormGroup">
                    <ng-template matStepLabel>{{'Type' | translate}}</ng-template>
                    <ion-item>
                        <ion-label>{{'Type' | translate}}</ion-label>
                        <ion-select formControlName="type" required cancelText="{{'Cancel' | translate}}">
                            <ion-select-option *ngFor="let attribute of attributes" [value]="attribute.type">{{attribute.type}}</ion-select-option>
                        </ion-select>
                    </ion-item>
                    <ion-item lines="none" style="width: 100%; margin-top: 24px;">
                        <ion-buttons slot="end">
                            <ion-button (click)="confirmFirstStep()"
                                        [disabled]="typeFormGroup.invalid"
                                        color="primary"
                                        fill="solid">
                                {{'Next' | translate}}
                            </ion-button>
                        </ion-buttons>
                    </ion-item>
                </form>
            </mat-step>
            <mat-step [stepControl]="dataFormGroup" [editable]="isEditable">
                <form [formGroup]="dataFormGroup">
                    <ng-template matStepLabel>{{'Information' | translate}}</ng-template>
                    <ion-item lines="none" class="dynamic-form-container">
                        <ng-template appDynamicForm></ng-template>
                    </ion-item>
                    <ion-item lines="none" style="width: 100%; margin-top: 24px;">
                        <ion-buttons slot="start">
                            <ion-button (click)="back()" color="danger" fill="solid">{{'Back'}}</ion-button>
                        </ion-buttons>
                        <ion-buttons slot="end">
                            <ion-button (click)="stepper.next()"
                                        [disabled]="!isDataFormValid"
                                        color="primary"
                                        fill="solid">
                                {{'Next' | translate}}
                            </ion-button>
                        </ion-buttons>
                    </ion-item>
                </form>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>{{'Done' | translate}}</ng-template>
                <ion-item lines="none" style="width: 100%">
                    <ion-label>{{'Confirm to validate form.' | translate}}</ion-label>
                </ion-item>
                <ion-item lines="none" style="width: 100%; margin-top: 24px;">
                    <ion-buttons slot="end">
                        <ion-button (click)="confirm()" color="success" fill="solid">{{'Confirm' | translate}}</ion-button>
                    </ion-buttons>
                </ion-item>
            </mat-step>
        </mat-horizontal-stepper>
    </ion-card-content>
</ion-card>
