<ion-list lines="none">
    <ion-list-header>
        <ion-item style="width: 100%">
            <ion-label>{{'PDF list' | translate}}</ion-label>
            <ion-buttons slot="end">
                <ion-button (click)="addPdf()" fill="solid" color="primary" [disabled]="(availableLanguages | async).length === 0">
                    <ion-icon name="add-outline" style="margin-right: 10px"></ion-icon>
                    <ion-label>{{ ((availableLanguages | async).length === 0) ? ('Maximum PDF reached' | translate) : ('Add new pdf' | translate)}}</ion-label>
                </ion-button>
            </ion-buttons>
        </ion-item>
    </ion-list-header>
    <ion-item *ngFor="let pdfControl of pdfsFormArray.controls; index as index" lines="full">
        <app-pdf-row style="width: 100%"
                     [poiId]="poi.id"
                     [index]="index"
                     [pdfFormGroup]="pdfControl"
                     [localLanguageList]="getAvailableLanguages(index)"
                     (fieldUpdated)="updateControlsValidity()"
                     (deleteEvent)="deleteItem(index, $event)"
                     (languageChanged)="onLanguageChanged(index, $event)"
        ></app-pdf-row>
    </ion-item>
</ion-list>
