<ion-header translucent>
  <ion-toolbar>
    <ion-title>
      {{(windowTitle | translate)}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-slides [options]="sliderOpts" #slider>
    <ion-slide [scrollTop]="0" *ngIf="product && hasLoaded">
        <app-custom-product-main-form
                [(product)]="product"
                [(isUpdating)]="updateProduct"
                (loadingInProgress)="eanLoading($event)"
                (productValidityChange)="productValidityUpdate($event)"
                [hasScanner]="isBarcodeScannerEnabled"
                [hasPersonalEditor]="isPersonalEditorEnabled"
                style="width: 100%">
        </app-custom-product-main-form>
    </ion-slide>

    <ion-slide [scrollTop]="0" *ngIf="product && hasLoaded">
      <app-custom-product-media-form
              [(product)]="product"
              (hasLoaded)="slideHasLoaded()"
              style="width: 100%">
      </app-custom-product-media-form>
    </ion-slide>

  </ion-slides>

  <ion-spinner *ngIf="!(product && hasLoaded)" style="top: 50%; left: 50%; transform: translate(-50%, -50%)"></ion-spinner>

</ion-content>

<ion-footer>
  <ion-toolbar color="light">
    <ion-row>
      <ion-col>
        <ion-buttons>
          <ion-button fill="solid" color="danger" *ngIf="(currentSliderPage | async) === 1" (click)="back()">
            <ion-label>{{'Back' | translate}}</ion-label>
          </ion-button>
          <ion-button fill="solid" color="danger" *ngIf="(currentSliderPage | async) === 0" (click)="dismiss()">
            <ion-label>{{'Cancel' | translate}}</ion-label>
          </ion-button>
        </ion-buttons>
      </ion-col>
      <ion-col>
        <ion-buttons>
          <ion-button fill="solid" color="success" *ngIf="(currentSliderPage | async) === 0" (click)="next()" [disabled]="!canGoNext()">
            <ion-label>{{'Next' | translate}}</ion-label>
          </ion-button>
          <ion-button fill="solid" color="success" *ngIf="(currentSliderPage | async) === 1" (click)="confirm()">
            <ion-label>{{'Confirm' | translate}}</ion-label>
          </ion-button>
        </ion-buttons>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
