@use '~src/theme/custom';

ion-slide { overflow-y: auto }

ion-header {
  background-color: custom.$rvr-darkblue;

  ion-toolbar {
    --background: transparent;
    ion-title {
      color: white;
    }
  }
}

ion-footer {
  --background: white;
  ion-toolbar {
    --background: white;
  }
}

ion-button {
  margin: 0 auto;
}
