<ion-header>
  <ion-item lines="none">
    <ion-title>{{'SmartObjects'|translate}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item>
</ion-header>
<ion-content>
  <div fxLayout="row" fxLayoutAlign="none">

    <div fxFlex="100" class="scroll" *ngIf="isLoading || isLoading===undefined">
      <!-- Crescent -->
      <ion-spinner name="crescent"></ion-spinner>
    </div>
    <div fxFlex="100" class="scroll" *ngIf="!isLoading">
      <ion-grid>
        <ion-row *ngIf="(smartObject | async).length > 0">
          <ion-col sizeXl="3" *ngFor="let smartObject of (smartObject | async)">
            <app-smart-object-card
                    [smartObject] ="smartObject"
                    (downloadFixtureInShowroom)="smartObjectPlacement($event)"
            ></app-smart-object-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>
