<ion-card #card>
  <ion-img *ngIf= "smartObject.smart_objects_thumbnailUrl"  [src]="smartObject.smart_objects_thumbnailUrl" alt="smartObject-image"></ion-img>
  <ion-img *ngIf= "!smartObject.smart_objects_thumbnailUrl" src="assets/icon/nophoto.jpg" alt="smartObject-image"></ion-img>
  <ion-card-header>
    <ion-item lines="none">
      <ion-card-subtitle>{{smartObject.name}}</ion-card-subtitle>
      <ion-buttons slot="end">
        <ion-button *ngIf="smartObject.smart_objects_glbModelUrl" (click)="downloadFixtureInShowroom.emit(this.smartObject)">
          <i class="material-icons" style="color: black">download</i>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-card-header>
</ion-card>