<ion-card class="uploader-card">
  <ion-buttons *ngIf="image" class="rotate-buttons" style="'z-index: 1000 !important'">
    <ion-button class="rotate-icon" size="small" shape="round"><i class="material-icons" (click)="rotateImage(90)">rotate_left</i></ion-button>
    <ion-button class="rotate-icon" size="small" shape="round"><i class="material-icons" (click)="rotateImage(-90)">rotate_right</i></ion-button>
  </ion-buttons>
  <ion-img *ngIf="image.url" [src]="image.url"></ion-img>
  <ion-card-header>
    <ion-card-subtitle style="text-align: center">{{'Image ' + index}}</ion-card-subtitle>
    <ion-card-title>
      <ion-buttons *ngIf="image.url">
        <ion-button color="danger" fill="clear" (click)="deleteImage()">
          {{'Delete' | translate | titlecase}}
        </ion-button>
      </ion-buttons>
    </ion-card-title>
  </ion-card-header>
</ion-card>