.uploader-card {
  padding-top: 16px;

  ion-button:not(.rotate-icon) {
    width: 100%;
  }
  ion-img::part(image) {
    height: 8vw;
    display: block;
  }
}

.rotate-icon {
  width: 32px;
}

.rotate-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}