<ion-list lines="none">
  <ion-list-header>
    <ion-item style="width: 100%">
      <ion-label>{{'Video list' | translate}}</ion-label>
      <ion-buttons slot="end">
        <ion-button (click)="addVideo()" fill="solid" color="primary" [disabled]="(availableLanguages | async).length === 0">
          <ion-icon name="add-outline" style="margin-right: 10px"></ion-icon>
          <ion-label>{{ ((availableLanguages | async).length === 0) ? 'Maximum video reached' : 'Add new video' | translate}}</ion-label>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list-header>
  <ion-item *ngFor="let videoControl of videosFormArray.controls; index as index" lines="full">
    <app-video-row style="width: 100%"
                   [videoFormGroup]="videoControl"
                   [localLanguageList]="getAvailableLanguages(index)"
                   (fieldUpdated)="updateControlsValidity()"
                   (deleteEvent)="deleteItem(index)"
                   (languageChanged)="onLanguageChanged(index, $event)"
    ></app-video-row>
  </ion-item>
</ion-list>
