@use '~src/theme/custom';

.shortcuts {
  padding: 0;
  margin: 0;

  .entrance-button {

    &:hover ion-label {
      transform: translateX(8px);
      cursor: pointer;
    }

    ion-label {
      font-weight: bold;
      padding: 0;
      margin: 0;
      transition: transform .2s ease;
    }
  }
}

.presentation-video-link {
  text-align: center;

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

ion-list-header {
  padding-right: 16px;
  .title-input {
    background-color: rgba(0, 0, 0, .3);
    border-bottom: 1px solid;
  }
}

ion-menu {
  /*--ion-background-color: rgba(61,61,61,0.7);*/
  --ion-background-color: var(--ion-menu-background);
  --background: var(--ion-toolbar-background);
  --ion-text-color: var(--ion-color-primary-contrast);
  --min-width: 310px;

  ion-header {
    /* --ion-background-color: rgba(61,61,61,0.7);*/
    --ion-background-color: rgba(61,61,61,0);
    --background: rgba(61,61,61,0);
    padding: 20px;
    ion-img {
      padding-left: 40px;
      padding-right: 40px;
    }

    ion-item {
      ion-button {
        width: 100%;
        text-transform: none;
        ion-icon {
          margin-right: 7px;
        }
      }
    }
  }

  ion-list {/* optional, but it needs when you use gradient as a background color.*/
    --ion-background-color: rgba(61,61,61,0);
    padding-top: 0 !important;

    ion-item-sliding {
      /*--ion-background-color: rgba(61,61,61,0);*/
      padding-left: 1.5em;
      -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
      -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
      user-select: none; /* Non-prefixed version, currently*/

      ion-icon {
        color: white;
      }

      ion-label {
        transition: transform .2s ease;
      }

      .trash-button:hover ion-icon {
        color: custom.$danger;
      }
    }

    ion-item-sliding:hover ion-label {
      transform: translateX(8px);
      cursor: pointer;
    }

    ion-list-header {
      /*--ion-background-color: rgba(67,67,67,0.5);*/
      --ion-background-color: rgba(0, 0, 0, 0);
      font-weight: bold !important;
      color: white;
    }
  }
}

ion-menu.ios {
  margin-top: 54px !important;
}

ion-menu.md {
  margin-top: 64px !important;
}

ion-menu::part(backdrop) {
  display: none;
}

ion-item-sliding, ion-item {
  --background: transparent;

  .add-to-list-button {
    width: 100%;
  }
}
