<ion-menu side="start" content-id="main-content" swipeGesture="{{swipeGesture}}" #menu
          (ionDidOpen)="onMenuDidOpen()"
          (ionDidClose)=onMenuDidClose()>
  <ion-header *ngIf="(userEnv.authorization && editorService.isActive) || isValidUrl()">
    <ion-item *ngIf="isValidUrl()" lines="none">
      <ion-buttons slot="end" *appEditorViewOnly>
        <ion-button color="light" (click)="openVideoPresentationForm()" appHelpPopover [helpMessage]="'Edit' | translate">
          <ion-icon name="pencil" style="color: white"></ion-icon>
        </ion-button>
        <ion-button color="light" (click)="deleteVideoPresentation()" appHelpPopover [helpMessage]="'Delete' | translate">
          <ion-icon name="trash-sharp" style="color: white"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
<!--    <div *appEditorViewOnly>-->
<!--      <ion-item *ngIf="!isValidUrl()" lines="none">-->
<!--        <ion-button color="dark" (click)="openVideoPresentationForm()">-->
<!--          {{'Add presentation video' | translate}}-->
<!--        </ion-button>-->
<!--      </ion-item>-->
<!--    </div>-->
  </ion-header>
  <ion-content id="main">
    <ion-list lines="none" class="shortcuts" style="background-color: transparent">
      <ion-item class="entrance-button" (click)="goToEntrance()">
        <ion-label>{{'Entrance' | translate}}</ion-label>
        <ion-buttons slot="end" *appEditorViewOnly>
          <ion-button color="light" (click)="setAsEntrance();$event.stopPropagation()"
                      appHelpPopover [helpMessage]="'Set current position as entrance' | translate">
            <ion-icon name="locate-outline" style="color: white"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>
    </ion-list>
    <ion-list lines="none" style="background-color: transparent">
      <ion-list-header *appEditorViewOnly>
        <ion-input placeholder="Title" [debounce]="250" [(ngModel)]="title" [maxlength]="30" (ionChange)="updateTitle($event)" class="title-input"></ion-input>
      </ion-list-header>
      <ion-list-header *appClientViewOnly>
        <ion-label>{{title}}</ion-label>
      </ion-list-header>
      <app-item-list [itemList]="itemList"
                      (addItem)="openMenuItemCreationModal()"
                      (deleteItem)="deleteItem($event)"
                      (itemClicked)="onMenuItemClicked($event)"
                      (toggleItem)="toggleLevel2($event)"
                      (updateCamera)="updateCurrentCamera($event)"
                      (updateListEvent)="updateList($event)"
                      (editItem)="openMenuItemCreationModal($event)"
      ></app-item-list>
    </ion-list>
    <ion-item *appEditorViewOnly>
      <ion-button appHelpPopover [helpMessage]="'Add the current position in menu' | translate"
                  (click)="openMenuItemCreationModal()"
                  style="--background: white"
                  class="add-to-list-button">
        <ion-icon name="add-outline" style="color: black"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-content>
</ion-menu>
