<div class="spinner-container" *ngIf="!(allImagesLoaded | async)" (click)="close()">
    <ion-spinner name="circles"></ion-spinner>
</div>
<ion-header *ngIf="isMd()" [ngStyle]="{'display' : (allImagesLoaded | async) ? 'block' : 'none'}">
    <div class="grabber"></div>
    <ion-toolbar color="light">
        <ion-buttons slot="start">
            <ion-button (click)="close()">
                <ion-icon name="close-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-buttons>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button>
                <ion-icon name="ellipsis-horizontal"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-grid [ngStyle]="{'display' : (allImagesLoaded | async) ? 'block' : 'none', 'overflow-y': 'scroll'}">
    <ion-button *ngIf="!isMd()" fill="clear" class="close" size="large" shape="round" (click)="close()">
        <ion-icon name="close"></ion-icon>
    </ion-button>
    <ion-row *ngIf="isMd() && title">
        <ion-col class="up-title" >
            <ion-label class="title">{{title}}</ion-label>
        </ion-col>
        <ion-col *ngIf="pdfUrl" style="text-align: right">
            <ion-button (click)="openUrl(pdfUrl)" fill="outline">PDF</ion-button>
        </ion-col>
    </ion-row>
    <ion-row *ngIf="isMd() && subtitle">
        <ion-col class="up-title">
            <ion-label [class]="(title) ? 'subtitle' : 'title'">{{subtitle}}</ion-label>
        </ion-col>
    </ion-row>
    <ion-row *ngIf="!isMd() && title">
        <ion-col>
            <ion-label class="title">{{title}}</ion-label>
        </ion-col>
        <ion-col *ngIf="pdfUrl" style="text-align: right">
            <ion-button (click)="openUrl(pdfUrl)" fill="outline">PDF</ion-button>
        </ion-col>
    </ion-row>
    <ion-row *ngIf="!isMd() && subtitle">
        <ion-label [class]="title ? 'subtitle' : 'title'">{{subtitle}}</ion-label>
    </ion-row>
    <ion-row style="padding-bottom: 30px" *ngIf="customerEnv.showPrice !== false">
        <ion-label class="price">{{price | currency:customerEnv.currency}}</ion-label>
    </ion-row>
    <ion-row>
        <ion-button color="medium" style="width: 49%">
            Détails
        </ion-button>
        <ion-button color="medium" style="width: 49%">
            Description
        </ion-button>
    </ion-row>
    <ion-row>
        <ion-row style="width: 100%">
            <ion-col class="current-media">
                <ion-slides [options]="slidesOptions" [pager]="true" #slider>
                    <ion-slide *ngFor="let slide of slides; index as index" [ngClass]="(slide.media.type === 1) ? 'center' : ''" style="max-height: 350px">
                        <img *ngIf="slide.media.type === 'picture'" (load)="mediaLoaded(index)" [src]="slide.src | safe:'resourceUrl'" [alt]="'min' + index"/>
                        <div *ngIf="slide.media.type === 'video'" class="iframe-container">
                            <video #video controls [autoplay]="!isMobile()" oncanplay="this.muted=true" loop (loadeddata)="mediaLoaded(index, video)">
                                <source [src]="slide.src | safe:'resourceUrl'"/>
                            </video>
                        </div>
                    </ion-slide>
                </ion-slides>
                <div class="swiper-button-next" #nextButton [ngStyle]="{'display': (slides.length > 1) ? 'block' : 'none' }" (click)="nextMedia()"></div>
                <div class="swiper-button-prev" #prevButton [ngStyle]="{'display': (slides.length > 1) ? 'block' : 'none' }" (click)="prevMedia()"></div>
                <div class="swiper-pagination" [ngStyle]="{'display': (slides.length > 1) ? 'block' : 'none' }"></div>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="!isMd()">
            <ion-col>
                <ion-row>
                    <ion-col *ngFor="let slide of slides; index as index"
                             [ngClass]="(index === (currentMedia | async)) ? 'current' : ''"
                             class="miniature">
                        <img *ngIf="slide.media.type === 'picture'" [src]="slide.src | safe:'resourceUrl'" [alt]="'min' + index" (click)="slideTo(index)"/>
                        <ion-icon *ngIf="slide.media.type === 'video'" name="play-circle" class="play-button" (click)="slideTo(index)"></ion-icon>
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>
    </ion-row>
    <ion-row style="padding-bottom: 30px" *ngIf="!showroomEnv.hideWishlist">
        <app-quantity-button
                [ean]="ean"
                [price]="price"
                [inventoryQuantity]="product.inventory_quantity"
        ></app-quantity-button>
    </ion-row>
    <ion-row *ngIf="twitterUrl || facebookUrl || instagramUrl">
        <ion-label>Laissez un commentaire</ion-label>
    </ion-row>
    <ion-row>
        <ion-button *ngIf="twitterUrl" fill="clear" color="primary" size="large" (click)="openUrl(twitterUrl)">
            <ion-icon  name="logo-twitter" style="color: rgb(29, 161, 242);"></ion-icon>
        </ion-button>
        <ion-button *ngIf="facebookUrl" fill="clear" color="primary" size="large" (click)="openUrl(facebookUrl)">
            <ion-icon name="logo-facebook" class="item" style="color: #3578E9;"></ion-icon>
        </ion-button>
        <ion-button *ngIf="instagramUrl" fill="clear" color="primary" size="large" (click)="openUrl(instagramUrl)">
            <ion-icon name="logo-instagram" class="item" style="color: #DD2A7B;"></ion-icon>
        </ion-button>
    </ion-row>
    <ion-row>
        <ion-text [ngStyle]="{'overflow-y': (isMd()) ? 'visible' : 'auto'}" style="white-space: pre-wrap; padding-top: 10px">
            {{description}}
        </ion-text>
    </ion-row>
</ion-grid>
