<ion-card #card (click)="openFolder.emit(folder)">
  <ion-img src="assets/icon/folder_open.svg"></ion-img>
  <ion-card-header>
    <ion-item lines="none">
      <ion-card-subtitle>{{folder.name}}</ion-card-subtitle>
    </ion-item>
  </ion-card-header>
</ion-card>
