<ion-list>
  <ion-item>
    <ion-grid>
      <ion-row>
        <ion-col style="padding-left: 0">
          <ion-label>Logos ({{nbLogoMax}} Max)</ion-label>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="(logoUploaderErrorMessage | async)">
        <ion-col>
          <ion-label class="uploader-error-msg">{{(logoUploaderErrorMessage | async)}}</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col *ngFor="let logo of logos; index as i" sizeMd="3" sizeLg="3" sizeXs="6">
          <app-image-previsualization [image]="logo" [index]="i + 1" (rotateEvent)="rotateMedia(logo.media, $event)" (deleteEvent)="deleteMedia($event)"></app-image-previsualization>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col style="padding-left: 10px">
          <ion-buttons>
            <ion-button [disabled]="logos.length >= nbLogoMax" style="width: 100%" color="primary" fill="solid" expand="fill" (click)="fileInputLogo.click()">
              <ion-icon name="add"></ion-icon>
            </ion-button>
            <input #fileInputLogo id="fileInputLogo" style="display: none" type="file" accept=".png,.jpg" [uploader]="uploader"
                   ng2FileSelect (change)="uploadNewLogo();"/>
          </ion-buttons>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
  <ion-item>
    <ion-grid>
      <ion-row>
        <ion-col style="padding-left: 0">
          <ion-label>Images ({{nbImagesMax}} Max)</ion-label>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="(imageUploaderErrorMessage | async)">
        <ion-col>
          <ion-label class="uploader-error-msg">{{(imageUploaderErrorMessage | async)}}</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col *ngFor="let image of images; index as i" sizeMd="3" sizeLg="3" sizeXs="6">
          <app-image-previsualization [image]="image" [index]="i + 1" (rotateEvent)="rotateMedia(image.media, $event)" (deleteEvent)="deleteMedia($event)"></app-image-previsualization>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col style="padding-left: 10px">
          <ion-buttons>
            <ion-button [disabled]="images.length >= nbImagesMax" style="width: 100%" color="primary" fill="solid" expand="fill" (click)="fileInputImage.click()">
              <ion-icon name="add"></ion-icon>
            </ion-button>
            <input #fileInputImage id="fileInputImage" style="display: none" type="file" accept=".png,.jpg" [uploader]="uploader"
                   ng2FileSelect (change)="uploadNewImage();"/>
          </ion-buttons>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
  <ion-item>
    <ion-grid>
      <ion-row>
        <ion-col style="padding-left: 0">
          <ion-label>{{'Videos' | translate}} ({{nbVideosMax}} Max)</ion-label>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="(videoUploaderErrorMessage | async);">
        <ion-col>
          <ion-label class="uploader-error-msg">{{(videoUploaderErrorMessage | async)}}</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col *ngFor="let video of videos; index as i" size="12">
          <app-video-previsualization [video]="video" [index]="i + 1" (deleteEvent)="deleteMedia($event)" [isMobile]="isMobile()"></app-video-previsualization>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col style="padding-left: 10px">
          <ion-buttons>
            <ion-button [disabled]="videos.length >= nbVideosMax" style="width: 100%" color="primary" fill="solid" expand="fill" (click)="fileInputVideo.click()">
              <ion-icon *ngIf="!(videoIsLoading | async); else videoSpinner" name="add"></ion-icon>
              <ng-template #videoSpinner>
                <ion-spinner color="light"></ion-spinner>
              </ng-template>
            </ion-button>
            <input #fileInputVideo id="fileInputVideo" type="file" accept=".mp4,.mov" [uploader]="uploader"
                   ng2FileSelect style="display:none;" (change)="uploadNewVideo()"/>
          </ion-buttons>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
  <ion-item>
    <ion-grid>
      <ion-row>
        <ion-col style="padding-left: 0">
          <ion-label>{{'Pdf' | translate}} ({{nbPdfsMax}} Max)</ion-label>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="(pdfUploaderErrorMessage | async);">
        <ion-col>
          <ion-label class="uploader-error-msg">{{(pdfUploaderErrorMessage | async)}}</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col *ngFor="let pdf of pdfs; index as i" size="12">
          <app-pdf-previsualization [pdf]="pdf" [index]="i + 1" (deleteEvent)="deleteMedia($event)"></app-pdf-previsualization>
          {{pdf.media.id}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col style="padding-left: 10px">
          <ion-buttons>
            <ion-button [disabled]="pdfs.length >= nbPdfsMax" style="width: 100%" color="primary" fill="solid" expand="fill" (click)="fileInputPdf.click()">
              <ion-icon name="add"></ion-icon>
            </ion-button>
            <input #fileInputPdf id="fileInputPdf" type="file" accept=".pdf" [uploader]="uploader"
                   ng2FileSelect style="display:none;" (change)="uploadNewPdf('pdf', pdfUploaderErrorMessage, pdfs)"/>
          </ion-buttons>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
  <ion-item>
    <ion-grid>
      <ion-row>
        <ion-col style="padding-left: 0">
          <ion-label>{{'pricing conditions' | translate | titlecase}} ({{nbPricePdfMax}} Max)</ion-label>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="(pricePdfUploaderErrorMessage | async);">
        <ion-col>
          <ion-label class="uploader-error-msg">{{(pricePdfUploaderErrorMessage | async)}}</ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col *ngFor="let pdf of pricePdfs; index as i" size="12">
          <app-pdf-previsualization [pdf]="pdf" [index]="i + 1" (deleteEvent)="deleteMedia($event)"></app-pdf-previsualization>
          {{pdf.media.id}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col style="padding-left: 10px">
          <ion-buttons>
            <ion-button [disabled]="pricePdfs.length >= nbPricePdfMax" style="width: 100%" color="primary" fill="solid" expand="fill" (click)="fileInputPricePdf.click()">
              <ion-icon name="add"></ion-icon>
            </ion-button>
            <input #fileInputPricePdf id="fileInputPricePdf" type="file" accept=".pdf" [uploader]="uploader"
                   ng2FileSelect style="display:none;" (change)="uploadNewPdf('pricePdf', pricePdfUploaderErrorMessage, pricePdfs)"/>
          </ion-buttons>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>

  <form *ngIf="formGroup" [formGroup]="formGroup">

    <ion-item>
      <ion-label>{{'Social media links' | translate}}</ion-label>
    </ion-item>

    <ion-item style="margin-left: 16px">
      <ion-label position="floating">Twitter</ion-label>
      <ion-icon name="logo-twitter" slot="start"></ion-icon>
      <ion-input formControlName="twitter" (ionChange)="onMediaChange()"></ion-input>
    </ion-item>

    <ion-item style="margin-left: 16px">
      <ion-label position="floating">Facebook</ion-label>
      <ion-icon name="logo-facebook" slot="start"></ion-icon>
      <ion-input formControlName="facebook" (ionChange)="onMediaChange()"></ion-input>
    </ion-item>

    <ion-item style="margin-left: 16px">
      <ion-label position="floating">Instagram</ion-label>
      <ion-icon name="logo-instagram" slot="start"></ion-icon>
      <ion-input formControlName="instagram" (ionChange)="onMediaChange()"></ion-input>
    </ion-item>

    <ion-item style="margin-left: 16px">
      <ion-label position="floating">LinkedIn</ion-label>
      <ion-icon name="logo-linkedin" slot="start"></ion-icon>
      <ion-input formControlName="linkedin" (ionChange)="onMediaChange()"></ion-input>
    </ion-item>

    <ion-item style="margin-left: 16px">
      <ion-label position="floating">Youtube</ion-label>
      <ion-icon name="logo-youtube" slot="start"></ion-icon>
      <ion-input formControlName="youtube" (ionChange)="onMediaChange()"></ion-input>
    </ion-item>

    <ion-item style="margin-left: 16px">
      <ion-label position="floating">{{'En parler avec un conseiller' | translate}}</ion-label>
      <ion-icon name="at-outline" slot="start"></ion-icon>
      <ion-input formControlName="contact" (ionChange)="onMediaChange()"></ion-input>
    </ion-item>

  </form>
</ion-list>

<!--
    <ion-feature-component>
      <ion-label position="floating" appInputError [label]="'Twitter'" [control]="twitterControl" [errors]="twitterControl.errors"></ion-label>
      <ion-input formControlName="twitterUrl" (ionChange)="isFormValid.emit(formGroup.valid)"></ion-input>
    </ion-feature-component>
    <ion-feature-component>
      <ion-label position="floating" appInputError [label]="'Facebook'" [control]="facebookControl" [errors]="facebookControl.errors"></ion-label>
      <ion-input formControlName="facebookUrl" (ionChange)="isFormValid.emit(formGroup.valid)"></ion-input>
    </ion-feature-component>
    <ion-feature-component>
      <ion-label position="floating" appInputError [label]="'Instagram'" [control]="instagramControl" [errors]="instagramControl.errors"></ion-label>
      <ion-input formControlName="instagramUrl" (ionChange)="isFormValid.emit(formGroup.valid)"></ion-input>
    </ion-feature-component>
--->
