ion-header {
  margin-top: 40px;
  pointer-events: all;

  ion-toolbar {
    border-radius: 1em 1em 0 0;

    .url-container {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin: 0 auto;
    }
  }

  .grabber {
    width: 70px;
    height: 6px;
    border-radius: .2em;
    background: gainsboro;
    margin: 0 auto 5px;

    &:hover {
      cursor: grab;
    }
  }
}

ion-content {
  --background: transparent;
  pointer-events: all;

  iframe {
    background: transparent;
    width: 100%;
    height: 100%;
    border: none;
  }
}

.shadow {
  box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
}

ion-content.no-scroll {
  &::part(scroll) {
    overflow: hidden;
  }
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  --background: rgba(19, 19, 19, 1);
  --ripple-color: transparent;
  --background-hover: transparent;
  --color: white;

  ion-icon {
    transition: all .1s ease-in-out;
  }

  &:hover ion-icon {
    transform: rotate(180deg);
  }
}
