<div class="spinner-container" *ngIf="!(iframeLoaded | async)">
    <ion-spinner color="light"></ion-spinner>
</div>
<ion-header *ngIf="isMd() && (iframeLoaded | async)" >
    <div class="grabber"></div>
    <ion-toolbar color="light">
        <ion-buttons slot="start">
            <ion-button (click)="close()">
                <ion-icon name="close-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-buttons>
            <ion-label class="url-container">{{url}}</ion-label>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button>
                <ion-icon name="ellipsis-horizontal"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content *ngIf="ext !== 'png' && ext !== 'jpg'" [ngClass]="(scroll | async) ? '' : 'no-scroll'">
    <ion-button *ngIf="!isMd() && (iframeLoaded | async)" fill="clear" class="close" style="margin-right: 10px" (click)="close()" shape="round">
        <ion-icon name="close"></ion-icon>
    </ion-button>
    <iframe [src]="url | safe:'resourceUrl'"
            (load)="iframeLoaded.next(true)"
            sandbox="allow-presentation allow-scripts allow-same-origin allow-forms"
            allow="camera; microphone; accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
    ></iframe>
</ion-content>
<ion-content *ngIf="ext === 'png' || ext === 'jpg'" [ngClass]="(scroll | async) ? '' : 'no-scroll'" class="center">
    <ion-button *ngIf="!isMd() && (iframeLoaded | async)" fill="clear" class="close center" style="margin-right: 10px" (click)="close()" shape="round">
        <ion-icon name="close"></ion-icon>
    </ion-button>
    <img [src]="url" class="center" [ngClass]="isMd() ? 'center-vert-img' : 'center-img'"
         (load)="iframeLoaded.next(true)"/>
</ion-content>
