<div   fxLayout="column" fxLayoutAlign="center stretch" >
    <ion-item fxFlex="100">
    <span class="label-selection">{{selectionItem.name}}</span>
    </ion-item>
    <div fxLayoutAlign="start center" fxLayoutGap="20px" fxFlex="100">
      <ion-item fxFlex="100" >
          <ion-label>{{'Options list :'|translate}}</ion-label>
          <ion-select  [(ngModel)]="option"  [value]="option" (ionChange)="optionChange()" >
              <ion-select-option *ngFor="let opt of selectionItem.options " [value]="opt" >
                  {{opt.name}}
              </ion-select-option>
          </ion-select>
      </ion-item>
    </div>
    <div fxLayoutAlign="start center" fxLayoutGap="20px" fxFlex="100" *ngIf="option">
        <ion-item fxFlex="100"  >
            <ion-label>{{'Configurations list :'|translate}}</ion-label>
        <ion-select  [(ngModel)]="configuration" (ionChange)="configurationChange()" >
            <ion-select-option *ngFor="let configuration of option.configurations " [value]="configuration">
                {{configuration.name}}
            </ion-select-option>
        </ion-select>
        </ion-item>
    </div>
</div>

