.config-border{
  padding: 8px 8px 8px 8px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.label-selection{
  color: #086fcf;
  font-family: 'Catamaran', sans-serif;
  font-size: 24px;
  margin: 4px 2px;
}
