<ion-button  (click)="openProductModal()"  shape="round" >
  <i class="material-icons" style="color: white">chair</i>
</ion-button>
  <app-product *ngIf="isReady"
               [showroom]="showroom"
               [data]="data"
               [objectId]="objectId"
               [object]="object"
               [objectName]="'PRODUCT'"
               (onExitOrPlacement)="isReady = false">
  </app-product>