@use '~src/theme/custom';

.shortcuts {
  padding: 0;
  margin: 0;

  .entrance-button {

    &:hover ion-label {
      transform: translateX(8px);
      cursor: pointer;
    }

    ion-label {
      font-weight: bold;
      padding: 0;
      margin: 0;
      transition: transform .2s ease;
    }
  }
}

.presentation-video-link {
  text-align: center;

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

ion-list-header {
  padding-right: 16px;
  .title-input {
    background-color: rgba(0, 0, 0, .3);
    border-bottom: 1px solid;
  }
}

ion-item {
  ion-button {
    width: 100%;
    text-transform: none;
    ion-icon {
      margin-right: 7px;
    }
  }
}

ion-list {/* optional, but it needs when you use gradient as a background color.*/
  background-color: transparent;
  padding-top: 0 !important;
}

ion-menu.ios {
  margin-top: 54px !important;
}

ion-menu.md {
  margin-top: 64px !important;
}

ion-menu::part(backdrop) {
  display: none;
}

ion-item-sliding, ion-item {
  --background: transparent;

  .add-to-list-button {
    width: 100%;
  }
}
