<div [hidden]="!menu">
  <ion-list lines="none" style="margin-top: 50px">
    <app-link-list *ngIf="showroomImageLoaded && menu"
            [itemList]="itemList"
            [itemListPicture]= "itemListPicture"
            (addItem)="openMenuItemCreationModal(undefined)"
            (deleteItem)="deleteItem($event)"
            (itemClicked)="itemClicked($event)"
            (updateListEvent)="menuLinkUpdate($event)"
            (editItem)="openMenuItemCreationModal($event)"
            (logOutEvent)="logOut()"
    ></app-link-list>
  </ion-list>
  <ion-item *appEditorViewOnly>
    <ion-button appHelpPopover [helpMessage]="'Add the current position in menu' | translate"
                (click)="openMenuItemCreationModal(undefined)"
                style="--background: white"
                class="add-to-list-button">
      <ion-icon name="add-outline" style="color: black"></ion-icon>
    </ion-button>
  </ion-item>
</div>
