<ion-card class="uploader-card">
    <ion-card-header>
        <ion-card-subtitle style="text-align: center">{{'Pdf ' + index}}</ion-card-subtitle>
        <ion-card-title>
            <ion-buttons *ngIf="pdf">
                <ion-button color="danger" fill="clear" (click)="deletePdf()">
                    {{'Delete' | translate | titlecase}}
                </ion-button>
            </ion-buttons>
        </ion-card-title>
    </ion-card-header>
</ion-card>
