<ion-header>
    <ion-toolbar color="light">
        <ion-title>{{'select country' | translate | titlecase}}</ion-title>
        <ion-buttons slot="end">
            <ion-button color="dark" fill="clear" (click)="close()">
                <ion-icon name="close-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
    <ion-searchbar #searchbar debounce="3000"></ion-searchbar>
</ion-header>
<ion-content>
    <ion-list>
        <ion-item *ngFor="let country of (filteredCountries | async)" (click)="confirm(country)">
            <ion-grid>
                <ion-row>
                    <ion-col size="1">
                        <ion-checkbox [checked]="country.alpha2 === selected" mode="ios" color="primary" style="margin: 0"></ion-checkbox>
                    </ion-col>
                    <ion-col size="10" style="justify-content: left">
                        <ion-label>
                            {{country.name}}
                        </ion-label>
                    </ion-col>
                    <ion-col>
                        <flag-icon [country]="country.alpha2"></flag-icon>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item>
    </ion-list>
    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content
                loadingSpinner="bubbles"
                [loadingText]="'Loading more products...' | translate">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
