ion-header, ion-searchbar {
  position: static;
}

ion-col {
  display: flex;
  justify-content: center;
  align-items: center;
}

ion-item:hover {
  --background: whitesmoke;
}

ion-searchbar {
  background-color: whitesmoke;
}

ion-row:hover {
  cursor: pointer;
  --background: smokewhite;
}
ion-row:hover > .display-on-hover ion-icon {
  display: block;
}

.display-on-hover {
  justify-content: flex-end;

  ion-icon {
    display: none;
  }

  ion-button {
    margin: 0;
  }
}
