<ion-slides #slider class="custom-product-slider" [options]="slideOpts" (ionSlideDidChange)="slideChanged()">
  <ion-slide *ngFor="let slide of slides"
             class="custom-product-media-container ion-align-items-center ion-justify-content-center">
    <lib-ngx-image-zoom *ngIf="slide.media.type === 'picture'"
                        [thumbImage]="slide.src"
                        [magnification]="2"
    ></lib-ngx-image-zoom>
    <video controls [src]="slide.src" *ngIf="slide.media.type === 'video'"></video>
  </ion-slide>
</ion-slides>
