ion-slides, ion-slides {
  width: 100%;
  height: 100%;
}

.custom-product-media-container {
  max-height: 80vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
    text-align: center;
  }

  video {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
    text-align: center;
  }
}
