<ion-header>
  <ion-item lines="none">
    <ion-title>{{('Editor' | translate | titlecase)}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="movePortal()">
        <ion-icon name="move"></ion-icon>
      </ion-button>
      <ion-button (click)="removePortal()">
        <ion-icon name="trash" color="danger"></ion-icon>
      </ion-button>
      <ion-button (click)="cancel()">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item>
</ion-header>
<ion-content *ngIf="isReady">
  <ion-slides #slider [options]="slidesOptions">
    <ion-slide>
      <form [formGroup]="formGroup" style="height: 100%; width: 100%">
        <ion-list>
          <ion-item>
            <ion-label position="floating">{{'Portal description' | translate}}</ion-label>
            <ion-input [(ngModel)]="portal.tip" [ngModelOptions]="{standalone: true}" [maxlength]="50">
            </ion-input>
          </ion-item>

          <ion-item>
            <ion-label>{{'Portal type' | translate}}</ion-label>
            <ion-select formControlName="type" (ionChange)="setCurrentHandlerFromType($event.detail.value)">
              <ion-select-option *ngFor="let handlers of portalHandlers" [value]="handlers.type">
                {{handlers.title}}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
      </form>
    </ion-slide>

    <ion-slide>
      <ng-template appComponentHolder></ng-template>
    </ion-slide>
  </ion-slides>
</ion-content>


<ion-footer>
  <ion-toolbar color="light">
    <ion-row>
      <ion-col class="center-items">
        <ion-buttons>
          <ion-button fill="solid" color="danger" *ngIf="currentIndex === 0" (click)="cancel()">
            <ion-label>{{'Close' | translate}}</ion-label>
          </ion-button>
          <ion-button fill="solid" color="danger" *ngIf="currentIndex > 0" (click)="back()">
            <ion-label>{{'Back' | translate}}</ion-label>
          </ion-button>
        </ion-buttons>
      </ion-col>
      <ion-col class="center-items">
        <ion-buttons>
          <ion-button fill="solid" color="success" *ngIf="currentIndex === 0" (click)="next()" [disabled]="formGroup.invalid">
            <ion-label>{{'Next' | translate}}</ion-label>
          </ion-button>
          <ion-button fill="solid" color="success" *ngIf="currentIndex > 0" (click)="confirm()" [disabled]="formGroup.invalid">
            <ion-label>{{'Confirm' | translate}}</ion-label>
          </ion-button>
        </ion-buttons>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
