<div id="annotation" class="annotation" *ngIf="engineService.annotation && engineService.annotation.description
        && engineService.annotation.description.length > 0"
     [ngStyle]="{'top': engineService.annotation.top, 'left': engineService.annotation.left}">
    <p>{{engineService.annotation.description}}</p>
</div>
<div #viewer id="viewer"></div>
