<ion-header>
  <ion-item lines="none">
    <ion-title>{{'Product' | translate}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="moveProduct()">
        <ion-icon name="move"></ion-icon>
      </ion-button>
      <ion-button (click)="removeProduct()">
        <ion-icon name="trash" color="danger"></ion-icon>
      </ion-button>
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item>
</ion-header>
<ion-content>
  <div fxLayout="row" fxLayoutAlign=" none" style="height: 100%">
    <div fxFlex="100" style="overflow: hidden" class="app-visualizer">
      <app-visualizer *ngIf="url" [ngStyle]="{'display':  'block' }"
              [canvasHeight]="100" [glbUrl]="url" [objectType]="type"></app-visualizer>
    </div>
  </div>
</ion-content>
