<ion-button mode="md" class="settings-btn" shape="round" size="small" color="primary" (click)="openSettings()">
  <i class="material-icons" style="color: white">settings</i>
</ion-button>

<div class="video-container">
  <video
          *ngIf="jitsiService.localTracks[1]"
          [srcObject]="jitsiService.localTracks[1].stream"
          autoplay>
  </video>
</div>

<ion-grid class="buttons-overlay">
  <ion-row class="call-buttons">
    <ion-col class="ion-justify-content-center ion-align-items-center">
      <ion-button mode="md" class="call-btn" shape="round" size="small" color="primary" (click)="muteMic()">
        <i class="material-icons" style="color: white">{{jitsiService.micEnabled ? 'mic' : 'mic_off'}}</i>
      </ion-button>
      <ion-button mode="md" class="call-btn" shape="round" size="small" color="danger" (click)="callButtonPressed()">
        <i class="material-icons" style="color: white">call_end</i>
      </ion-button>
      <ion-button mode="md" class="call-btn" shape="round" size="small" color="primary" (click)="muteCam()">
        <i class="material-icons" style="color: white">{{jitsiService.camEnabled ? 'videocam' : 'videocam_off'}}</i>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>