.buttons-overlay {
  height: 100%;
  width: 100%;
  z-index: 10 !important;
}

.call-buttons {
  position: absolute;
  height: auto;
  width: 100%;
  bottom: 20px;
  left: 0;
}

.call-btn {
  border-radius: 50%;
  margin: 0 5px 0 5px;

  & i {
    margin: 5px 0 5px 0;
  }
}

.video-container {
  position: absolute;
  top: 5px;
  left: 5px;
  border-radius: 10px;
  width: 20%;
  height: 20%;
  overflow: hidden;
  background-color: #1a1a1a;
}

.video-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.settings-btn {
  position: absolute;
  right: 0;
  top: 5px;
  border-radius: 50%;
  margin: 0 5px 0 5px;
  width: 32px;
  height: 32px;

  & i {
    margin: 5px 0 5px 0;
  }
}