<ion-buttons *ngIf="isEditorView()">
  <ion-row>
    <ion-col *ngFor="let feature of features">
      <ion-button fill="solid" shape="round" (click)="onClick(feature)"
                  appHelpPopover [helpMessage]="feature.description"
                  [ngClass]="[isButtonActive(feature) ? 'active' : '']">
        <ion-icon [name]="feature.iconName"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button fill="clear" shape="round" class="close" (click)="close()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-buttons>
<ion-buttons *appClientEditorOnly>
  <ion-row>
    <ion-col *ngFor="let feature of features">
      <ion-button fill="solid" shape="round" (click)="onClick(feature)"
                  appHelpPopover [helpMessage]="feature.description"
                  [ngClass]="[isButtonActive(feature) ? 'active' : '']">
        <ion-icon [name]="feature.iconName"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button fill="clear" shape="round" class="close" (click)="close()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-buttons>
