@use '~src/theme/custom';

ion-buttons {
  --ion-grid-column-padding: 1em;
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  left: 50%;
  padding-bottom: .5em;
  transform: translateX(-50%);
  pointer-events: none;

  // general class for buttons
  ion-button {
    height: 35px;
    width: 35px;
    transition: all .05s ease-in-out;
    pointer-events: all;

    &:hover {
      transform: scale(1.7);
    }
  }

  .active {
    --background: rgba(4, 204, 203) !important;
    --box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }

  .active ion-icon {
    color: white !important;
  }

  // all buttons except close button
  ion-button:not(.close) {
    transform: scale(1.5);
    --background: white;
    --background-hover-opacity: 1;
    --background-hover: rgba(4, 204, 203);
    transition: all .05s ease-in-out;

    &:hover {
      transform: scale(1.7);
    }

    &:hover ion-icon {
      color: white;
    }

    ion-icon {
      color: black;
    }
  }

  // only close button
  ion-button.close {
    transform: scale(1);
    border-radius: 50%;
    background-color: rgba(36, 37, 40, 0.5);
    --background-hover-opacity: 1;
    --background-hover: rgba(255, 49, 88) !important;
    color: white;

    &:hover ion-icon {
      transform: rotate(90deg);
    }

    ion-icon {
      transition: transform .08s ease-in-out;
      color: white;
    }
  }
}
