<div class="spinner-container" *ngIf="!(allImagesLoaded | async)" (click)="close()">
    <ion-spinner name="circles" color="light"></ion-spinner>
</div>
<ion-header *ngIf="isMd()" [ngStyle]="{'display' : (allImagesLoaded | async) ? 'block' : 'none'}">
    <div class="grabber"></div>
    <ion-toolbar color="light">
        <ion-buttons slot="start">
            <ion-button (click)="close()">
                <ion-icon name="close-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-buttons>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button>
                <ion-icon name="ellipsis-horizontal"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-col [ngStyle]="{'display' : (allImagesLoaded | async) ? 'block' : 'none', 'overflow-y': 'scroll', 'padding-left': '0', 'padding-right': '0', 'padding-bottom': '0'}">
    <ion-row style="height:5vh">
        <ion-button *ngIf="!isMd()" fill="clear" class="close" size="large" shape="round" (click)="close()">
            <ion-icon name="close"></ion-icon>
        </ion-button>
    </ion-row>
    <ion-row style="height:80vh">
        <ion-col style="justify-content: left">
            <ion-slides style="height:80vh" [options]="slidesOptions" [pager]="true" #slider>
                <ion-slide style="height:80vh" *ngFor="let slide of slides; index as index" [ngClass]="(slide.media.type === 1) ? 'center' : ''">
                    <img style="height:78vh; width:auto" *ngIf="slide.media.type === 'picture'"
                         (load)="mediaLoaded(index)" [src]="slide.src | safe:'resourceUrl'" [alt]="'min' + index"/>
                </ion-slide>
            </ion-slides>
        </ion-col>
    </ion-row>
    <ion-row style="height:15vh">
        <ion-col style="height:14vh" *ngFor="let slide of slides; index as index" style="padding: 0"
                 [ngClass]="(index === (currentMedia | async)) ? 'current' : ''"
                 class="miniature border-left">
            <img style="height:14vh; width:auto" *ngIf="slide.media.type === 'picture'"
                 [src]="slide.src | safe:'resourceUrl'" [alt]="'min' + index" (click)="slideTo(index)"/>
        </ion-col>
    </ion-row>
</ion-col>
