<ion-header>
  <ion-item lines="none">
    <ion-title>{{'SmartObject' | translate}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="moveFixture()">
        <ion-icon name="move"></ion-icon>
      </ion-button>
      <ion-button (click)="removeFixture()">
        <ion-icon name="trash" color="danger"></ion-icon>
      </ion-button>
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item>
</ion-header>
<ion-content>
  <div fxLayout="row" fxLayoutAlign=" none" style="height: 100%">
    <div fxFlex="100" style="overflow: hidden">
      <app-visualizer  *ngIf="isReady" [ngStyle]="{'display':  'block' }"
                                            [canvasHeight]="100" [glbUrl]="glbUrl" [objectType]="type">

      </app-visualizer>
      <div *ngIf="!(visualizerIsLoaded | async)" class="spinner-container">
        <ion-spinner></ion-spinner>
      </div>
    </div>
  </div>
</ion-content>
