.attributes-list {
  overflow-y: auto;
  border-right: 1px solid whitesmoke;
}

app-visualizer {
  height: 100%;
  width: 100%;
  display: block;
}

.spinner-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
