<ion-list>
  <ion-list-header style="padding-left: 0">
    <ion-label>
      {{'Sweep showroom' | translate}}
    </ion-label>
  </ion-list-header>

  <ion-item>
    <ion-input [(ngModel)]="menuJumpLink.name"></ion-input>
  </ion-item>

  <ion-item *ngIf="showrooms.length > 0 && isReady">
    <ion-label>Showroom</ion-label>
    <ion-select [value]="selectedShowroomId" (ionChange)="changeShowroom($event.detail.value)" [placeholder]="'Select one' | translate">
      <ion-select-option *ngFor="let show of showrooms" [value]="show.id">{{show.name | translate}}</ion-select-option>
    </ion-select>
  </ion-item>

  <app-sweep-selector *ngIf="isReady" [showroomId]="selectedShowroomId" [portal]="menuJumpLink.showroomPortal" (sweepSelected)="changeSweep($event)"></app-sweep-selector>

  <ion-item>
    <ion-button color="success" (click)="save()">
      {{'Confirm' | translate | titlecase}}
    </ion-button>
  </ion-item>

  <ion-item *ngIf="showrooms.length <= 0 && isReady">
    <ion-label>{{'You do not have any other showroom' | translate}}...</ion-label>
  </ion-item>

  <div style="position: absolute; top: 0" class="center-container" *ngIf="!isReady">
    <ion-spinner style="display: block; margin: auto"></ion-spinner>
  </div>
</ion-list>
