.loading-page {
  width: 100%;
  height: 100%;
  background-color: white;

  .progress-bar {
    position: absolute;
    top: 0;
    left: 0;
  }

  .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    text-align: center;

    .title {
      font-weight: bold;
      color: #27447d;
    }

    .logo-container {
      margin-top: .5em;
    }
  }
}

