<div @fade class="app-mode interaction-page"
     [ngStyle]="{'background-size': 'cover', 'background-color' : 'var(--ion-home-page-color)'}">
  <ion-progress-bar color="primary" value="{{percent}}"></ion-progress-bar>
  <div class="page-centered-element">
    <ion-label class="title">Loading ...</ion-label>
    <ion-spinner></ion-spinner>
  </div>
</div>
