<ion-card class="center-container" *ngIf="isReady" style="height: 300px; width: 170px">
  <ion-card-content class="full-size-content cluster-item-content" (click)="openImage()">
    <div class="full-size-content center-container">
      <img class="cluster-item-image cluster-item-zoom" [src]="url | safe: 'url'"/>
<!--      <div class="cluster-item-image cluster-item-zoom" [ngStyle]="{'background-image': 'url(' + url + ')'}"></div>-->
    </div>
  </ion-card-content>
</ion-card>

<ion-card class="center-container" *ngIf="!isReady" style="height: 350px; width: 250px">
  <ion-spinner style="display: block; margin: auto"></ion-spinner>
</ion-card>
