<ion-list>
  <ion-list-header style="padding-left: 0">
    <ion-label>
      {{'Sweep portal' | translate}}
    </ion-label>
  </ion-list-header>

  <app-sweep-selector [showroomId]="currentShowroom" [portal]="portal" (sweepSelected)="changeSweep($event)"></app-sweep-selector>

</ion-list>
