/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */
@use "~src/theme/custom";

* {
  font-family: sans-serif;
}

/*
**  UI
*/

.interaction-item {
  pointer-events: all;
}

@media screen and (max-width: 800px) {
  .custom-product-slider {
    height: 50vh;
  }
}

@media screen and (min-width: 800px) {
  .custom-product-slider {
    height: 60vh;
  }
}
.custom-product-media-container {
  //max-height: 80vh;
  //margin: auto;
  //display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;

  img {
    max-height: 100%;
    max-width: 100%;
  }

  video {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
    text-align: center;
  }

}


.bottom-action-buttons {
  --ion-grid-column-padding: 1em;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  bottom: 75px;
  padding-bottom: .5em;
  transform: translateX(-50%);
  pointer-events: none;
  transition: all .5s;
  animation-name: botAppear;
  animation-duration: 0.4s;

  ion-button {
    height: 35px;
    width: 35px;
    transform: scale(1.5);
    transition: all .05s ease-in-out;
    pointer-events: all;
    background-color: rgba(36, 37, 40, 0.5);
    --background-hover-opacity: 1;
    --background-hover: rgba(36, 37, 40, 0.9) !important;
    border-radius: 50%;
  }

  ion-button.validate {
    background-color: rgba(36, 37, 40, 0.5);
    --background-hover-opacity: 1;
    --background-hover: rgba(56, 245, 137, 0.9) !important;
    color: white;

    &:hover ion-icon {
      transform: rotate(360deg);
    }

    ion-icon {
      transition: transform .15s ease-in-out;
      color: white;
    }
  }

  ion-button.close-btn {
    transform: scale(1);
    background-color: rgba(36, 37, 40, 0.5);
    --background-hover-opacity: 1;
    --background-hover: rgba(253, 19, 46, 0.9) !important;
    margin: 12px;

    &:hover ion-icon {
      transform: rotate(90deg);
    }

    ion-icon {
      transition: transform .15s ease-in-out;
      color: white;
    }
  }

  ion-button.activated {
    background-color: rgba(56, 245, 137, 0.9);
    --background-hover-opacity: 1;
    --background-hover: rgba(56, 245, 137, 1) !important;
    color: white;
    margin: 16px;

    ion-icon {
      transition: transform .15s ease-in-out;
      color: white;
    }
  }

  ion-button.inactive {
    background-color: rgba(36, 37, 40, 0.5);
    --background-hover-opacity: 1;
    color: white;
    margin: 16px;

    ion-icon {
      transition: transform .15s ease-in-out;
      color: white;
    }
  }

}


.sprite-picker-button {
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 3px;
  border-radius: 10px;
}

.sprite-picker-button-selected {
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 3px;
  border: 1px solid;
  border-color: red;
  border-radius: 10px;
}

.mp-menu {
  top: 16px;
  left: 8px;
  position: absolute;

  & .mp-ui-button-icon {
    height: 25px;
    width: 25px;
    opacity: 0.7;
    margin: 0 10px 16px 10px;
    cursor: default;
    font-size: xx-large;
    color: #ffffff;
    filter: drop-shadow(0px 0px 2px rgb(36, 36, 36));
  }
  & .mp-ui-button-icon:hover {
    opacity: 1;
    transform: scale(1.025);
    cursor: pointer;
    filter: drop-shadow(0px 0px 3px #000000);
  }

  & .mp-ui-button-icon:active {
    transform: scale(1.05);
    cursor: pointer;
    filter: drop-shadow(0px 0px 3px #000000);
  }

  & .selected {
    color: var(--ion-color-primary);
  }
}

.mp-ui {
  bottom: 46px;
  left: 16px;
  position: absolute;

  & .mp-ui-button-icon {
    height: 25px;
    width: 25px;
    opacity: 0.7;
    margin: 0 10px 16px 10px;
    cursor: default;
    font-size: xx-large;
    color: #ffffff;
    filter: drop-shadow(0px 0px 2px rgb(36, 36, 36));
  }
  & .mp-ui-button-icon:hover {
    opacity: 1;
    transform: scale(1.025);
    cursor: pointer;
    filter: drop-shadow(0px 0px 3px #000000);
  }

  & .mp-ui-button-icon:active {
    transform: scale(1.05);
    cursor: pointer;
    filter: drop-shadow(0px 0px 3px #000000);
  }

  & .selected {
    color: var(--ion-color-primary);
  }
}


/*
 * This adds a scroll bar to ionic alerts
 */

.alert-radio-group::-webkit-scrollbar, .alert-checkbox-group::-webkit-scrollbar {
  width: 0.7em;
  display: block !important;
}

.alert-radio-group::-webkit-scrollbar-track, .alert-checkbox-group::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
  border-radius: 1em;
  box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
}

.alert-radio-group::-webkit-scrollbar-thumb, .alert-checkbox-group::-webkit-scrollbar-thumb {
  background-color: #c4c4c4;
  border-radius: 1em;
}

/**********************************************************/

.introduction-card {
  align-items: center;
  --width: 100vw;
  --height: 100vh;

  img {
    color: #000000;
    display: block;
    margin: auto;
  }

  ion-icon {
    display: block;
    margin: auto;
  }

  ion-fab-button {
    display: block;
    margin: auto;
    text-align: center;
  }
}

/* ---- Components ---- */

.zoom {
  max-width: 50vw;
  min-width: 30vw;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0px;
  padding-bottom: 0px;
  transform: scale(1.2);
}

/* ---- Size ---- */

.title-size {
  text-align: center;
  font-size: 4rem;
}

.full-size {
  height: 100vh;
  width: 100vw;
  align-items: center;
}

.loader-size {
  margin-top: 50vh;
  margin-left: 50vw;
  align-items: center;
  font-size: 60px;
}

.logo-container {
  margin-top: .5em;
}

.logo-size {
  height: 100px;
}

.home-page-size {
  position: absolute;
  z-indexes: 100;
  height: 100%;
  width: 100%;
}

.icon-size {
  font-size: 70px;
}

.small-logo-size {
  height: 60px;
}

.small-logo-size-move {
  height: 60px;
  top: -30px;
  left: -30px;
}

.image-size {
  height: 70px;
}

.toolbar-size {
  height: 65px;
}

.big-height {
  height: 50vh;
}
.medium-height {
  height: 30vh;
}
.height {
  height: 20vh;
}
.height-15 {
  height: 15vh;
}
.small-height {
  height: 10vh;
}
.very-small-height {
  height: 5vh;
}

.rgpd-message {
  font-style: italic !important;
  font-size: 10px !important;
}

.pop-up-message-height {
  height: 20vh;
}

.pop-up-title-information-size {
  height: 25vh;
  margin-right: 5px;
  margin-left: 5px;
}

.pop-up-information-size {
  height: 20vh;
  margin-right: 5px;
  margin-left: 5px;
}

.medium-text-size {
  text-align: center;
  display: block;
  font-size: 1.7rem;
}

/* ---- Color ---- */
.secondary-color {
  background-color : var(--ion-color-secondary);
}
.red-color {
  color: #FF0000;
}

/* ---- Margin ---- */

.very-small-margin-top {
  margin-top: 3vh;
}

.small-margin-top {
  margin-top: 5vh;
}

.small-margin-bottom {
  margin-bot: 5vh;
}

.margin-top{
  margin-top: 10vh;
}

.margin-bottom {
  margin-bottom: 10vh;
}

.big-margin-top {
  margin-top: 20vh;
}

.margin {
  margin-right: auto;
  margin-left: auto;
}

.margin-col {
  margin-top: auto;
  margin-bottom: auto;
}

.border-left {
  border-left: 2px solid;
}


/* ---- Border ---- */

.border {
  border: 1px solid;
}


.pop-up-text {
  margin-top: 30px;
  display: block;
  text-align: center;
  color: #ffffff;
}

.pop-up-button {
  width: 30%;
}

.pop-up-next-button {
  margin-right: auto;
  margin-left: auto;
  display: block;
  text-align: center;
  color: white;
  background-color: var(--ion-color-primary);
}

.pop-up-ariane-button {
  margin-bottom: 20px;
  height: 10px;
  width: 60px;
  color: white;
  border: 1px solid;
  border-color: var(--ion-color-primary);
}

.pop-up-ariane-space {
  width: 40px;
}

.pop-up-ariane-button-active {
  margin-bottom: 20px;
  height: 10px;
  width: 60px;
  color: white;
  background-color: var(--ion-color-primary);
}

.pop-up-button-label {
  color: white;
  font-size: 1.1rem;
}

.start {
  text-align: start;
  justify-content: start !important;
}

.center {
  text-align: center;
  justify-content: center !important;
}

.center-img {
  display: block;
  margin: auto;
  width: auto;
  height: 100%;
}

.center-vert-img {
  display: block;
  margin: auto;
  width: 100%;
  height: 80%;
}

.success-icon {
  transform: scale(2.5);
  margin-bottom: 20px;
  color: custom.$success;
}

.error-icon {
  transform: scale(2.5);
  margin-bottom: 20px;
  color: custom.$danger;
}

.alert {
  text-align: center;

  button {
    width: 100%;

    span {
      justify-content: center !important;
    }
  }
}

.fullscreen-modal {
  --min-width: 100%;
  --min-height: 100%;
  --background: transparent;
}
.share-modal {
  --min-width: 450px;
  --min-height:420px;
}

.product-finder {
  --min-width: 75vw;
  --min-height: 95vh;
}

.video-modal {
  --background: transparent;

  & .modal-wrapper {
    box-shadow: none;
  }
}

.edit-marker-component {
  --min-width: 75vw;
  --min-height: 95vh;
}

@media (min-height: 650px) and (min-width: 768px) {
  .edit-marker-component {
  }

  .custom-product-page {
    --max-width: 85vw;
    --max-height: 480px;
  }

  .two-steps-template {
    padding: 2em;
  }

  .two-steps-template-product {
    padding: 2em;
  }

  .template1 {
    --max-width: 98%;
    --max-height: 96%;
  }

  .template3 {
    --max-width: 98%;
    --max-height: 96%;
  }

  .pdf-page {
    --max-width: 100%;
    --max-height: 100%;
    & .modal-wrapper {
      width: 100%;
      height: 100%;
    }
  }

  .template2 {
    --max-width: 50vw;
    --max-height: 85vh;
    --min-height: 85vh;
  }

  .video-modal {
    --width: 85vw;
    --height: 85vh;
  }
}

.swiper-pagination {
}

@media (min-width: 768px) {
  .edit-marker-component {
  }

  .video-modal {
    width: 100%;
    height: 100%;
  }

  .two-steps-template {
    width: 100%;
    height: 100%;

    & .modal-wrapper {
      min-width: 50vw;
      max-width: 60vw;
      height: 100%;
    }
  }

  .two-steps-premium-template {
    width: 100%;
    height: 100%;

    & .modal-wrapper {
      background-color: transparent;
      min-width: 70vw;
      max-width: 80vw;
      height: 75%;
    }
  }

  .two-steps-template-product {
    width: 100%;
    height: 100%;

    & .modal-wrapper {
      width: 100%;
      height: 100%;
    }
  }

  .template1 {
    width: 100%;
    height: 100%;

    & .modal-wrapper {
      width: 100%;
      height: 100%;
    }
  }

  .fullPictures {
    width: 100vw;
    height: 100vh;

    & .modal-wrapper {
      width: 100vw;
      height: 100vh;
    }
  }

  .template3 {
    width: 100%;
    height: 100%;

    & .modal-wrapper {
      width: 100%;
      height: 100%;
    }
  }

  .pdf-page {
    --max-width: 100%;
    --max-height: 100%;

    & .modal-wrapper {
      width: 100%;
      height: 100%;
    }
  }

  .template2 {
    --max-width: 100%;
    --max-height: 100%;

    & .modal-wrapper {
      width: 100%;
      height: 100%;
    }
  }

  .custom-product-page {
    width: 100%;
    height: 100%;

    & .modal-wrapper {
      width: 100%;
      height: 100%;
    }
  }
}

.custom-product-page {
  --background: transparent;

  & .modal-wrapper {
    box-shadow: none;
  }
}

.two-steps-template {
  --background: transparent;

  & .modal-wrapper {
    pointer-events: none;
    box-shadow: none;
  }
}

.two-steps-template-product {
  --background: transparent;

  & .modal-wrapper {
    pointer-events: none;
    box-shadow: none;
  }
}


.two-steps-premium-template {
  --background: transparent;

  & .modal-wrapper {
    pointer-events: none;
    box-shadow: none;
  }
}

.two-steps-premium-template-product {
  --background: transparent;

  & .modal-wrapper {
    pointer-events: none;
    box-shadow: none;
  }
}

.template1 {
  --background: transparent;

  & .modal-wrapper {
    box-shadow: none;
  }
}

.template3 {
  --background: transparent;

  & .modal-wrapper {
    box-shadow: none;
  }
}

.pdf-page {
  & .modal-wrapper {
    box-shadow: none;
  }
}

.template2 {
  --max-width: 50vw;
  --max-height: 85vh;
  --min-height: 85vh;

  & .modal-wrapper {
    box-shadow: none;
  }
}

.sc-ion-alert-md {
  white-space: normal !important;
}

.alert-wrapper.sc-ion-alert-md {
  min-width: 30vw;
}

.backdrop-05 {
  --backdrop-opacity: .7;
}

.video-presentation-editor {
}

.help-popover {
  pointer-events: none;
  overflow: visible;
  text-align: center;
  font-size: 12px;

  & > ion-backdrop {
    display: none;
  }

  & .popover-content {
    padding: .5em;
  }
}

.fit-content-modal {
  --background: transparent;

  & .modal-wrapper {
    box-shadow: none;
    height: auto;

    &,
    .ion-page,
    .ion-page .content,
    .ion-page .content .scroll-content {
      contain: content;
      position: relative;
      top: auto;
      left: auto;
      padding: 1px;
    }
  }
}

.toast {
  --background: rgba(0, 0, 0, 1);
  --color: white;
  text-align: center;
  --box-shadow: none;
}

.error-toast {
  --background: custom.$danger;
  --color: white;
}

.warning-toast {
  --background: custom.$warning;
  --color: white;
}

.tools-modal {
  --min-width: 100%;
  --background: transparent;
  pointer-events: none;
}

@media (min-width: 768px) {
  .lg-product-page {
    --max-width: 95vw;
    --max-height: 95%;
  }
}

.product-modal {
  --min-width: 80vw;
  --min-height: 80%;
  --background: transparent;

  & .modal-wrapper {
    box-shadow: none;
  }
}

.hide {
  visibility: hidden;
}

.showroom-modal {
  box-shadow: none !important;
  pointer-events: none;
}

.swiper-pagination-bullet {
  background-color: white;
  opacity: .5;
}

.swiper-pagination-bullet-active {
  opacity: 1;
}

.annotation {
  position: absolute;
  width: auto;
  max-width: 200px;
  top: 0;
  left: 0;
  z-index: 100;
  margin-left: 10px;
  text-align: center;
  margin-top: 10px;
  padding: .5em 1em;
  color: #fff;
  background: rgba(0, 0, 0, 0.8);
  border-radius: .5em;
  font-size: 12px;
  line-height: 1.2;
  transition: opacity .5s;
}

.addMarker {
  position: absolute;
  z-index: 100;
  transition: opacity .5s;
}

.app-mode {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  top: 0;
  z-index: 10 !important;
}

.interaction-page {
  pointer-events: all;

  & * {
    pointer-events: all;
  }
}

.center-items {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-centered-element {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  text-align: center;
  padding: 12px;
  max-width: 100%;
  max-height: 100%;
  background: rgba(30, 32, 35, 0.95);
  position: absolute;
  box-shadow: 0 0 6px 1px black;

  .buttons-container {
    margin-top: 30px;
  }
}

.welcome-select::part(native) {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 5px;
}

.welcome-select-container {
  margin-top: 42px;
  margin-bottom: 42px;
  max-width: 100%;
}

@media screen and (min-width: 480px) {
  .content {
    min-width: 480px;
    max-width: 100%;
  }

  .welcome-select-container {
    margin-left: 42px;
    margin-right: 42px;
  }

  .welcome-pagination-divider-vert {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .welcome-pagination-divider-vert {
    display: none;
    height: 0;
  }
}

.border-left {
  border-left: 1px solid #ccc;
}

ion-button.welcome-pagination-dot::part(native) {
  height: 30px;
  border-radius: 100%;
}

ion-button.welcome-pagination-dot.inactive::part(native) {
  background-color: rgba(130, 130, 130, 1);
  color: rgba(255, 255, 255, 0.7);
}

.welcome-pagination-divider {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

.welcome-pagination-divider-vert {
  display: block;
  width: 1px;
  border: 0;
  border-right: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
  height: 150px
}

.image-row-preview-image {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  height: calc(100% - 80px);
}

.image-row-preview-label {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0 12px;
  height: 20px;
}

.image-row-preview-delete-btn {
  height: 35px;
  margin: 10px;
}

.center-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.full-size-content {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.cluster-item-content {
  cursor: pointer;
}

.carousel-container {
  height: 450px !important;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.cluster-item-image {
  position: absolute;
  height: 100%;
  width: 100%;
  display: block;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.cluster-item-zoom {
  transition: all .2s ease;
}

.cluster-item-zoom:hover {
  transform: scale(1.1);
}

.welcome-customer {
  font-size: x-large;
  filter: drop-shadow(2px 2px 3px #000000);
  color: #a0a0a0;
}

.welcome-title {
  font-size: xx-large;
  filter: drop-shadow(2px 2px 3px #000000);
  color: #ffffff;
  width: fit-content;
  left: 50%;
  transform: translateX(-50%);
}

.welcome-back-button {
  top: 5px;
  left: 5px;
  position: absolute;
}

.animate {
  transition: all .5s;
}

.ngxImageZoomContainer {
  width: 100% !important;
  height: 100% !important;
}

.ngxImageZoomFullContainer {
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}

.ngxImageZoomThumbnail {
  opacity: 1;
}

.ngxImageZoomThumbnail:hover {
  opacity: 0;
}

.spinner-container {
  background-color: transparent;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 2;
  display: flex;

  ion-spinner {
    display: block;
    margin: auto;
  }
}

.product-picker-preview {
  height: calc(100% - 80px);
}

.product-picker-picture {
  height: 80px;
  width: auto;
  object-fit: cover;
  margin: auto;
  display: block;
}

.product-picker-content {
  display: block;
}
.border {
  border: 2px solid;
}

.imgBox{
  padding-top:10px;
  width: 441px;
  height: 248px;
}

.imgBox:hover{

  border: 5px solid #0cb60c;
  -moz-box-shadow: 0 0 10px #ccc;
  -webkit-box-shadow: 0 0 10px #ccc;
  box-shadow: 0 0 10px #ccc;
}

.image-border{
  padding: 4px;
  border-radius: 1px;
  border: 5px solid #0cb60c;
}
/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
