<ion-header class="rvr-darkblue-background">
  <ion-toolbar color="sidenav">
    <ion-title color="sidenav-text">
      {{(title | translate | titlecase)}}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()" color="sidenav-text">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-justify-content-center ion-align-items-center no-scroll">
  <div class="custom-image-viewer">
    <img style="width: 100%;height: 100%;object-fit: contain;" [src]="src"/>
  </div>
</ion-content>
