@use '~src/theme/custom';

form {
  width: 100%;

  ion-list {
    width: 100%;

    ion-item {
      width: 100%;
    }
  }
}

.error-message {
  white-space: normal;
  color: custom.$danger;
}

.not-expanded {
  max-height: 0px;
}

.expandable {
  background-color: white;
  transition: all 1s ease-in-out;
  overflow: hidden;
  padding: 0 20px;

  & ion-item {
    width: 100%;
    --background: transparent;
    padding: 0 20px;

    ion-input {
      --background: transparent !important;
    }
  }
}

ion-icon {
  transform: scale(1.2);
}
