<form [formGroup]="formGroup">
  <ion-item *ngIf="errorMessage | async">
    <ion-label class="error-message">{{(errorMessage | async) | translate}}</ion-label>
  </ion-item>
  <ion-item *ngIf="!userEnv.isPersonalShopper()">
    <ion-label position="floating">{{'Cluster name' | translate}}</ion-label>
    <ion-input formControlName="name" (ionChange)="isFormValid.emit(formGroup.valid)"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating" appInputError [label]="'Template'" [control]="templateControl" [errors]="templateControl.errors"></ion-label>
    <ion-select (ionChange)="onTemplateChange($event)" formControlName="template" interface="popover">
      <ion-select-option *ngFor="let temp of templateList; index as index" [value]="index">{{temp}}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-list>
    <ion-item lines="none">
      <ion-buttons slot="start">
        <ion-label>{{'Product list' | translate}}</ion-label>
        <ion-select [value]="translateService.currentLang" interface="popover" (ionChange)="changeLng($event)">
          <ion-select-option *ngFor="let lng of translateService.langs" [value]="lng">{{lng}}</ion-select-option>
        </ion-select>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button color="primary" fill="clear" (click)="openProductCreator()">
          <ion-icon name="add" style="margin-right: 5px"></ion-icon>
          <ion-label>{{'Create product' | translate}}</ion-label>
        </ion-button>
        <ion-button color="primary" fill="clear" (click)="openProductFinder()">
          <ion-icon name="search" style="margin-right: 5px"></ion-icon>
          <ion-label>{{'Search existing' | translate}}</ion-label>
        </ion-button>
      </ion-buttons>
    </ion-item>
    <ion-reorder-group (ionItemReorder)="reorderItems($event)" disabled="false">
      <ion-item-sliding [disabled]="!platform.is('mobile')" *ngFor="let product of (products | async); index as i">
        <ion-item>
          <ion-label>{{getProductTitle(product)}}</ion-label>
          <ion-buttons slot="end">
            <ion-button (click)="openProductCreator(product.product_ean, true)">
              <ion-icon name="pencil"></ion-icon>
            </ion-button>
            <ion-button color="danger" (click)="deleteProduct(i)">
              <ion-icon name="trash-sharp"></ion-icon>
            </ion-button>
            <ion-button (click)="toggleContent(i)">
              <ion-icon name="chevron-down-outline" [name]="(expandedRow | async) === i ? 'chevron-up-outline' : 'chevron-down-outline'"></ion-icon>
            </ion-button>
            <ion-reorder></ion-reorder>
          </ion-buttons>
        </ion-item>
        <div class="expandable" [ngClass]="(expandedRow | async) === i ? 'expanded' : 'not-expanded'">
          <app-product-details
                  [product]="product"
          ></app-product-details>
        </div>
      </ion-item-sliding>
    </ion-reorder-group>
  </ion-list>
</form>
