<ion-reorder-group (ionItemReorder)="reorderItems($event)" disabled="false">
  <div *ngFor="let item of itemList; index as index">
    <ion-item-sliding (click)="onItemClicked(item)" style="margin-top: 10px">
      <ion-item *ngIf="itemListPicture.get(item.id)">
        <img src="{{itemListPicture.get(item.id)}}" alt="Avatar" width="60" height="60" appHelpPopover [helpMessage]="item.name"/>
        <ion-buttons slot="end" style="margin-left: 0" *appEditorViewOnly>
          <ion-button (click)="openMenuItemCreationModal($event, item)"
                      appHelpPopover [helpMessage]="'Edit' | translate">
            <ion-icon name="pencil"></ion-icon>
          </ion-button>
          <ion-button class="trash-button" appHelpPopover [helpMessage]="'Delete' | translate"
                      (click)="onDeleteItem(item, $event)">
            <ion-icon name="trash"></ion-icon>
          </ion-button>
          <ion-reorder appHelpPopover [helpMessage]="'Hold and move to change the list order' | translate"></ion-reorder>
        </ion-buttons>
      </ion-item>
    </ion-item-sliding>
  </div>
  <ion-buttons *appClientViewOnly style="margin-left: 13px">
    <ion-button *ngIf="isPrivateShowroom()" (click)="logOut()" class="logOut">
      <ion-icon size="large" name="power-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-reorder-group>
