@use '~src/theme/custom';

ion-item {
  ion-button {
    width: 100%;
    text-transform: none;
    ion-icon {
      margin-right: 7px;
    }
  }
}

ion-item-sliding {
  /*--ion-background-color: rgba(61,61,61,0);*/
  background-color: transparent;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently*/

  ion-icon {
    color: custom.$rvr-darkblue;
  }

  ion-label {
    transition: transform .2s ease;
  }

  .trash-button:hover ion-icon {
    color: custom.$danger;
  }
}

ion-item-sliding:hover ion-label {
  transform: translateX(8px);
  cursor: pointer;
}

ion-item-sliding, ion-item {
  --background: transparent;

  .add-to-list-button {
    width: 100%;
  }
}

img {
  cursor: pointer;
  border: 2px;
  border-radius: 50%;
  border-style: solid;
  border-color: var(--ion-menu-background);
}

.logOut {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: white;
  background-color: custom.$danger;
  margin-top: 10px
}
