<ion-content scroll-y="true">
  <ion-list>
    <ion-list-header style="padding: 0">
      <ion-item style="width: 100%">
        <ion-title  *ngIf="!editMode" style="padding: 0"> {{'New Showroom'|translate}} </ion-title>
        <ion-title  *ngIf="editMode" style="padding: 0"> {{'Edit Showroom'|translate}} </ion-title>
        <ion-buttons slot="end">
          <ion-button class="close" (click)="DismissPopover()">
            <ion-icon name="close" ></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>
    </ion-list-header>
  </ion-list>
  <div fxLayout="column" fxLayoutAlign="space-around stretch" >
    <div style="min-height: 350px">
      <ion-item>
      <ion-label>{{'Showroom name'|translate}}:</ion-label>
      <ion-input type="text" [(ngModel)]="showroomName" name="showroom" required></ion-input>
    </ion-item>
      <ion-item>
        <ion-label>{{'Client name'|translate}}:</ion-label>
        <ion-input type="text" [(ngModel)]="clientName" name="name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>{{'Client email'|translate}}:</ion-label>
        <ion-input type="text" [(ngModel)]="clientEmail" name="name"></ion-input>
      </ion-item>
      <ion-item *ngIf="editMode">
        <ion-button color="primary" fill="solid" expand="block"  (click)="copyLink()">
          <ion-label color="secondary" >{{'Copy url link' | translate}}</ion-label>
          <ion-icon name="copy-outline"></ion-icon>
        </ion-button>
      </ion-item>

    </div>
    <div>
      <ion-button color="primary" fill="solid" expand="block" [disabled]="showroomName === undefined" (click)="editMode ? updateShowroom() :saveShowroom() ">
        <ion-icon name="save-outline"></ion-icon>
        &nbsp;
        <ion-label *ngIf="!editMode"  color="secondary" >{{'Save' | translate}}</ion-label>
        <ion-label *ngIf="editMode" color="secondary" >{{'Update' | translate}}</ion-label>
      </ion-button>
    </div>
  </div>
</ion-content>

