@use '../../../../../../theme/custom';
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;800&display=swap');


.main-container {
  display: inline-flex;
  background: white;
  margin: auto 0;
  overflow-y: auto;
  padding: .5em;
  pointer-events: all;
}

.close-button {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;

  ion-icon {
    min-width: 75px;
  }
}

.catamaran {
  font-family: 'Catamaran', sans-serif !important;
}

ion-item {
  width: 100%;
  height: 100%;
}

.side {
  .left-side {
    width: 100%;
    height: 100%;
  }

  .right-side {
    width: 100%;
    height: 100%;
  }
}

// LEFT SIDE
.player {
  background-color: white;
}

.miniatures {
  background-color: white;
  position: relative;
}

.desc-title, .info-sup-title {
  background-color: white;
  box-sizing:border-box;
  -webkit-box-sizing:border-box;
  border-bottom: 4px solid custom.$blue-cci;

  ion-item {
    --background: custom.$blue-cci !important;
    height: fit-content;
  }

  .label-container {
    background-color: custom.$blue-cci;
    padding: 0 1em;
    border-radius: .3em .3em 0 0;
    width: fit-content;

    ion-label {
      color: white;
    }
  }
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.desc-txt {
  background-color: white;
  overflow-y: auto;
  padding: 1em;

  &::-webkit-scrollbar {
    width: 0.7em;
    display: block !important;
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
    border-radius: 1em;
    box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
  }

  &::-webkit-scrollbar-thumb {
    background-color: #c4c4c4;
    border-radius: 1em;
  }
}



// RIGHT SIDE
.title {

  .title-container {
    display: flex;
    justify-content: left;
    align-items: center;

    ion-label {
      text-align: left;
      font-weight: bold;
      font-size: 2rem;
    }

    .logo {
      text-align: right !important;
    }
  }

  ion-grid, ion-row, ion-col, img {
    height: 100%;
  }
  ion-col {
    text-align: center;
    img {
      width: 75px;
      object-fit: contain;
    }
  }
}

.txt {
  background-color: white;
}

.pdfs {
  background-color: white;

  ion-chip {
    i {
      margin-right: 10px;
    }
  }
}

.actions {
  background-color: white;

  ion-button {
    text-transform: none;

    &::part(native) {
      background-color: custom.$blue-cci !important;
    }

    .material-icons {
      margin-right: 10px;
    }
  }
}

.social-networks {
  background-color: white;

  &-grids {

    &-button {
      position: relative;
      width: 30px;
      height: 30px;
      border-radius: .5em;
      background-color: custom.$blue-cci;

      ion-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        height: 50%;
        transform: translate(-50%, -50%) scale(2);
        display: block;
      }
    }
  }
}

.info-sup {
  background-color: #adbf91;
}


