<div class="spinner-container" *ngIf="!(allMediasLoaded | async)" (click)="close()">
  <ion-spinner name="circles" color="light"></ion-spinner>
</div>
<ion-header *ngIf="isMd()" [ngStyle]="{'display' : (allMediasLoaded | async) ? 'block' : 'none'}">
  <div class="grabber"></div>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="ellipsis-horizontal"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-grid [ngStyle]="{'display' : (allMediasLoaded | async) ? 'block' : 'none', 'overflow-y': (isMd()) ? 'scroll' : 'hidden'}">
  <ion-item *ngIf="isEditor" class="edit" size="large">
    <ion-select [value]="template" (ionChange)="onTemplateChange($event)" interface="popover">
      <ion-select-option *ngFor="let temp of templateList; index as index" [value]="index">{{temp}}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-button *ngIf="!isMd()" fill="clear" class="close" size="large" shape="round" (click)="close()">
    <ion-icon name="close"></ion-icon>
  </ion-button>
  <ion-row *ngIf="isMd() && title">
    <ion-col class="up-title" style="border: none">
      <ion-label class="title">{{title}}</ion-label>
    </ion-col>
    <ion-col *ngIf="pdfUrl" style="text-align: right">
      <ion-button (click)="openUrl(pdfUrl)" fill="outline">PDF</ion-button>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="isMd() && subtitle">
    <ion-col class="up-title">
      <ion-label [class]="(title && title.length > 0) ? 'subtitle' : 'title'">{{subtitle}}</ion-label>
    </ion-col>
    <ion-col *ngIf="pdfUrl && (!title || title.length === 0)" style="text-align: right">
      <ion-button (click)="openUrl(pdfUrl)" fill="outline">PDF</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col [sizeXs]="12" [sizeMd]="6" class="product-medias">
      <ion-row>
        <ion-col *ngIf="slides.length === 0">
          <ion-slides [options]="slidesOptions" [pager]="true">
            <ion-slide style="max-height: 350px">
              <img src="assets/ui/nophoto.jpg" alt="no-photo"/>
            </ion-slide>
          </ion-slides>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="!isMd()">
        <ion-col>
          <ion-col class="current-media" *ngIf="slides.length > 0">

            <ion-slides [options]="slidesOptions" class="custom-product-slider" [pager]="true"
                        #slider >
              <ion-slide *ngFor="let slide of slides; let idx= index"
                         class="custom-product-media-container ion-align-items-center ion-justify-content-center" style="max-height: 350px">
                <div *ngIf="slide.media.type === 'object'" class="app-visualizer">
                  <ion-progress-bar *ngIf="!isReady" type="indeterminate"></ion-progress-bar>
                  <app-visualizer #visualizer *ngIf="currentIndex === idx && data.object"  style="height: 100%; width: 100%;"
                                  (visualizerLoaded)="setIsReady()"
                                  [object]="data.object"
                                  [glbUrl]="slide.src"
                                  [objectType]="'products'"
                                  [configurations]="configurations">
                  </app-visualizer>
                </div>

                <img *ngIf="slide.media.type === 'picture'" (load)="mediaLoaded(idx)" [src]="slide.src | safe:'resourceUrl'" [alt]="'min' + idx"/>
                <div *ngIf="slide.media.type === 'video'" class="iframe-container">
                  <video #video controls [autoplay]="!isMobile()" oncanplay="this.muted=true" loop (loadeddata)="mediaLoaded(idx, video)">
                    <source [src]="slide.src | safe:'resourceUrl'"/>
                  </video>
                </div>
              </ion-slide>
            </ion-slides>
          </ion-col>
          <ion-row *ngIf="slides.length > 0 ">
            <ion-col *ngFor="let slide of slides; index as index"
                     [ngClass]="(index === (currentMedia | async)) ? 'current' : ''"
                     class="miniature">

              <img *ngIf="slide.media.type === 'object'"  src="assets/ui/nophoto.jpg" alt="no-photo" (click)="slideTo(index)"/>
              <img *ngIf="slide.media.type === 'picture'" [src]="slide.src | safe:'resourceUrl'" [alt]="'min' + index" (click)="slideTo(index)"/>
              <ion-icon *ngIf="slide.media.type === 'video'" name="play-circle" class="play-button" (click)="slideTo(index)"></ion-icon>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="slides.length === 0">
            <ion-col class="current miniature">
              <img src="assets/ui/nophoto.jpg" alt="no-photo"/>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-col>

    <ion-col [sizeXs]="12" [sizeMd]="6" class="product-description">
      <ion-row *ngIf="!isMd() && title">
        <ion-col style="display: grid; align-self: center; padding-left: 0 !important;">
          <ion-label class="title">{{title}}</ion-label>
        </ion-col>
        <ion-col style="text-align: right" *ngIf="pdfUrl">
          <ion-button (click)="openUrl(pdfUrl)" fill="outline">PDF</ion-button>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="!isMd() && subtitle">
        <ion-col [ngStyle]="{'display': (!title) ? 'grid' : '', 'align-self': (!title) ? 'center' : '', 'padding-left': '0'}">
          <ion-label [class]="title ? 'subtitle' : 'title'">{{subtitle}}</ion-label>
        </ion-col>
        <ion-col style="text-align: right" *ngIf="pdfUrl && (!title || title.length === 0 )">
          <ion-button (click)="openUrl(pdfUrl)" fill="outline">PDF</ion-button>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="customerEnv.showPrice !== false"
               [ngStyle]="{'padding-bottom': (price && customerEnv.showPrice) ? '20px' : '', 'padding-top': '20px'}">
        <ion-label class="price">{{price | currency:customerEnv.currency}}</ion-label>
      </ion-row>
      <ion-row style="padding-bottom: 30px" *ngIf="!showroomEnv.hideWishlist">
        <app-quantity-button
                [ean]="ean"
                [price]="price"
                [inventoryQuantity]="product.inventory_quantity"
        ></app-quantity-button>
      </ion-row>
      <app-object-configurator *ngIf="product && product.selections && product.selections.length > 0"
                               (configToSave)="saveConfiguration($event)"
                               [product]="product"
                               [currentConfig]="data?.object?.userData?.currentConfig">
      </app-object-configurator>
      <ion-row *ngIf="twitterUrl || facebookUrl || instagramUrl">
        <ion-label>Laissez un commentaire</ion-label>
      </ion-row>
      <ion-row>
        <ion-button *ngIf="twitterUrl" fill="clear" color="primary" size="large" (click)="openUrl(twitterUrl)">
          <ion-icon  name="logo-twitter" style="color: rgb(29, 161, 242);"></ion-icon>
        </ion-button>
        <ion-button *ngIf="facebookUrl" fill="clear" color="primary" size="large" (click)="openUrl(facebookUrl)">
          <ion-icon name="logo-facebook" class="item" style="color: #3578E9;"></ion-icon>
        </ion-button>
        <ion-button *ngIf="instagramUrl" fill="clear" color="primary" size="large" (click)="openUrl(instagramUrl)">
          <ion-icon name="logo-instagram" class="item" style="color: #DD2A7B;"></ion-icon>
        </ion-button>
      </ion-row>
      <ion-row class="description-row">
        <ion-label class="description-title">Description</ion-label>
      </ion-row>
      <ion-row>
        <ion-text [ngStyle]="{'overflow-y': (isMd()) ? 'visible' : 'auto'}" style="white-space: pre-wrap">
          {{description}}
        </ion-text>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-grid>
