ion-grid {
  width: 100%;
  height: 100%;
  padding: 30px;
  overflow-y: scroll;
  background-color: white;
}

.edit {
  position: absolute;
  margin-right: 10px;
  margin-top: -10px;
  right: 40px;
  top: 0;
  --ripple-color: transparent;
  --background-hover: transparent;
  --color: grey;

  ion-icon {
    transition: all .1s ease-in-out;
  }

  &:hover {
    --color: black;
  }

  &:hover ion-icon {
    transform: rotate(180deg);
  }
}

.close {
  position: absolute;
  margin-right: -10px;
  margin-top: -10px;
  right: 0;
  top: 0;
  --ripple-color: transparent;
  --background-hover: transparent;
  --color: grey;

  ion-icon {
    transition: all .1s ease-in-out;
  }

  &:hover {
    --color: black;
  }

  &:hover ion-icon {
    transform: rotate(180deg);
  }
}

ion-header {
  margin-top: 40px;

  ion-toolbar {
    border-radius: 1em 1em 0 0;

    .url-container {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin: 0 auto;
    }
  }

  .grabber {
    width: 70px;
    height: 6px;
    border-radius: .2em;
    background: gainsboro;
    margin: 0 auto 5px;

    &:hover {
      cursor: grab;
    }
  }
}

ion-text {
  color: grey;
  max-height: 200px;
  overflow-y: scroll;
}

.current-media {
  img {
    max-height: 350px;
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
  }
}

.iframe-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  display: block;
  margin: auto;
  top: 0;
  width: 100%;

  video {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
    max-height: 350px;
  }
}

.miniature {
  min-height: 70px;

  .play-button {
    top: 50%;
    display: block;
    width: 100%;
    left: 0;
    height: 50%;
    color: black;
    position: absolute;
    transform: translateY(-50%);
    opacity: .5;
    transition: opacity .2s ease-in-out;

    &:hover {
      cursor: pointer;
    }
  }

  &.current {
    box-shadow: 0 -1px 0 #000000;

    & > img {
      opacity: 1;
    }

    & > ion-icon {
      opacity: 1;
    }
  }

  &:not(.current):hover {
    cursor: pointer;
  }

  img {
    display: block;
    margin: auto;
    height: 70px;
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
  }
}

canvas {
  height:100%;
  width: 100%;
}

.description-row {
  margin-bottom: 10px;
  .description-title {
    font-size: 1.2rem;
  }
}

.up-title {
  padding: 0 14px 14px;
  border-bottom: 1px solid #e8e8e8;
}

.product-medias {
  padding: 0 14px 14px;
}

.product-description {
  padding: 0 14px 14px;

  .price {
    font-size: 3rem;
    color: #086fcf;
    letter-spacing: -2px;
  }

}

.title {
  font-size: 1.7rem;
}

.subtitle {
  font-size: 1rem;
  color: grey;
  margin-bottom: 10px;
}

.spinner-container {
  background-color: transparent;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 2;

  ion-spinner {
    transform: translateY(-50%) scale(1.5);
    display: block;
    margin: auto;
    top: 50%;
  }
}

.center {
  display: block;
  margin: auto;
}
.app-visualizer {
  height: 100%;
  width: 100%;
  display: block;
}
