<div class="video-container">
  <audio autoplay *ngIf="participant.tracks.audio" [srcObject]="participant.tracks.audio.stream"></audio>
  <video
          *ngIf="participant.tracks.video && !isVideoMuted()"
          [srcObject]="participant.tracks.video.stream"
          autoplay>
  </video>
  <div *ngIf="isVideoMuted()">
    <img src="https://i2.wp.com/cediv.travel/wp-content/uploads/2017/09/no-avatar-7.png?w=500&ssl=1">
  </div>
  <div class="video-call-icons">
    <ion-button *ngIf="isVideoMuted()" mode="md" class="video-call-icon" shape="round" size="small" color="warning">
      <i class="material-icons" style="color: white">videocam_off</i>
    </ion-button>
    <ion-button *ngIf="isAudioMuted()" mode="md" class="video-call-icon" shape="round" size="small" color="warning">
      <i class="material-icons" style="color: white">mic_off</i>
    </ion-button>
  </div>
</div>
