.video-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.video-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-call-icons {
  position: absolute;
  width: auto;
  bottom: 0;
  right: 0;
  height: 42px;
}

.video-call-icon {
  margin: 5px;
  height: 32px;
  width: 32px;
  opacity: 0.8;
}