<ion-grid>
  <ion-row>
    <ion-col size="3" *ngFor="let sprite of sprites | keyvalue">
      <div class="sprite-picker-button" (click)="selectSprite(sprite.key)">
        <img style="width: 35px; height: 35px" [src]="sprite.value.toString()">
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
