<ion-card>
  <ion-card-header>
    <ion-card-title>
      <ion-item lines="none">
        <ion-title style="padding-left: 0;">{{'Product finder' | translate}}</ion-title>
        <ion-item lines="none" appHelpPopover [helpMessage]="'Search in the product list of your tenant by EAN / Code or by name' | translate">
          <ion-icon name="help-circle" style="pointer-events: none"></ion-icon>
        </ion-item>
      </ion-item>
    </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-searchbar #searchbar debounce="3000" [placeholder]="('Search' | translate)"></ion-searchbar>
    <ion-content>
      <div *ngIf="!(productListLoaded$ | async)" class="spinner-container">
        <ion-spinner name="circles"></ion-spinner>
      </div>
      <div *ngIf="(nbProducts | async) === 0 && (productListLoaded$ | async)" class="no-product-container">
        <ion-label>{{'No products' | translate | titlecase}}</ion-label>
      </div>
      <ion-list>
        <div *ngFor="let product of (filteredProducts | async); index as i">
          <ion-item lines="none">
            <ion-label>{{getProductTitle(product)}}</ion-label>
            <ion-buttons slot="end">
              <ion-button (click)="toggleContent(i)">
                <ion-icon name="chevron-down-outline" [name]="(expandedRow | async) === i ? 'chevron-up-outline' : 'chevron-down-outline'"></ion-icon>
              </ion-button>
              <ion-button (click)="onCheck(product.ean)">
                <ion-checkbox color="primary" [(ngModel)]="product['checked']"></ion-checkbox>
              </ion-button>
            </ion-buttons>
          </ion-item>
          <div class="expandable" [ngClass]="(expandedRow | async) === i ? 'expanded' : 'not-expanded'">
            <app-product-details [product]="product"></app-product-details>
          </div>
        </div>
      </ion-list>
      <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content
                loadingSpinner="bubbles"
                [loadingText]="'Loading more products...' | translate">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ion-content>
    <ion-footer>
      <ion-toolbar>
        <ion-row>
          <ion-col>
            <ion-buttons>
              <ion-button color="danger" fill="solid" (click)="dismiss()">
                <ion-label>{{'Cancel' | translate}}</ion-label>
              </ion-button>
            </ion-buttons>
          </ion-col>
          <ion-col>
            <ion-buttons>
              <ion-button color="primary" fill="solid"
                          (click)="confirm()"
                          [disabled]="nbProductChecked() === 0">
                <ion-label>{{'Import' | translate}}</ion-label>
              </ion-button>
            </ion-buttons>
          </ion-col>
        </ion-row>
      </ion-toolbar>
    </ion-footer>
  </ion-card-content>
</ion-card>
