<div class="spinner-container" *ngIf="!(allMediasLoaded | async)" (click)="close()">
    <ion-spinner name="circles" color="light"></ion-spinner>
</div>
<ion-header *ngIf="isMd()" [ngStyle]="{'display' : (allMediasLoaded | async) ? 'block' : 'none'}">
    <div class="grabber"></div>
    <ion-toolbar color="light">
        <ion-buttons slot="start">
            <ion-button (click)="close()">
                <ion-icon name="close-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-buttons>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button>
                <ion-icon name="ellipsis-horizontal"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-grid [ngStyle]="{'display' : (allMediasLoaded | async) ? 'block' : 'none', 'overflow-y': 'scroll', 'padding-left': '0', 'padding-right': '0'}">
    <ion-button *ngIf="!isMd()" fill="clear" class="close" size="large" shape="round" (click)="close()">
        <ion-icon name="close"></ion-icon>
    </ion-button>
    <ion-row *ngIf="isMd() && title">
        <ion-col class="up-title">
            <ion-label class="title">{{title}}</ion-label>
        </ion-col>
        <ion-col *ngIf="pdfUrl">
            <ion-button (click)="openUrl(pdfUrl)">
                PDF
            </ion-button>
        </ion-col>
    </ion-row>
    <ion-row *ngIf="isMd() && subtitle">
        <ion-col class="up-title">
            <ion-label [class]="(title) ? 'subtitle' : 'title'">{{subtitle}}</ion-label>
        </ion-col>
    </ion-row>
    <ion-row *ngIf="!isMd()">
        <ion-col [sizeXs]="12" [sizeMd]="6" class="product-medias">
            <ion-row>
                <ion-col class="current-media" *ngIf="slides.length > 0">
                    <ion-slides [options]="slidesOptions" class="custom-product-slider" [pager]="true" #slider (ionSlideDidChange)="changeSlide($event)" (ionSlidesDidLoad)="initSlider()">

                        <ion-slide *ngFor="let slide of slides; let idx= index" class="custom-product-media-container ion-align-items-center ion-justify-content-center" style="max-height: 350px">

                                <app-visualizer *ngIf="currentIndex === idx  && slide.media.type === 'object'"  style="height: 100%; width: 100%;"
                                                (visualizerLoaded)="setIsReady()"
                                                [glbUrl]="slide.src"
                                                [objectType]="'products'"
                                                [code]="code"
                                                [configurations]="configurations"
                                                [textureUrl]="textureUrl">
                                </app-visualizer>

                            <img *ngIf="slide.media.type === 'picture'" (load)="mediaLoaded(idx)" [src]="slide.src | safe:'resourceUrl'" [alt]="'min' + idx"/>
                            <div *ngIf="slide.media.type === 'video'" class="iframe-container">
                                <video #video controls [autoplay]="!isMobile()" oncanplay="this.muted=true" loop (loadeddata)="mediaLoaded(idx, video)">
                                    <source [src]="slide.src | safe:'resourceUrl'"/>
                                </video>
                            </div>
                        </ion-slide>
                    </ion-slides>
                </ion-col>
                <ion-col *ngIf="slides.length === 0">
                    <ion-slides [options]="slidesOptions" [pager]="true">
                        <ion-slide style="max-height: 350px">
                            <img src="assets/ui/nophoto.jpg" alt="no-photo"/>
                        </ion-slide>
                    </ion-slides>
                </ion-col>
            </ion-row>
            <ion-row *ngIf="!isMd()">
                <ion-col>
                    <ion-row *ngIf="slides.length > 0 ">
                        <ion-col *ngFor="let slide of slides; index as index"
                                 [ngClass]="(index === (currentMedia | async)) ? 'current' : ''"
                                 class="miniature">

                            <img *ngIf="slide.media.type === 'object'"  src="assets/ui/nophoto.jpg" alt="no-photo" (click)="slideTo(index)"/>
                            <img *ngIf="slide.media.type === 'picture'" [src]="slide.src | safe:'resourceUrl'" [alt]="'min' + index" (click)="slideTo(index)"/>
                            <ion-icon *ngIf="slide.media.type === 'video'" name="play-circle" class="play-button" (click)="slideTo(index)"></ion-icon>
                        </ion-col>
                    </ion-row>
                    <ion-row *ngIf="slides.length === 0">
                        <ion-col class="current miniature">
                            <img src="assets/ui/nophoto.jpg" alt="no-photo"/>
                        </ion-col>
                    </ion-row>
                </ion-col>
            </ion-row>
        </ion-col>

        <ion-col [sizeXs]="12" [sizeMd]="6" class="product-description">


            <ion-row style="padding-left: 0">
                <ion-col class="up-portion">
                    <ion-row style="padding-left: 14px;" *ngIf="!isMd() && title">
                        <ion-label class="title">{{title}}</ion-label>
                    </ion-row>
                    <ion-row style="padding-right: 0">
                        <div class="spacer s66" ></div>
                    </ion-row>
                    <ion-row style="padding-left: 14px;" *ngIf="!isMd() && subtitle">
                        <ion-label [class]="title ? 'subtitle' : 'title'">{{subtitle}}</ion-label>
                    </ion-row>
                    <ion-row>
                        <div class="spacer s33" ></div>
                    </ion-row>
                </ion-col>
                <ion-col>
                    <app-object-configurator *ngIf="product"

                                             (configToSave)="saveConfiguration($event)"
                                             [product]="product">

                    </app-object-configurator>
                </ion-col>

                <ion-col *ngIf="pdfUrl">
                    <ion-button (click)="openUrl(pdfUrl)">
                        PDF
                    </ion-button>
                </ion-col>
            </ion-row>

            <ion-row style="padding-left: 14px; height: 60%">
                <ion-text [ngStyle]="{'overflow-y': (isMd()) ? 'visible' : 'auto'}" style="white-space: pre-wrap; padding-top: 10px; word-wrap: break-word">
                    {{description}}
                </ion-text>
            </ion-row>
            <ion-row style="padding-top: 14px">
                <ion-col style="width: 49%">
                    <ion-row *ngIf="!showroomEnv.hideWishlist">
                        <app-quantity-button
                                [ean]="ean"
                                [price]="price"
                                [inventoryQuantity]="product.inventory_quantity"
                        ></app-quantity-button>
                    </ion-row>
                    <ion-row *ngIf="customerEnv.showPrice !== false">
                        <ion-label class="price">{{price | currency:customerEnv.currency}}</ion-label>
                    </ion-row>
                </ion-col>

                <ion-col class="border-top" style="width: 50%">
                    <ion-button size="large" style="flex-flow: column;" (click)="openUrl(websiteUrl)">
                        Contactez nous
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-col>
    </ion-row>
    <ion-row *ngIf="isMd()">
        <ion-row style="width: 100%" class="product-medias">
            <ion-row style="width: 100%" class="border-bottom">
                <ion-col class="current-media">
                    <ion-slides [options]="slidesOptions" [pager]="true" #slider (ionSlideDidChange)="changeSlide($event)" (ionSlidesDidLoad)="initSlider()">
                        <ion-slide *ngFor="let slide of slides; index as index" [ngClass]="(slide.media.type === 1) ? 'center' : ''" style="max-height: 350px; min-height: 350px">
                            <div *ngIf="slide.media.type === 'object'" class="app-visualizer ">
                                <ion-progress-bar *ngIf="!isReady" type="indeterminate"></ion-progress-bar>
                                <app-visualizer *ngIf="currentIndex === index "  style="height: 100%; width: 100%;"
                                                (visualizerLoaded)="setIsReady()"
                                                [canvasHeight]="100"
                                                [glbUrl]="slide.src"
                                                [objectType]="'products'"
                                                [code]="code"
                                                [configurations]="configurations"
                                                [textureUrl]="textureUrl">
                                </app-visualizer>
                            </div>
                            <img *ngIf="slide.media.type === 'picture'" (load)="mediaLoaded(index)" [src]="slide.src | safe:'resourceUrl'" [alt]="'min' + index"/>
                            <div *ngIf="slide.media.type === 'video'" class="iframe-container">
                                <video #video controls [autoplay]="!isMobile()" oncanplay="this.muted=true" loop (loadeddata)="mediaLoaded(index, video)">
                                    <source [src]="slide.src | safe:'resourceUrl'"/>
                                </video>
                            </div>
                        </ion-slide>
                    </ion-slides>
                    <div class="swiper-button-next" #nextButton [ngStyle]="{'display': (slides.length > 1) ? 'block' : 'none' }" (click)="nextMedia()"></div>
                    <div class="swiper-button-prev" #prevButton [ngStyle]="{'display': (slides.length > 1) ? 'block' : 'none' }" (click)="prevMedia()"></div>
                    <div class="swiper-pagination" [ngStyle]="{'display': (slides.length > 1) ? 'block' : 'none' }"></div>
                </ion-col>
            </ion-row>
            <ion-row style="width: 100%" class="border-bottom border-right">
                <ion-col style="padding: 0">
                    <ion-row>
                        <ion-col *ngFor="let slide of slides; index as index"
                                 [ngClass]="(index === (currentMedia | async)) ? 'current' : ''"
                                 class="miniature border-left">
                            <img *ngIf="slide.media.type === 'picture'" [src]="slide.src | safe:'resourceUrl'" [alt]="'min' + index" (click)="slideTo(index)"/>
                            <ion-icon *ngIf="slide.media.type === 'video'" name="play-circle" class="play-button" (click)="slideTo(index)"></ion-icon>
                        </ion-col>
                    </ion-row>
                </ion-col>
            </ion-row>
        </ion-row>
        <ion-row class="product-description">
            <ion-row style="padding-left: 14px; height: 60%">
                <ion-text [ngStyle]="{'overflow-y': (isMd()) ? 'visible' : 'auto'}" style="white-space: pre-wrap; padding-top: 10px; word-wrap: break-word">
                    {{description}}
                </ion-text>
            </ion-row>
        </ion-row>
        <ion-row style="padding-top: 14px; width: 100%">
            <ion-col style="width: 49%">
                <ion-row *ngIf="!showroomEnv.hideWishlist">
                    <app-quantity-button
                            [ean]="ean"
                            [price]="price"
                            [inventoryQuantity]="product.inventory_quantity"
                    ></app-quantity-button>
                </ion-row>
                <ion-row *ngIf="customerEnv.showPrice !== false">
                    <ion-label class="price">{{price | currency:customerEnv.currency}}</ion-label>
                </ion-row>
            </ion-col>
            <ion-col>
                <app-object-configurator *ngIf="product"
                                         (codeEmitter)="setCode($event)"
                                         (textureURlEmitter)="setTextureUrl($event)"
                                         (configToSave)="saveConfiguration($event)"
                                         [product]="product">

                </app-object-configurator>
            </ion-col>

            <ion-col class="border-top" style="width: 50%">
                <ion-button size="large" style="flex-flow: column; width: 100%" (click)="openUrl(websiteUrl)">
                    Contactez nous
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-row>
    <ion-row style="background-color: var(--ion-color-primary);">
        <ion-button color="medium" style="width: 100%" (click)="toggleDetailsContent()">
            Détails
        </ion-button>
    </ion-row>
    <ion-row style="padding: 14px;">
        <div class="expandable" [ngClass]="(isDetailsExpanded | async) ? 'expanded' : 'not-expanded'">
            <ion-text [ngStyle]="{'overflow-y': (isMd()) ? 'visible' : 'auto'}" style="white-space: pre-wrap; padding-top: 10px; word-wrap: break-word">
                {{details}}
            </ion-text>
        </div>
    </ion-row>
    <ion-row style="padding: 14px;" *ngIf="twitterUrl || facebookUrl || instagramUrl">
        <ion-label>Laissez un commentaire</ion-label>
    </ion-row>
    <ion-row>
        <ion-button *ngIf="twitterUrl" fill="clear" color="primary" size="large" (click)="openUrl(twitterUrl)">
            <ion-icon  name="logo-twitter" style="color: rgb(29, 161, 242);"></ion-icon>
        </ion-button>
        <ion-button *ngIf="facebookUrl" fill="clear" color="primary" size="large" (click)="openUrl(facebookUrl)">
            <ion-icon name="logo-facebook" class="item" style="color: #3578E9;"></ion-icon>
        </ion-button>
        <ion-button *ngIf="instagramUrl" fill="clear" color="primary" size="large" (click)="openUrl(instagramUrl)">
            <ion-icon name="logo-instagram" class="item" style="color: #DD2A7B;"></ion-icon>
        </ion-button>
    </ion-row>
</ion-grid>
