.register-button-container {
  margin-top: 20px;

  ion-button {
    width: 100%;
    height: 100%;
  }
}

ion-slide >:first-child {
  width: 100%;
}

.country-picker {
  &:hover {
    --background: whitesmoke;
    cursor: pointer;
  }
}
