<form [formGroup]="formGroup" (ngSubmit)="register()">
    <ion-item lines="none">
        <ion-label position="floating">{{'firstname' | translate | titlecase}}</ion-label>
        <ion-input formControlName="firstname" required></ion-input>
    </ion-item>
    <ion-item lines="none">
        <ion-label position="floating">{{'email address' | translate | titlecase}}</ion-label>
        <ion-input formControlName="email" required></ion-input>
    </ion-item>
    <ion-item lines="none" (click)="openCountryPicker()" class="country-picker">
        <ion-label>{{('country' | translate | titlecase)}}</ion-label>
        <ion-label style="text-align: right; padding-right: 10px">{{this.countryControl.value.name}}</ion-label>
        <flag-icon [country]="countryControl.value.alpha2"></flag-icon>
    </ion-item>
    <ion-item lines="none">
        <ion-label position="floating">{{'zipcode' | translate | titlecase}}</ion-label>
        <ion-input formControlName="zipcode" required></ion-input>
    </ion-item>
    <ion-item lines="none">
        <ion-label position="floating">{{'password' | translate | titlecase}}</ion-label>
        <ion-input formControlName="password" type="password" required></ion-input>
    </ion-item>

    <ion-item *ngIf="isCCI" lines="none">
        <ion-label class="rgpd-message">
            {{cciRGPD | translate}}
        </ion-label>
    </ion-item>
    <ion-item lines="none" class="register-button-container">
        <ion-button fill="solid" color="primary" type="submit" [disabled]="formGroup.invalid">
            {{'register' | translate | titlecase}}
        </ion-button>
    </ion-item>
</form>
