<ion-card [formGroup]="form">
  <ion-card-header>
    <ion-card-title>{{'Link to current position' | translate}}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-row>
      <ion-col size="9">
        <ion-item>
          <ion-input formControlName="title"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="3">
        <ion-radio-group formControlName="level">
          <ion-item>
            <ion-label>Niveau 1</ion-label>
            <ion-radio value="1">
            </ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Niveau 2</ion-label>
            <ion-radio value="2">
            </ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-col>
    </ion-row>
    <ion-grid>
      <ion-row>
        <ion-col style="text-align: center">
          <ion-button (click)="validate()" [disabled]="form.invalid">{{'Confirm' | translate}}</ion-button>
        </ion-col>
        <ion-col style="text-align: center">
          <ion-button (click)="dismiss()" color="danger">{{'Dismiss' | translate}}</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>

