.call-window {
  right: 0;
  bottom: 50px;
  width: 300px;
  height: 300px;
  border: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 7px;
  margin-right: 25px;
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
  background: seashell;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
  0 2px 2px 0 rgba(0, 0, 0, 0.14),
  0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.call-window:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.call-overlay {
  z-index: 100 !important;
  position: absolute;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2));
  opacity: 0;
  width: 100%;
  height: 100%;
  transition: all .2s ease-in-out .5s;
}

.call-overlay:hover, .call-overlay:active {
  opacity: 1;
  transition: all .2s ease-in-out;
}

.call-window-container {
  width: 100%;
  height: 100%;
  max-width: 100%;
  border: dotted #ccc 2px;
}