<ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="enabled && !opened">
  <ion-fab-button (click)="startCall()">
    <ion-icon name="call-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>

<div class="call-window-container" #callWindow *ngIf="opened && enabled">
  <ion-card cdkDrag cdkDragBoundary=".call-window-container" class="call-window" [cdkDragStartDelay]="10" [cdkDragFreeDragPosition]="position">

    <app-call-overlay *ngIf="hasPermission" class="call-overlay" (endCall)="stopCall()"></app-call-overlay>
    <app-video-call style="width: 100%; height: 100%" *ngIf="participants.length > 0 && hasPermission" [participant]="participants[0]"></app-video-call>

    <div *ngIf="participants.length <= 0 && hasPermission">
      <ion-grid>
        <ion-row>
          <span>{{'Waiting for your contact to connect' | translate}}...</span>
        </ion-row>
        <ion-row>
          <ion-spinner style="left: 50%;transform: translateX(-50%)" name="dots"></ion-spinner>
        </ion-row>
      </ion-grid>
    </div>

    <div *ngIf="hasPermission === false">
      <ion-grid>
        <ion-row>
          <span>{{'Please allow this tab the use of the microphone and webcam' | translate}}.</span>
        </ion-row>
      </ion-grid>
    </div>

    <div *ngIf="hasPermission === null">
      <ion-grid>
        <ion-row>
          <span>{{'Checking permissions' | translate}}...</span>
        </ion-row>
        <ion-row>
          <ion-spinner style="left: 50%;transform: translateX(-50%)" name="dots"></ion-spinner>
        </ion-row>
      </ion-grid>
    </div>


  </ion-card>
</div>