.timeout {
  width: 100%;
  height: 100%;
  background-color: #131313;

  ion-card {
    width: 30%;
    text-align: center;
    margin: 0 auto;
    background-color: #131313;
    box-shadow: none;
    top: 50%;
    transform: translateY(-50%);

    ion-card-title, ion-card-subtitle {
      color: white;
    }
  }
}
