<div class="timeout" [ngStyle]="{'backgroundImage': 'url(' + backgroundImageUrl + ')'}">
  <ion-card>
    <ion-card-content>
      <ion-card-title class="title">{{'Access to the showroom is expired' | translate}}</ion-card-title>
    </ion-card-content>
  </ion-card>
</div>
